[2018-09-04 04:25] greenkeeper[bot] opened #1 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-09-04 04:25] greenkeeper[bot] opened #2 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-09-04 04:30] #1 closed

[2018-09-04 04:30] #2 closed

[2018-09-07 11:08] supersh86 opened #4 "Mouse auto hide"
Hello Rafa.
Congratulations on the project website.

In the testing process, we noticed that in the full screen mode, the mouse does not disappear, and the status bar turns into a thin strip. Is it possible to remove all the elements in a full screen, that they would not interfere with viewing, as on YouTube?

[2018-09-07 11:10] rafa8626 commented on #4
Thanks!! There’s still work to do but we could finally put a website for it.

If you could provide me a screenshot of what you are getting and one of what it is desired I’d appreciate so I can check today. Thanks

[2018-09-07 11:48] supersh86 commented on #4
I decided to test on your site, that would show that the problem is not just for me.
After the initialization, I press or on the play and then on the full screen, or immediately on the full screen.
[!Imgur](https://i.imgur.com/f7F6Pq4.png?1)

In full screen mode, the mouse does not disappear and the cantrol bar decreases to a small strip. Macos does not allow you to make a screenshot of the mouse

[2018-09-07 11:57] rafa8626 commented on #4
Thanks I'll take a look at these bugs and let you know when fixed

[2018-09-07 13:52] rafa8626 commented on #4
Please download the master branch and let me know if it works for you

[2018-09-07 16:16] supersh86 commented on #4
Hiding works
But "om-player__media" continues to be inactive, if the player is in full screen. Only the play icon works.
In this case, you can not put the player on pause in the full screen.

[2018-09-07 17:15] rafa8626 commented on #4
Ok I think I got it now. Please download the master branch and test again, please.

Once you say it's fine, I'll update the file in the main website. Thanks

[2018-09-07 18:18] rafa8626 commented on #4
Let me know if it worked for you the last fix

[2018-09-07 19:38] rafa8626 commented on #4
Which part doesn't work in Safari and Firefox? Is the clicking on the media when in fullscreen not working on those browsers?

[2018-09-07 21:07] supersh86 commented on #4
safari & firefox stop start
In chrome, I found a new bug, if I change the volume of the sound, the mouse does not hide.

By the way, you did not think to remember the volume settings through the cookie?

[2018-09-08 05:11] rafa8626 commented on #4
I tested the master branch in FF and Safari. The only thing I noticed is that Safari takes longer to hide the cursor but it hides it. I was able to play/pause clicking on media. I couldn't also reproduce the isseu of the volume. Once I changed it, it hid the control bar

[2018-09-08 16:39] supersh86 opened #5 "The video starts before the advertisement."
Rafa I found for you a new bug.

My users, who are very far from the server with advertising, have problems with premature video launch.

The video starts before the advertisement, the control elements do not work. If you press the pause, the Preroll starts.

I simulated this problem through Chrome using slow internet settings.

![Imgur](https://i.imgur.com/0wc6pRP.png)
![Imgur](https://i.imgur.co

[2018-09-08 16:41] rafa8626 commented on #5
I’ll check this. Thanks for reporting it

[2018-09-09 16:55] rafa8626 commented on #5
@supersh86 Please download the master branch and let me know if it worked for you. It's tricky, but I think with the flag I implemented to detect if the play was requested, it should help to play the Ads correctly under the scenario you specified. Please let me know

[2018-09-10 12:07] supersh86 commented on #5
It looks like it works. Thank you

[2018-09-10 12:12] rafa8626 commented on #5
You are welcome. Thanks for testing this!

[2018-09-10 12:12] #5 closed

[2018-09-10 14:02] supersh86 opened #6 "Add network error event"
Rafa hello.
Can you add to the event, the error networkerror which occurs when the media download error?

[2018-09-10 14:14] rafa8626 commented on #6
Can you give me an example of how to get that error?

[2018-09-10 14:57] supersh86 commented on #6
https://www.openplayerjs.com/embed.html?file=https%3a%2f%2f123.com%2f5.mp4%2fplaylist.m3u8&type=video

[2018-09-10 17:58] rafa8626 commented on #6
What you need is for the player is to dispatch the error so you can listen to it , correct? Or is there anything else you will need to do with that event?

[2018-09-10 23:26] supersh86 commented on #6
I just want to catch it and send an error message to the user.

It will be enough for me if this event is on the list of your api.

[2018-09-11 04:29] rafa8626 commented on #6
@supersh86 Ready. Please download the master branch and those events will be available now. README has a note about them as well. Let me know if it works for you

[2018-09-11 16:33] supersh86 commented on #6
Safari ios mobile

As of today, it is supported on:
Chrome for Android 34+
Chrome for Desktop 34+
Firefox for Android 41+
Firefox for Desktop 42+
IE11+ for Windows 8.1+
Edge for Windows 10+
Opera for Desktop
Vivaldi for Desktop
Safari for Mac 8+ (beta)

[2018-09-11 17:54] rafa8626 commented on #6
Thanks for the update; please download the master branch and test and let me know if it works for you.

[2018-09-11 18:33] supersh86 commented on #6
We are not a company, we are an online community.
![Imgur](https://i.imgur.com/86uZ4qk.png)

[2018-09-11 18:42] rafa8626 commented on #6
Thanks

[2018-09-11 18:50] supersh86 opened #7 "Advanced options for the vast"
I had 2 ideas about VAST
1 extended download ima.js
Sometimes ima.js is blocked through dns & filters, so it would be nice to add either a url or upload via php.
url - mysite.com/ima.js
To download php, you need to disable the ima download using the script, so that the webmaster downloads the script yourself.
url - false
2 several vast streams.
Sometimes a site uses several VAST streams, in case t

[2018-09-11 19:02] rafa8626 commented on #7
What I can do is to add a new config element where you configure HLS and Dash players to include IMA, like `ima: { path: https://mysite.com/ima.js }`.

As per the various VAST streams, it's more complicated. If I understand correctly, you load one and then tests if it works; if not you would use a different one right?

[2018-09-11 19:06] supersh86 commented on #7
Yes that's right

If there is no creative, ima returns an error of 303.
After it you can refer to another thread.

[2018-09-11 19:12] rafa8626 commented on #7
That one may take more time since I'll have to refactor more of the Ads part to ensure this workflow. I can give you the URL support for IMA today, but the other part I'll have to scope it

[2018-09-11 19:31] rafa8626 commented on #7
OK download the master branch and now in your configuration file include `ads` element:
[code]
Let me know if it works for you

[2018-09-11 19:33] rafa8626 commented on #7
This parameter may change once I implement the multiple streams so stay tuned

[2018-09-12 21:43] rafa8626 commented on #7
@supersh86 Please download the master branch and let me know if it works. So as a whole, this is how you will use all these features:
[code]

[2018-09-13 13:31] greenkeeper[bot] opened #8 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.18.0` to `4.18.1`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fwebpack-4.18.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this proj

[2018-09-13 15:08] #8 closed

[2018-09-13 21:16] supersh86 opened #9 "Safari Mac OS start problem"
Hi, after you made an online test player on your website, I got the opportunity to work with a clean player.
My suspicions are confirmed, in some places in the osx safari there are problems with the launch of the video.

https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcdn10.anivid.nut.cc%2Fvid%2Fs1%2F10483%2F1%2F6.mp4%2Fplaylist.m3u8&type=video

Video can be revived only using recoverMe

[2018-09-13 22:02] rafa8626 commented on #9
Which version did you try just so I can imitate the same scenario?

[2018-09-13 22:18] supersh86 commented on #9
Safari 12.0

[2018-09-13 22:20] supersh86 commented on #9
before this, there are errors bufferStalledError
![Imgur](https://i.imgur.com/9KdVeXx.png)

[2018-09-13 22:50] rafa8626 commented on #9
I just tried with Safari 11.1 and I see Network error, not `bufferStalledError`. The code already accounts for `recoverMediaError` if it's a Media error. So I can't replicate your scenario.

[2018-09-14 16:49] rafa8626 commented on #7
Can this issue be closed?

[2018-09-14 16:50] rafa8626 commented on #9
Unfortunately with the link your provided there's no much I can do about because it's truly a Network Error and that cannot be repaired or attempted to. If you have any suggestions in terms of how to deal with this, not including the existing workflow to deal with media errors, let me know. Otherwise, let's close this issue.

[2018-09-14 19:23] supersh86 opened #10 "ios ipad fullscreen bug"
https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.googleapis.com%2Fgtv-videos-bucket%2Fsample%2FTearsOfSteel.mp4&type=video

Hi, I found a critical bug on my old ipad mini 2 ios 12.

In chromium and safari, the full-screen mode in landscape mode does not work correctly.

Also, the control menu is too small for interaction, and seek does not work.

![Imgur](https://i.imgu

[2018-09-14 19:32] supersh86 commented on #9
I came to the conclusion that what for safari it is better to disable hls.js.
You can do api for this.

[2018-09-14 19:33] supersh86 commented on #7
Yes, testing vast channel of advertisers for a very long time, so for now you can close.

Thanks!

[2018-09-14 19:36] rafa8626 commented on #9
So I'll just use HLS.js for all technologies except iOS and Safari. I'll let them deal natively

[2018-09-14 19:36] #7 closed

[2018-09-14 19:48] rafa8626 commented on #9
Safari is now using native approach. Just pushed that fix. Closing this issue now. Thanks.

[2018-09-14 19:48] #9 closed

[2018-09-14 20:56] rafa8626 commented on #10
I don't have iOS 12; however, I added a minor fix for the fullscreen effect. Can you confirm, please. I'll investigate the issue with the seek behavior

[2018-09-14 21:29] supersh86 commented on #10
In the safari the problem is solved.
In chrome, it does not go into full-screen mode at all

[2018-09-14 23:16] rafa8626 commented on #10
in iPhone?

[2018-09-15 12:49] supersh86 commented on #7
I carefully tested the changes.
1 On your site in the second player can not now connect advertising.
https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.googleapis.com%2Fgtv-videos-bucket%2Fsample%2FTearsOfSteel.mp4&type=video&ads=https%3A%2F%2Fpubads.g.doubleclick.net%2Fgampad%2Fads%3Fsz%3D640x480%26iu%3D%2F124319096%2Fexternal%2Fsingle_ad_samples%26ciu_szs%3D300x250%26im

[2018-09-15 14:42] supersh86 commented on #10
Yes in Ipad

[2018-09-15 14:56] rafa8626 commented on #7
It should be fixed now in the main website; please confirm

[2018-09-15 16:46] supersh86 commented on #7
mm No

https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.googleapis.com%2Fgtv-videos-bucket%2Fsample%2FTearsOfSteel.mp4&type=video&ads=https%3A%2F%2Fpubads.g.doubleclick.net%2Fgampad%2Fads%3Fsz%3D640x480%26iu%3D%2F124319096%2Fexternal%2Fsingle_ad_samples%26ciu_szs%3D300x250%26impl%3Ds%26gdfp_req%3D1%26env%3Dvp%26output%3Dvast%26unviewed_position_start%3D1%26cust_params%3

[2018-09-15 16:47] rafa8626 commented on #7
I can see the Ad coming up
<img width="702" alt="screen shot 2018-09-15 at 12 46 49 pm" src="https://user-images.githubusercontent.com/910829/45588623-839e2080-b8e5-11e8-8283-00eb40dec758.png">

[2018-09-15 17:54] supersh86 commented on #7
I guess I have a bad cache update.
In occasion of loading of advertising on small speed the problem remained.

[2018-09-16 17:06] rafa8626 commented on #10
@supersh86 Please download the master branch and test this. Read also the commit comments, since it has bigger changes you should be aware of, including native support in iOS for fullscreen. Let me know if all the issues you had in iPad are solved.

[2018-09-17 04:01] supersh86 commented on #10
Good morning Rafa!
I see you did a native full-screen mode.
That's just advertising is not played))

[2018-09-17 04:02] rafa8626 commented on #10
Thanks for the feedback. I'll check that later tomorrow

[2018-09-17 04:05] supersh86 opened #11 "Add to the player settings the rewind time"
Hi
Many users ask me to reduce the time rewind time using the arrow keys.
I suggest adding a setting responsible for this.

[2018-09-17 04:06] rafa8626 commented on #11
Can you provide an live example of this please?

[2018-09-17 04:09] supersh86 commented on #7
It seems to me that there is a problem with the time of initialization of advertising.
The manifest (metadata) video is loaded earlier than the advertisement.

[2018-09-17 04:17] supersh86 commented on #11
You just press the keyboard left and right. And the current time is changing.
At the moment, it moves for too long, more than a minute.

I suggest that this time be changed in the settings

[2018-09-17 05:13] rafa8626 commented on #10
I just pushed a last fix for the time rail and Ads on iPad; please download the master branch and let me know if it works better for you. Thanks

[2018-09-17 12:03] Gungrave223 opened #12 "Issue with seeking"
There seems to be an issue when seeking where player skips further into the video than where you clicked.

![snip20180917_3](https://user-images.githubusercontent.com/8568496/45621906-270b4480-ba50-11e8-96bf-5f75e7e28f08.png)

This bug seems to result in onend never being triggered when the video finishes playing.

[2018-09-17 12:05] rafa8626 commented on #12
Thanks I'll check this today

[2018-09-17 12:08] rafa8626 commented on #12
Can you just specify your test case please so I can replicate it on my end?

[2018-09-17 12:13] Gungrave223 commented on #12
All I did was seek close to the end of the video.

[2018-09-17 12:39] Gungrave223 commented on #12
Ok I did some more testing... Was not able to replicate the onend not firing when playing mp4, however, I am able to replicate when using HLS m3u8 playlist by clicking towards the end then clicking a few seconds back.

So it could just be an issue with the HLS lib and not the player.

[2018-09-17 12:45] rafa8626 commented on #12
Can you provide your HLS URL so I can check on my end and verify that it is a hls.js issue, please?

[2018-09-17 12:57] Gungrave223 commented on #12
Unfortunately the hosted test files are behind a CORS wall but can I provide a zip with the segmented files if that will work?

[2018-09-17 12:59] rafa8626 commented on #12
If you can test any of the streams in https://video-dev.github.io/hls.js/demo/, and if you are able to replicate it with one of them in my player, that would definitely help. If not, send me the zipped files and I'll try to check it on my end

[2018-09-17 13:32] rafa8626 commented on #12
I even tried https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8 and it worked just fine.

[2018-09-17 13:37] Gungrave223 commented on #12
Yep you're right...the I wasn't able to replicate with any of the streams you provided. So I'm going to go ahead and close this since it pretty clear the issues lies with the files themselves.

Thanks.

[2018-09-17 13:37] #12 closed

[2018-09-17 13:40] rafa8626 commented on #12
You are welcome. Please invite more users to star the project to give it more visibility

[2018-09-17 18:15] supersh86 commented on #7
I mean not ads, but the google ima engine itself.

[2018-09-17 18:20] supersh86 commented on #7
![Imgur](https://i.imgur.com/w9p5xBH.png)
Adsmanager is null

[2018-09-17 18:42] rafa8626 commented on #7
I think since the URL has an error it destroys the Ads player and that’s why you are seeing it as null; I’ll test this scenario but can you post the URL you were trying to see?

[2018-09-17 21:18] supersh86 commented on #7
https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.googleapis.com%2Fgtv-videos-bucket%2Fsample%2FTearsOfSteel.mp4&type=video&ads=https%3A%2F%2Fpubads.g.doubleclick.net%2Fgampad%2Fads%3Fsz%3D640x480%26iu%3D%2F124319096%2Fexternal%2Fsingle_ad_samples%26ciu_szs%3D300x250%26impl%3Ds%26gdfp_req%3D1%26env%3Dvp%26output%3Dvast%26unviewed_position_start%3D1%26cust_params%3Ddeploy

[2018-09-18 03:44] rafa8626 commented on #11
@supersh86 Please download the master branch and test this. You can set now a `step` configuration item that it will skip/rewind X number of seconds (you can use decimals as well):
[code]
it will skip 2 seconds or rewind 2 seconds.

[2018-09-18 12:43] supersh86 commented on #7
can you simply test the time for the initialization of all the ima components from you and how? We are with you in different parts of the world are and ping to the servers google we have different

[2018-09-18 21:50] supersh86 commented on #11
Thanks! Close issues

[2018-09-18 22:04] #11 closed

[2018-09-21 02:05] rafa8626 commented on #7
I have tested it using low network (the one you gave me in a previous ticket) and I was able to get the Ads coming in. Let's just keep an eye on this, but so far seems to be working as expected

[2018-09-21 02:06] rafa8626 commented on #10
Is this issue good to be closed?

[2018-09-21 12:29] supersh86 commented on #7
Test more with my advertising link.
It is located in Russia.

https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.googleapis.com%2Fgtv-videos-bucket%2Fsample%2FTearsOfSteel.mp4&type=video&ads=https%3A%2F%2Fout.pladform.ru%2FgetVast%3Fpl%3D115252%26type%3Dpreroll%26license%3D1%26thematic%3D687%26age%3D4%26duration%3D1448%26target%3Dweb-html5%26mobile%26mobileapp%26adformat%

[2018-09-21 15:33] jabacchetta opened #13 "Short link causing 404s"
As[ described here](https://github.com/video-dev/hls.js/issues/1671), `http://hls.min.js.map` 404s, but should be a quick fix by replacing the short link.

[2018-09-21 17:01] rafa8626 commented on #10
is this an issue on the website only? I have tested the player with the demo file and the only thing I did experienced in Safari was a little delay but I was able to play it

[2018-09-21 17:14] rafa8626 commented on #7
@supersh86 with the URL you provided, I consistently see 2 errors coming up:
![screen shot 2018-09-21 at 1 10 22 pm](https://user-images.githubusercontent.com/910829/45895689-d6714f80-bd9f-11e8-82b9-7572adabf9ad.png)
![screen shot 2018-09-21 at 1 10 51 pm](https://user-images.githubusercontent.com/910829/45895690-d6714f80-bd9f-11e8-80e2-d9b48c942356.png)

By reading [this thread](https://groups.go

[2018-09-21 17:16] rafa8626 commented on #7
Also, while I was testing, I realized that VAST came empty
![screen shot 2018-09-21 at 1 15 28 pm](https://user-images.githubusercontent.com/910829/45895901-7929ce00-bda0-11e8-9c01-bd7a94a92e25.png)

So I'll close the loop on this thread by indicating that this is an issue with the source itself and not with the player

[2018-09-25 01:12] rafa8626 commented on #10
@supersh86 I've refactor most of the Ads workflow to make them more effective and mobile-friendly. If you want to test this, please check the master branch and let me know if it works for you. Thanks for your feedback

[2018-09-27 18:13] greenkeeper[bot] opened #15 "An in-range update of babel-loader is breaking the build 🚨"
## The devDependency [babel-loader](https://github.com/babel/babel-loader) was updated from `8.0.2` to `8.0.3`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fbabel-loader-8.0.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-loader is a devDependen

[2018-09-27 19:52] #15 closed

[2018-09-27 20:48] greenkeeper[bot] opened #16 "An in-range update of babel-loader is breaking the build 🚨"
## The devDependency [babel-loader](https://github.com/babel/babel-loader) was updated from `8.0.3` to `8.0.4`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fbabel-loader-8.0.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-loader is a devDependen

[2018-09-28 01:12] #10 closed

[2018-09-28 03:33] #16 closed

[2018-09-28 04:29] rafa8626 opened #17 "Request for feedback/ possible solution to your issues"
@GingkoFr @strayangelfilms @radiopulsar @Tahiche @hm-tam @gildasdubois I wanted to request from you to test this new player, since you had issues with MediaElement, and I'm working on many things on it that could solve those problems you are having. It will also help the project to be more tested and to give it more visibility.

If you could help me with this I'd appreciate it tremendously. If so,

[2018-09-29 06:29] supersh86 commented on #7
Hey again.
I originally wrote about the error on the example of Google ads.
Its vast I for example.

Maybe it does not work in your country. But the error appears as in Google and with this advertiser.

[2018-09-29 06:49] supersh86 commented on #7
look this video https://streamable.com/8dquj

I'm testing this url
https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.googleapis.com%2Fgtv-videos-bucket%2Fsample%2FTearsOfSteel.mp4&type=video&ads=https%3A%2F%2Fpubads.g.doubleclick.net%2Fgampad%2Fads%3Fsz%3D640x480%26iu%3D%2F124319096%2Fexternal%2Fsingle_ad_samples%26ciu_szs%3D300x250%26impl%3Ds%26gdfp_req%3D1%26env%3Dvp%2

[2018-09-29 12:03] rafa8626 commented on #7
I’ll check this definitely. But can you send me a screenshot of what you are seeing as an error so I can try to reproduce this?

[2018-09-29 14:35] rafa8626 commented on #7
Ok I saw the video and I will try to imitate it again. But just as is right now I’m able to see the video (even on my phone)

[2018-10-01 10:24] shell1986 opened #18 "Can not load HLS.js"
Rafa hello, after the last update I stopped loading hls.js.

On your site the latest version of the player is installed?

[2018-10-01 10:46] rafa8626 commented on #18
@supersh86 Yes in the website I'm using the latest version. Can you give me a URL that is not working for you?

[2018-10-01 10:51] #17 closed

[2018-10-04 05:55] supersh86 commented on #18
hi try this link
https://anime.anidub.com/player/index2.php?vid=/s1/10486/1/5.mp4

[2018-10-04 06:52] supersh86 commented on #18
I understood what the problem was.
I had an old class in the video
  class = "om-player__media"

[2018-10-04 07:55] supersh86 commented on #18
https://codepen.io/anon/pen/ZqWXBB
I also had problems launching HLS video after an advertisement.

And the safari appeared native control player.
![Imgur](https://i.imgur.com/pAZ3Kjk.png)

[2018-10-04 10:58] rafa8626 commented on #18
Safari in desktop or in iPhone/iPad?

[2018-10-04 11:17] rafa8626 commented on #18
@supersh86 I just pushed a fix for HLS and Ads. Please check your master branch and let me know

[2018-10-04 13:13] supersh86 commented on #18
Safari in desktop.
I also began to notice that Detach media is constantly happening.
This destroys the work of CDNBye.

By the way, you can add an example of integration for your player on their project.

[2018-10-04 13:35] rafa8626 commented on #18
Can you point me where are you seeing the detach issue? That call is only being done when you set a new source or load the media

[2018-10-04 14:19] supersh86 commented on #18
Updated test link
https://anime.anidub.com/player/index2.php?vid=/s1/10486/1/5.mp4

openplayer.js
[code]

[2018-10-04 15:33] supersh86 commented on #18
If you turn on the adblock, the problem disappears.

[2018-10-05 01:57] rafa8626 commented on #18
@supersh86 please download the master branch and test again. The controls won't be displayed in Safari desktop anymore and also I noticed an issue in Safari, since it was trying to use HLS.js instead of native per our previous conversations. So that is also fixed. The media won't be destroyed unless it is a different source. I noticed in your test file that you are using both `op-player op-player_

[2018-10-13 13:18] supersh86 commented on #18
Its, work

[2018-10-13 13:20] #18 closed, assigned to nobody

[2018-10-14 17:32] greenkeeper[bot] opened #20 "An in-range update of autoprefixer is breaking the build 🚨"
## The devDependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.1.5` to `9.2.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fautoprefixer-9.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a devDepend

[2018-10-15 03:28] #20 closed

[2018-10-22 20:50] greenkeeper[bot] opened #21 "An in-range update of cssnano is breaking the build 🚨"
## The devDependency [cssnano](https://github.com/cssnano/cssnano) was updated from `4.1.5` to `4.1.6`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fcssnano-4.1.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cssnano is a devDependency of this project

[2018-10-22 21:02] greenkeeper[bot] opened #22 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.0.0` to `3.1.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fkarma-3.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. I

[2018-10-23 02:04] greenkeeper[bot] opened #23 "An in-range update of postcss-import is breaking the build 🚨"
## The devDependency [postcss-import](https://github.com/postcss/postcss-import) was updated from `12.0.0` to `12.0.1`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fpostcss-import-12.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss-import is

[2018-10-23 11:08] greenkeeper[bot] opened #24 "An in-range update of autoprefixer is breaking the build 🚨"
## The devDependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.2.1` to `9.3.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fautoprefixer-9.3.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a devDepend

[2018-10-23 13:01] #24 closed

[2018-10-23 13:01] #23 closed

[2018-10-23 13:01] #22 closed

[2018-10-23 13:01] #21 closed

[2018-11-06 17:49] supersh86 opened #26 "Dual boot hls links"
Hey rafa! After the latest updates, I had a double boot hls player.
1 before advertising, 2 after advertising. Sometimes 5-6 (look image)

It spoils all my add-ons for example p2p-hls.

I also noticed problems with the VAST list when one or both of the lists do not issue ads.

![Imgur](https://i.imgur.com/96WGnMJ.png)

https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcdn11.anivid.nut.cc%

[2018-11-07 03:02] rafa8626 commented on #26
@supersh86 Oddly enough, I couldn't reproduce your issue. See screenshot.
<img width="602" alt="screen shot 2018-11-06 at 10 01 12 pm" src="https://user-images.githubusercontent.com/910829/48108026-93fcb880-e20f-11e8-91ca-9ea0c3b1554e.png">

As far as writing for VAST, Google IMA supports VAST, VPAID and VMAP formats, so that's covered.

[2018-11-07 08:31] supersh86 commented on #26
Clear cashe and use filter in network panel.
I'am testing in Chrome & Firefox

[!Imgur](https://i.imgur.com/vnfTb7K.png)

[2018-11-09 03:40] rafa8626 commented on #26
I'll try to check what can cause this in more depth; which version was the last one you used to test this and you didn't get the double request?

[2018-11-09 07:11] supersh86 commented on #26
I find it difficult to answer

I just looked at the statistics of server traffic for the month and saw a huge increase, and then I learned that p2p stopped working in October.

[2018-11-09 13:15] supersh86 commented on #26
In my original code, I use source and type.
But the problem is not solved.

<video id="hlsvideo" class="op-player__media" controls playsinline>
       <source src="../playlist.m3u8" type="application/x-mpegURL">
    </video>

[2018-11-12 03:57] rafa8626 commented on #26
Please download the master branch and test this issue again; I figured out why it was doing the double request. As far as the library you showed me, it may be good for your purposes but it's limited since it's only for VAST, and as far as I can see, only for pre-roll Ads, so I'm interested on supporting libraries that benefit most people in the long term

[2018-11-12 04:36] supersh86 commented on #26
on my server, and on the example in the first message. The problem is not fixed.

[2018-11-12 04:39] rafa8626 commented on #26
On the embed I haven't released a new version with the fix, since it uses CDN for it. Once you confirm on your side that no duplicates are coming up using the master branch, I'll release the new version and the embed will carry that fix. To test this use a CodePen and the https://raw.githubusercontent.com/openplayerjs/openplayerjs/master/dist/openplayer.js URL

[2018-11-12 15:04] supersh86 commented on #26
Yes! Its fix!

[2018-11-12 15:15] rafa8626 commented on #26
Perfect I’ll release today in a bit :)

[2018-11-12 17:54] supersh86 commented on #26
And if it's not hard to look at it. I have problems with the vast list. It is also not clear when she appeared.
https://codepen.io/anon/pen/rQWdNK

[2018-11-13 05:55] rafa8626 commented on #26
@supersh86 Please test once more using master branch. I fixed your issue with the VAST list. Let me know so I can release the next version. Thanks

[2018-11-13 07:53] supersh86 commented on #26
The image of the play button disappears late.
If the event is a load, then it would be good to indicate the desired animation.

[2018-11-13 12:11] rafa8626 commented on #26
I have added the loading animation before the Ad plays; let me know if that works for you

[2018-11-13 18:08] supersh86 commented on #26
Yes, the download animation.

Unfortunately, she worked for a few seconds.

If Chunks load for 5-7 seconds, the animation runs for 1-3 seconds.

[2018-11-13 23:29] rafa8626 commented on #26
@supersh86 it's hard to debug that. Can you provide a CodePen with that issue please?

[2018-11-14 01:19] supersh86 commented on #26
https://codepen.io/anon/pen/gQmYNN
This problem can be caught only in the evening when the servers are loaded.
At 9 o'clock UTC + 3

[2018-11-14 05:08] rafa8626 commented on #26
Gotcha. I think I have fixed the issue you presented in the CodePen. Try the master branch again and let me know if it worked for you

[2018-11-14 12:52] rafa8626 commented on #26
@supersh86 I just did one last fix and I think this is all set. Once you confirm about this one, I'll release. Thanks

[2018-11-14 18:36] supersh86 commented on #26
The animation does not disappear when the video starts.)))

[2018-11-14 18:37] rafa8626 commented on #26
in that same CodePen you shared?

[2018-11-26 11:31] rafa8626 commented on #26
@supersh86 hey, I assume the issue has to do with the Ads not being played? I see 2 of them and IMA returned an error for the first one but the second one doesn't play
<img width="439" alt="screen shot 2018-11-26 at 6 27 30 am" src="https://user-images.githubusercontent.com/910829/49011623-e5300600-f144-11e8-98b7-101b350977d0.png">

[2018-11-26 12:13] supersh86 commented on #26
No, the problem is that the player works with an error.
No animation button press play, after starting the video pause does not disappear.

I will write you a video

[2018-11-26 12:33] rafa8626 commented on #26
The icon doesn’t disappear since you are moving the mouse constantly. It’s one of the behaviors I implemented but had an issue before

[2018-11-26 13:08] supersh86 commented on #26
look 0:05 time.
Icon its freeze

[2018-11-26 13:14] rafa8626 commented on #26
I see. Let me check why and I’ll get back to you

[2018-11-27 11:38] rafa8626 commented on #26
https://streamable.com/orqsg
As you can see, if you don't move the mouse, the icon disappear. If the video is paused, the icon will be visible. If the control bar is visible you will see the icon, but if the control bar disappears, the icon disappears too. I did notice that clicking in the big pause button didn't pause the video so I'm looking into that right now

[2018-11-27 11:53] rafa8626 commented on #26
@supersh86 Ok I have fixed the big play button behavior. Please test the master branch and let me know so I can release the fixes today. Thanks

[2018-11-27 12:40] supersh86 commented on #26
Now the video refuses to run.
https://codepen.io/anon/pen/jQvExG

[2018-11-27 13:01] rafa8626 commented on #26
It plays on my side. Sometimes I see delays but that has nothing to do with the player itself

[2018-11-27 13:05] supersh86 commented on #26
Strangely, my player hangs up and can not start the video.

[2018-11-27 15:50] supersh86 commented on #26
In Chrome
https://streamable.com/5sm9e

[2018-11-28 02:50] rafa8626 commented on #26
I used Chrome and this was my result (even clearing all the cache)
https://streamable.com/f7cgn

[2018-11-28 06:21] supersh86 commented on #26
)))) disable ads filter)) s'il vous plait)))

[2018-11-28 08:36] supersh86 commented on #26
I see a strange error in the console. The forums write about this as an error on mobile devices.
[code]

[2018-11-28 11:58] rafa8626 commented on #26
@supersh86 Finally I was able to reproduce your bug. I saw the error as well as I fixed that. Please test master branch once more and let me know if it's fixed please. Thanks and sorry for the incovenience

[2018-11-28 12:10] supersh86 commented on #26
YES!
It would be ideal if during loading and initialization of the vast xml list, the loading icon would be displayed.

[2018-11-28 12:12] rafa8626 commented on #26
Let me see if I can add that. I’m glad this was solved too!

[2018-11-28 13:00] rafa8626 commented on #26
Closing this issue now. I'll let you know if I was able to integrate the loading element during initialization.

[2018-11-28 13:00] #26 closed

[2018-11-28 13:01] supersh86 commented on #26
Ok! thx!

[2018-11-28 15:31] rafa8626 commented on #26
@supersh86 I updated the code so you should see now the loader while waiting to play Ads/media/ Please test the master branch and let me know if it worked for you. Thanks

[2018-11-28 19:07] supersh86 commented on #26
Unfortunately, the VPAID loading is not displayed correctly and the loading of the first chunk appeared, which is not always correct.
Usually inside the VPAID there may be its own independent player, the loader does not display it correctly.
https://streamable.com/qbwg2
I usually use youtube advertising for other tasks, but your player can be used for a silent video banner. So this plot is also wo

[2018-11-28 19:59] rafa8626 commented on #26
so you are saying that the loader should disappear once the VPAID player is ready correct?

[2018-11-29 03:52] rafa8626 commented on #26
Please share a CodePen where I can see the issue, so I can take a look and fix it

[2018-12-01 17:29] greenkeeper[bot] opened #29 "An in-range update of karma is breaking the build 🚨"
## The devDependency [karma](https://github.com/karma-runner/karma) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fkarma-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

karma is a devDependency of this project. I

[2018-12-02 04:34] #29 closed

[2018-12-03 07:45] greenkeeper[bot] opened #30 "An in-range update of autoprefixer is breaking the build 🚨"
## The devDependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.3.1` to `9.4.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fautoprefixer-9.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a devDepend

[2018-12-03 12:05] rafa8626 commented on #26
@supersh86 Can you test the master branch once more, please? I removed an event that introduced the loader and I think it was unnecessary. Let me know if that worked for you

[2018-12-04 09:49] greenkeeper[bot] opened #31 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.26.1` to `4.27.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fwebpack-4.27.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this proj

[2018-12-04 10:09] greenkeeper[bot] opened #32 "An in-range update of autoprefixer is breaking the build 🚨"
## The devDependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.4.0` to `9.4.1`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fautoprefixer-9.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a devDepend

[2018-12-04 12:14] #32 closed

[2018-12-04 12:14] #31 closed

[2018-12-10 23:04] greenkeeper[bot] opened #35 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/webpro/release-it) was updated from `8.3.1` to `8.4.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Frelease-it-8.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependency of t

[2018-12-12 02:12] #35 closed

[2018-12-14 06:04] supersh86 commented on #26
Hi, everything seems to be working well, now I'll write a new idea.

[2018-12-14 06:06] supersh86 opened #37 "Keeping the volume level"
Hi Rafa!
Recently, many of my users complain about the problem with adjusting the volume.
Youtube usually keeps the volume in cookies, can you do it in your player?

[2018-12-14 11:16] rafa8626 commented on #37
Hey, generally speaking, that feature is implemented in the whole website ecosystem. The player is just part of the ecosystem, so that's why I wouldn't include it. However, I can include an option to set the initial volume, and you could use your own implementation of storage to set that value.

Does it sound reasonable?

[2018-12-14 15:37] supersh86 commented on #37
Yes you are right.

I have another question, is it possible to change the source of the video, after player initialization?

player.load () does not work ((

[2018-12-14 16:50] rafa8626 commented on #37
You just set the source and that does it. Check the demo file that has that option

[2018-12-15 05:53] supersh86 commented on #37
Rafa, just noticed a critical problem.
On, ipad neither in safari, nor in chrome, the player does not work with VAST.

https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcdn100.anivid.tk%2Fvid2%2Fs1%2F10586%2F1%2F1.mp4%2Fplaylist.m3u8&type=video&ads=https%3A%2F%2Fmoevideo.biz%2Fvast%3Fref%3Donline.anidub.com%26impressionAfterPaid%3D1%26es%3D1

[2018-12-15 13:32] rafa8626 commented on #37
Ok I’ll check that and implement the volume setting we talked about and let you know. Thanks for noticing that

[2018-12-17 00:47] greenkeeper[bot] opened #38 "An in-range update of autoprefixer is breaking the build 🚨"
## The devDependency [autoprefixer](https://github.com/postcss/autoprefixer) was updated from `9.4.2` to `9.4.3`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fautoprefixer-9.4.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

autoprefixer is a devDepend

[2018-12-18 09:47] supersh86 commented on #37
Hello
1 startVolume is the setting for player initialization?
2 Iphone lost control menu. I can not go full screen.

[2018-12-18 13:19] supersh86 commented on #37
https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcdn100.anivid.tk%2Fvid2%2Fs1%2F10586%2F1%2F1.mp4%2Fplaylist.m3u8&type=video

[2018-12-18 13:21] rafa8626 commented on #37
The main website is using the old version still since I haven’t released any change. Just check the master branch and if you still have the issue give me a CodePen to replicate please

[2018-12-18 18:35] rafa8626 commented on #37
@supersh86 I have updated the master branch since I found out something missing to display Ads correctly but it's working now. Once you confirm, I'll create the new release. Thanks

[2018-12-19 11:06] greenkeeper[bot] opened #39 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/webpro/release-it) was updated from `9.1.0` to `9.2.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Frelease-it-9.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependency of t

[2018-12-20 12:09] #39 closed

[2018-12-22 01:00] greenkeeper[bot] opened #42 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.2.0` to `7.2.2`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.2.0` to `7.2.3`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs

[2018-12-26 17:30] #42 closed

[2018-12-27 02:00] #37 closed

[2019-01-03 15:00] greenkeeper[bot] opened #44 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/webpro/release-it) was updated from `9.4.3` to `9.4.4`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Frelease-it-9.4.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependency of t

[2019-01-04 05:10] #44 closed

[2019-01-07 11:30] supersh86 opened #45 "Сreation of an additional control button."
Hi Rafa.
I was thinking about customizing the elements of the player.
I think it would be great to make a simple api in the configurator, to add new controls buttons.

[2019-01-07 11:56] rafa8626 commented on #45
@supersh86 what type of buttons you would like to add?

[2019-01-08 02:20] supersh86 commented on #45
For example, I want to add a button showing users of p2p online.
By the way, recently hlsjs-p2p-engine included your player in the list of examples, congratulations.

Others, for example, will be interested in changing video quality.

You could do some standard setup method, for example

addButton {
icon : '/.png',
title : 'button',
clickFunc=function(){
....
}
}

[2019-01-08 09:52] greenkeeper[bot] opened #46 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/webpro/release-it) was updated from `9.6.2` to `9.6.3`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Frelease-it-9.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependency of t

[2019-01-09 01:39] rafa8626 commented on #45
@supersh86 Thanks for the heads up! I didn't know my player was considered for `hlsjs-p2p-engine`

I'll check what I can do for this and keep you posted

[2019-01-09 01:45] #46 closed

[2019-01-09 03:44] rafa8626 commented on #45
@supersh86 check the `feature/add-control` branch I created. Play with the demo file and let me know if that works for you, before I merge this into master. Thanks

[2019-01-09 04:55] supersh86 commented on #45
[!Imgur](https://i.imgur.com/SoRTI7x.png)
It works, but there is an error when placed on the right, the icon appears at the most extreme point, on the right of the full screen mode.

I think it will be more correct to place it in front of the speed settings icon.

[2019-01-09 12:14] rafa8626 commented on #45
@supersh86 thanks for noticing that. I've changed that and it should be working as expected. If you check the demo, I'm using a style to fix the height of that specific button so it is considered the visual manipulation of it. Let me know if it works for you

[2019-01-09 13:41] supersh86 commented on #45
![Imgur](https://i.imgur.com/tLB4ohe.png)
I think this layout is much more intuitive(habitual) than this.
![Imgur](https://i.imgur.com/KNQu3TI.png)

[2019-01-09 13:42] supersh86 commented on #45
In any case, you can already do the master.

[2019-01-09 14:32] rafa8626 commented on #45
Done. Thanks for testing this. Closing issue now

[2019-01-11 13:44] supersh86 opened #47 "Lost connection with HLS after server restart."
Hello Rafa, last I started noticing the problem of reconnecting after a server crash.

  If the streamer program reboots on the server and the openplayer loses connection, then after the server has been restored, the player cannot connect back, thereby destroying the user's session.

I tested on the players
  hls.js demo
https://video-dev.github.io/hls.js/demo/

cdnbye demo
https://demo.cdnbye.com

[2019-01-11 14:45] rafa8626 commented on #47
I will need an example to replicate this and see what we can do about it; it's a more complex scenario than the ones I've seen

[2019-01-11 16:17] supersh86 commented on #47
Tell me the date and time, I will try to make a server by this time that will reset via cron every 3 minutes.

[2019-01-11 16:21] rafa8626 commented on #47
If you can set it up today in like 3 hours I may check it. If I need you to put it back another day I’ll let you know, if it’s not a simple fix

[2019-01-11 17:05] supersh86 commented on #47
sorry.
I guess I was wrong.

[2019-01-11 17:06] #47 closed

[2019-01-13 17:00] supersh86 opened #48 "startVolume bug"
Hello rafa
When using the startVolume setting.
The image of the sound level is incorrectly displayed.
https://codepen.io/anon/pen/jXXMBm
![Imgur](https://i.imgur.com/fj5Dy2t.png)

[2019-01-13 17:11] rafa8626 commented on #48
@supersh86 check the master branch and confirm it is fixed. Thanks for reporting this

[2019-01-13 21:22] supersh86 commented on #48
That would not create a single theme.
I still have a problem after adding a button.
Sometimes, fullscreen mode stops working.

When you click the console gives an error.
openplayer.min.js? v = 39: 1 Uncaught (in promise) TypeError: Document not active
     at e.value (openplayer.min.js? v = 39: 1)
     at e.clickEvent (openplayer.min.js? v = 39: 1)

[2019-01-13 22:19] rafa8626 commented on #48
Is this replicable in the codepen you shared today?

[2019-01-14 02:57] rafa8626 commented on #48
@supersh86 I'll need more details about the button issue you are experiencing. Please open a different issue, since the scope of this one has been resolved.

[2019-01-14 02:57] #48 closed

[2019-01-15 16:40] greenkeeper[bot] opened #49 "An in-range update of postcss is breaking the build 🚨"
## The devDependency [postcss](https://github.com/postcss/postcss) was updated from `7.0.11` to `7.0.12`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fpostcss-7.0.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss is a devDependency of this proj

[2019-01-15 17:48] supersh86 opened #50 "Several sources for video."
Hello Rafa!
 When adding an additional source to the video, I noticed that the second source is not added to the hls.levels
[code]

[2019-01-15 23:34] rafa8626 commented on #50
The default mechanism is to only play the first playable source, mimicking what the browsers do by default

[2019-01-16 10:35] supersh86 commented on #50
And he should not play. It should be on the levels list.
If the first source fails, hlsjs switches to the second.
I tried to do it manually, but this should happen before initialization.

[2019-01-16 10:48] greenkeeper[bot] opened #51 "An in-range update of stylelint is breaking the build 🚨"
## The devDependency [stylelint](https://github.com/stylelint/stylelint) was updated from `9.9.0` to `9.10.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fstylelint-9.10.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

stylelint is a devDependency of

[2019-01-16 20:40] greenkeeper[bot] opened #52 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.12.2` to `7.12.3`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Feslint-plugin-react-7.12.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-01-18 10:40] rafa8626 commented on #50
got it; I'll check this and let you know when fixed

[2019-01-18 10:42] #52 closed

[2019-01-18 10:42] #51 closed

[2019-01-18 10:42] #49 closed

[2019-01-18 11:55] supersh86 commented on #50
I re-read the hlsjs documentation.
I think this is their problem.
I left a question in their branch and am waiting for an answer.

[2019-01-19 01:38] supersh86 opened #54 "Start video from the designated second."
Hello Rafa
I have a new request.
Can you add a setting in the initial configurator that starts the video from the specified second?
For example, the beginning of the video from 15 seconds instead of the first. This will make remembering the last time for the user as on YouTube.

Also, you should be more attentive to the documentation, for many ignorant users it is not very clear all the advantages

[2019-01-19 02:45] rafa8626 commented on #50
Ok keep me posted on this to know if it’s something I need to do or it’s them

[2019-01-19 02:46] rafa8626 commented on #54
Ok I’ll check this. What are some of the advantages you have found by using this player as opposed to others? Sometimes it’s difficult for me to compare them since I haven’t invested time on using more than 2

[2019-01-21 03:48] rafa8626 commented on #54
@supersh86 The feature is ready in the master branch under the `startTime` configuration in the element (see the configuration section in the README). Let me know if that works, and if you have any suggestions for advantages to include in the README file, I'd appreciate it. Thanks

[2019-01-22 23:46] supersh86 commented on #50
Hello rafa
I Hls.js said that there is no support.
But they advised me to make a playlist myself.
I made a playlist and specified the file address in test.php and your player could not load it. I tried on safari and on another player, there were no problems.
Do you have a dependency on the file extension?

[2019-01-22 23:48] rafa8626 commented on #50
Yes you will have to at least indicate the `type` of the source as `application/x-mpegURL` to make it work

[2019-01-22 23:49] rafa8626 commented on #50
Send me the URL just for reference so I can set an example with an atypical URL and check at the same time if it works

[2019-01-22 23:58] supersh86 commented on #50
Test it
https://anime.anidub.com/player/test.php

[2019-01-23 00:00] rafa8626 commented on #50
Ok let me take a look; meanwhile, can you list advantages that I can put on the README file so it looks more attractive to the users?

[2019-01-23 00:08] supersh86 commented on #50
Really sorry, I was very busy with another project.

1 All in one, this player does not need plug-ins, everything is already compiled by the author. This is very important for a quick start, because like the same videojs, some plugins become irrelevant, and the creators stop supporting them.
2 multivast, the ability to make a vast playlist from several sources. As it turned out, there is no such f

[2019-01-23 00:15] supersh86 commented on #50
If you need a sample code for several sources, I will leave it here too.

    $return = "#EXTM3U\n";

        $return .= "#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=11739585,RESOLUTION=1920x1080\n";
        $return .= "https://cdn1.com/video.m3u8"."\n";
        $return .= "#EXT-X-STREAM-INF:PROGRAM-ID=1,BANDWIDTH=11739585,RESOLUTION=1920x1080\n";
        $return .= "https://cdn2.com/video.m3u8"."\n"

[2019-01-23 01:36] rafa8626 commented on #50
Nevermind I didn't see the link you sent of the VideoJS builder. I'll check it out and play with some approaches

[2019-01-23 02:58] supersh86 commented on #50
Well, waiting for your test with loading playlist with php.

[2019-01-23 03:00] rafa8626 commented on #50
It can't play I need to check why is it not playing

[2019-01-23 04:51] rafa8626 commented on #50
@supersh86 It should be fixed now; please download the master branch and test this. Thanks for the suggestions on the builder and the advantages I can include

[2019-01-23 04:52] #54 closed

[2019-01-23 04:53] rafa8626 commented on #50
If you can give me an example of a multi VAST setup like the one you describe I could elaborate more on it, since you indicate it's rare on a player to do that

[2019-01-24 11:54] supersh86 commented on #50
Usually advertisers take only part of the traffic. And as a result, users view only 10% of the possible advertising per day. Therefore, for the site you need to connect multiple streams Vast.

Another very important thing is that the user leaves the cookie, the advertiser, so it will not work to parse through the server.

[2019-01-24 11:54] #50 closed

[2019-01-24 11:57] supersh86 opened #55 "The manifest is loaded for a long time, if there is a vast."
Hi, I have long wanted to raise the topic of a long loading of manifests. If the vast is connected to the player, the manifest will take a long time to load or will not load at all until the user starts the player. You can notice this problem on your main page in the example with advertising.

[2019-01-30 06:14] supersh86 commented on #45
Rafa hello, I found a serious error in this function.
If the button is added after the user enters the full-screen mode, then after adding the user from the full-screen mode, he can no longer exit.

I made an example with a 5 second button call timeout. If at the very beginning you click on fullsreen and then a button appears, you can’t exit the full screen mode anymore.
https://codepen.io/anon/pe

[2019-01-31 02:09] rafa8626 commented on #55
@supersh86 The mechanism I implemented for Ads was following the examples given by IMA SDK to be complaint with mobile and desktop behaviors; if you add `autoplay` to the video tag, it will play faster since it starts to load the Ads immediately; otherwise, you will have to click play to save bandwidth and load Ads. Is that what your concern is?

[2019-01-31 02:11] rafa8626 commented on #45
@supersh86 This is fixed now in the master branch; please confirm so I can close this issue. Thanks for reporting this

[2019-02-02 05:31] supersh86 commented on #45
it's fix! Thanks!

[2019-02-02 05:31] #45 closed

[2019-02-02 05:33] supersh86 commented on #55
I understand it. Just visually it looks like it is not working.

I have one more question, do you have tools that catch the error google ima?

[2019-02-03 02:02] rafa8626 commented on #55
No just use the console to check errors right now

[2019-02-04 21:46] greenkeeper[bot] opened #56 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/webpro/release-it) was updated from `10.0.7` to `10.0.8`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Frelease-it-10.0.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependency o

[2019-02-05 05:33] #55 closed

[2019-02-05 18:01] supersh86 opened #57 "Android ima problem"
Hi Rafa!
I recently discovered a problem with running a video on an android phone with embedded advertising.
The video simply does not want to load the manifest.
Check out my example.

https://codepen.io/anon/pen/LqzEKr

[2019-02-06 19:55] supersh86 commented on #57
Also on the android in the browser chrome does not work seeking

[2019-02-07 11:37] supersh86 opened #58 "features request add ad playback time."
Hello!
Is it possible to set advertising time during initialization?
setAdtime: 15 (seconds)
After which google ima will destroy?

Sometimes advertising can hang, or have inconsistent time. When instead of the stipulated 10 seconds, it may seem 1-2 minutes.

It would also be cool to show a timer in a separate element.

[2019-02-12 15:41] rafa8626 commented on #57
I don't have access right now to an Android device but I'll try to get one; what version are you using?

[2019-02-12 15:48] rafa8626 commented on #58
I'll need to explore this; it may be a simple feature but I need to check how to transition correctly from the Ad to the media

[2019-02-13 03:56] rafa8626 commented on #57
I tried on Browserstack with Android 8 and it worked fine on the main website; I don't know if it's a CodePen issue

[2019-03-04 22:53] #57 closed

[2019-03-27 17:03] frequeradio opened #63 "Desactivate autoplay"
Hi ! Is there possible to desactivate the autoplay ? or at least to preload the file ?

thanks !

[2019-03-27 17:05] rafa8626 commented on #63
Everything is driven by the HTML tags, so if you remove the `autoplay` it should help you. Otherwise, share a CodePen to see the issue

[2019-03-27 17:05] rafa8626 commented on #63
and please give a star to the project if you found it useful :)

[2019-03-28 16:36] frequeradio commented on #63
You got the star ! It is really a good project.
https://codepen.io/frequeradio/pen/zbgqOg
You see, the mp3 file loads although i put preload tag to none   (there is no autoplay but i'm try to avoid the  preload too)

[2019-03-30 18:41] greenkeeper[bot] opened #64 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.15.3` to `5.16.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Feslint-5.16.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project.

[2019-03-31 21:09] rafa8626 commented on #63
Thanks and sorry for the late response; I have pushed a fix for that, so please check the master branch and let me know if it worked for you.

[2019-04-01 10:30] frequeradio commented on #63
works perfectly :) thanks a lot !

[2019-04-01 10:30] #63 closed

[2019-04-01 22:16] rafa8626 commented on #63
I'm glad. Please invite your friends to star the project to support it please

[2019-04-02 00:11] #64 closed

[2019-04-08 13:35] greenkeeper[bot] opened #65 "An in-range update of custom-event-polyfill is breaking the build 🚨"
## The devDependency [custom-event-polyfill](https://github.com/kumarharsh/custom-event-polyfill) was updated from `1.0.6` to `1.0.7`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fcustom-event-polyfill-1.0.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**

[2019-04-24 21:15] #65 closed

[2019-05-06 13:20] eikenilsknopp opened #70 "Feature Request: Allow xml strings as vast source"
I would like to load a string containing a valid vast xml into the player instead of an url.
This can be achieved by extending the  _requestAds() function:

[code]

Unforunatly I do not have the rights to open a PR myself so it would be great if someone of the team could have a look at this.

Cheers

[2019-05-06 13:22] rafa8626 commented on #70
@eikenilsknopp I'll take a look at this and get back to you

[2019-05-07 00:35] rafa8626 commented on #70
@eikenilsknopp Please test the master branch and let me know if it works for you. Thanks for suggesting this

[2019-05-08 19:45] eikenilsknopp commented on #70
@rafa8626 Yes this seems to be working. Thanks for the quick implementation!

[2019-05-08 19:54] rafa8626 commented on #70
Thanks for the suggestion.

[2019-05-08 19:54] #70 closed

[2019-05-12 06:22] greenkeeper[bot] opened #71 "An in-range update of babel-loader is breaking the build 🚨"
## The devDependency [babel-loader](https://github.com/babel/babel-loader) was updated from `8.0.5` to `8.0.6`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fbabel-loader-8.0.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

babel-loader is a devDependen

[2019-05-16 13:28] #71 closed

[2019-06-02 21:20] arnabadg17 opened #72 "Ad error: AdError 1010: The ad response was not understood and cannot be parsed."
No ads are showing.

Ad error: AdError 1010: The ad response was not understood and cannot be parsed. is showing in the console log.

[2019-06-03 11:11] rafa8626 commented on #72
Can you provide a CodePen or example that I can use to reproduce this please?

[2019-06-03 16:15] arnabadg17 commented on #72
@rafa8626 you can that error for its own website. https://www.openplayerjs.com/

just follow the console log.

thanks.

[2019-06-03 17:12] rafa8626 commented on #72
@arnabadg17 I have fixed this and I will deploy a new release later today. Thanks for pointing this out and please star the project to support it

[2019-06-03 17:17] rafa8626 commented on #72
Deployed new version with fix. Thanks

[2019-06-03 18:57] arnabadg17 commented on #72
@rafa8626 problem solved on its website. though I am not tested yet on localhost. thanks.

[2019-06-03 19:11] arnabadg17 commented on #72
tested on localhost. it works now. thanks.

[2019-06-03 19:11] #72 closed

[2019-06-03 19:22] rafa8626 commented on #72
Thanks for reporting this

[2019-06-03 19:34] arnabadg17 opened #73 "Video replay not working after post-roll"
Hey, @rafa8626 found a new bug on the latest dependency.

Video replay is not working with any buttons or even seeking after post-roll ad.

`error on the console log => "Uncaught (in promise) DOMException  (index):1 "`

[2019-06-03 23:21] rafa8626 commented on #73
Thanks I’ll check this soon

[2019-06-07 17:56] rafa8626 commented on #73
@arnabadg17 Please test the master branch; I have included a fix to solve this potential issue

[2019-06-08 21:51] arnabadg17 commented on #73
@rafa8626 yes problem has been solved. thank you.

[2019-06-08 21:51] #73 closed

[2019-06-08 21:52] rafa8626 commented on #73
Thanks for checking this

[2019-06-09 22:16] arnabadg17 opened #76 "Feature Request: Add Quality Control"
If possible please add qulity control feature e.g. 360p, 480p, 720p, 1080p etc.

[2019-06-12 15:35] ctaity commented on #76
Yes please, for HLS at least

[2019-06-12 15:39] rafa8626 commented on #76
Thanks, I’ll scope the effort to integrate this for regular video and HLS (and possibly M-DASH) and get back to you guys.

@ctaity please star the project to support it

[2019-06-23 12:01] mahdi-gh1373 opened #79 "Add hls src after ajax call"
[code]
I want to set src variable to video src but it's not ok and thr error is 'Media not set'

[2019-06-23 12:15] rafa8626 commented on #79
After instantiating the OpenPlayer class you need to use `player.init()` and to set the source you should do it like this: `player.src = ...`. See if that works and please star the project to support it

[2019-06-23 12:16] rafa8626 commented on #76
@ctaity and @arnabadg17 I’m working on this and I should have it ready soon. I’ll keep you posted. Thanks for your patience and please star the project to support it

[2019-06-23 12:18] rafa8626 commented on #58
@supersh86 sorry for not following up on this; I tried to check how much time it will take but it’s not as simple since everything is connected via IMA and I’m not sure if I can alter the behavior of the Ad that easily but I’m still exploring my options in here. Thanks for your patience

[2019-06-23 12:19] rafa8626 commented on #79
Also, remove the class op-player and see if that helps in your case

[2019-06-23 13:05] mahdi-gh1373 commented on #79
`                var player = new OpenPlayer('oneplayer', null, false, {
                  hls: {
                    startLevel: -1
                  }
                });
                player.init();
                player.src = src ; // src is string url`

I write like this but I have a error Media not set.

[2019-06-24 11:43] greenkeeper[bot] opened #80 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.14.0` to `7.14.1`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Feslint-plugin-react-7.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-06-25 03:38] rafa8626 commented on #79
can you share a CodePen where I can see this error please?

[2019-06-25 03:41] rafa8626 commented on #79
Also, I'd say don't create the video `source` tag ahead of time

[2019-06-25 03:42] #80 closed

[2019-07-03 14:46] greenkeeper[bot] opened #81 "An in-range update of eslint-loader is breaking the build 🚨"
## The devDependency [eslint-loader](https://github.com/webpack-contrib/eslint-loader) was updated from `2.1.2` to `2.2.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Feslint-loader-2.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint-loader is

[2019-07-07 00:26] #81 closed

[2019-07-07 00:27] rafa8626 commented on #79
@mahdi-gh1373 I'll close this issue since no more activity has been recorded. Please reopen if you still experience this issue

[2019-07-07 00:27] #79 closed

[2019-07-17 11:53] greenkeeper[bot] opened #84 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this proj

[2019-07-20 15:50] #84 closed

[2019-08-03 19:40] ignusws commented on #79
Same problem here. Can you please check this CodePen snippet
https://codepen.io/anon/pen/WVZgEa

[2019-08-05 15:56] rafa8626 commented on #79
@ignusws The only thing I think it's missing is to add the `src` in the video tag, even if it's empty.
Like this:
[code]

Let me know if that worked for you, and please star the project to show your support

[2019-08-06 04:42] ignusws commented on #79
This worked, thanks. I think it should be documented, because other players that I tried do not require adding this attribute to the video tag

[2019-08-07 22:44] rafa8626 commented on #79
Thanks I’ll take a look at it and set up a minor fix for this

[2019-08-10 17:49] rafa8626 commented on #79
@ignusws Fix is in place now, and I'll be releasing this soon. Thanks again for pointing that out

[2019-08-20 00:27] rafa8626 commented on #76
@ctaity @arnabadg17 just to give you an update: I'm almost done with HLS and DASH formats to display levels; I'm just trying to wrap up a couple of things in terms of replaying media correctly and finishing a couple of missing things for HTML5 levels. You can check the progress in the branch `quality-switch`. Thanks for your patience

[2019-08-28 06:05] greenkeeper[bot] opened #91 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/release-it/release-it) was updated from `12.3.5` to `12.3.6`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Frelease-it-12.3.6).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependen

[2019-09-14 01:07] #91 closed

[2019-09-14 02:09] greenkeeper[bot] opened #92 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `6.3.0` to `6.4.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Feslint-6.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It

[2019-09-16 14:42] greenkeeper[bot] opened #94 "An in-range update of stylelint-order is breaking the build 🚨"
## The devDependency [stylelint-order](https://github.com/hudochenkov/stylelint-order) was updated from `3.1.0` to `3.1.1`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fstylelint-order-3.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

stylelint-orde

[2019-09-16 19:58] greenkeeper[bot] opened #95 "An in-range update of release-it is breaking the build 🚨"
## The devDependency [release-it](https://github.com/release-it/release-it) was updated from `12.3.6` to `12.4.0`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Frelease-it-12.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

release-it is a devDependen

[2019-09-17 07:19] greenkeeper[bot] opened #96 "An in-range update of webpack-cli is breaking the build 🚨"
## The devDependency [webpack-cli](https://github.com/webpack/webpack-cli) was updated from `3.3.8` to `3.3.9`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fwebpack-cli-3.3.9).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-cli is a devDependency

[2019-09-19 12:09] michalisgar opened #97 "Feature Request: AdError event listener"
Is it possible to expose the IMA AdError event? We need to provide a custom implementation if an ad error occurs.

[2019-09-19 21:35] rafa8626 commented on #97
@michalisgar yes I think it's possible; I'll work on it and let you know when available. Please star the project to support it

[2019-09-20 07:03] michalisgar commented on #97
Sure thing! Thanks for your prompt response and great work on this project. :slightly_smiling_face:

[2019-09-20 07:16] kornarakis commented on #97
Hi @rafa8626 , it would be very handy if we can have access to any kind of errors and even better if we can pass our own code as a fallback if something goes wrong with a VAST , VPAID etc .

[2019-09-20 13:30] #96 closed

[2019-09-20 13:31] #95 closed

[2019-09-20 13:31] #94 closed

[2019-09-20 13:31] #92 closed

[2019-09-23 02:20] rafa8626 commented on #76
@ctaity @arnabadg17 I finished the whole feature for levels; please take a look and let me know if it's good to go. Thanks for your suggestions

[2019-09-23 12:10] ctaity commented on #76
I will test the feature in this or next week thanks

[2019-09-23 12:11] rafa8626 commented on #76
thanks for your help @ctaity please star the project to support it

[2019-10-01 21:01] greenkeeper[bot] opened #98 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## The devDependency [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) was updated from `7.15.0` to `7.15.1`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Feslint-plugin-react-7.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

e

[2019-10-03 23:55] #98 closed

[2019-10-10 00:26] rafa8626 commented on #76
@ctaity any updates? Am I good to merge this?

[2019-10-10 00:59] rafa8626 commented on #97
@michalisgar @kornarakis I'll be looking at this soon, once I have some free time. Thanks for your patience.

[2019-10-10 18:38] greenkeeper[bot] opened #99 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.6.3` to `7.6.4`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.6.2` to `7.6.3`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs

[2019-10-14 21:31] #99 closed

[2019-10-21 01:05] rafa8626 commented on #97
@michalisgar @kornarakis please check the **error-event** branch and let me know if that will work for you. Once you approve I'll merge this into master

[2019-10-21 01:05] rafa8626 commented on #76
I merged this branch already so any bug fixes will come up after the release of this feature

[2019-10-21 01:05] #76 closed

[2019-10-24 16:04] greenkeeper[bot] opened #100 "An in-range update of postcss is breaking the build 🚨"
## The devDependency [postcss](https://github.com/postcss/postcss) was updated from `7.0.19` to `7.0.20`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fpostcss-7.0.20).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss is a devDependency of this proj

[2019-10-26 18:53] #100 closed

[2019-10-26 18:54] rafa8626 commented on #97
@michalisgar @kornarakis any updates on this?

[2019-10-31 14:49] michalisgar commented on #97
Sorry about this @rafa8626, I will take a look as soon as I get home.

Thanks a lot for your time and effort on this :slightly_smiling_face:

[2019-11-01 18:58] rafa8626 commented on #97
You are welcome @michalisgar let me know if you have any questions

[2019-11-09 22:07] rafa8626 commented on #97
@michalisgar @kornarakis are we good with the implementation so I can merge it into master?

[2019-11-10 13:09] xel23 opened #101 "Second and next vasts aren't displayed"
Hello!
The problem is: if I use several vast/vpaid, the second one and next vast/vpaid(s) aren't displayed correctly. It seems that ads are showed under main media content.
First screen of media freezes and ad is played with visability 0%. I've decided about it because I can catch event whith is sent by player.

Besides, there is the red line for progress instead yellow (like for ads).
![image](ht

[2019-11-10 13:45] rafa8626 commented on #101
@xel23 can you provide me a CodePen so I can check the problem please?

[2019-11-10 16:22] xel23 commented on #101
@rafa8626
https://codepen.io/xel23/pen/pooZjdL

[2019-11-11 02:19] rafa8626 commented on #101
@xel23 thanks I’ll take a look at this and get back to you as soon as I can

[2019-11-11 19:03] rafa8626 commented on #101
@xel23 this issue seems to be fixed now; please test the master branch and let me know if it works for you. After that, this will be put for the oncoming release candidate

[2019-11-11 19:06] rafa8626 commented on #58
@supersh86 do you still need this feature?

[2019-11-12 17:10] xel23 commented on #101
@rafa8626 Thanks for your work. It seems ads start switching. But some another problem is appered:
There is unhandled exception if no ads or incorrect ad format
![image](https://user-images.githubusercontent.com/33120394/68693283-0c672980-0588-11ea-84cd-5f445fa7b158.png)

![image](https://user-images.githubusercontent.com/33120394/68693318-20129000-0588-11ea-8c70-8776867a698a.png)

[2019-11-12 17:14] rafa8626 commented on #101
@xel23 let me take a look and get back to you

[2019-11-12 17:50] rafa8626 commented on #101
@xel23 it's fixed my bad there was a typo in the code but it's good now. Let me know if everything else is fine

[2019-11-13 13:32] xel23 commented on #101
@rafa8626 Yes. For now everything about these problems is ok. Thank you!

[2019-11-13 13:39] rafa8626 commented on #101
Thank you for reporting this

[2019-11-13 13:39] #101 closed

[2019-11-16 13:51] rafa8626 commented on #79
@mahdi-gh1373 @ignusws would you do me a favor and star the project please?

[2019-11-19 23:41] #97 closed

[2019-11-26 12:32] rafa8626 commented on #58
Closing this for now. We can reopen this ticket if the request comes back

[2019-11-26 12:32] #58 closed

[2019-12-02 18:37] greenkeeper[bot] opened #106 "An in-range update of core-js is breaking the build 🚨"
## The devDependency [core-js](https://github.com/zloirock/core-js) was updated from `3.4.6` to `3.4.7`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fcore-js-3.4.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

core-js is a devDependency of this projec

[2019-12-10 19:25] #106 closed

[2019-12-12 17:27] greenkeeper[bot] opened #107 "An in-range update of css-loader is breaking the build 🚨"
## The devDependency [css-loader](https://github.com/webpack-contrib/css-loader) was updated from `3.3.1` to `3.3.2`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fcss-loader-3.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

css-loader is a devDepend

[2019-12-17 13:08] greenkeeper[bot] opened #108 "An in-range update of style-loader is breaking the build 🚨"
## The devDependency [style-loader](https://github.com/webpack-contrib/style-loader) was updated from `1.0.1` to `1.0.2`.

🚨 [View failing branch](https://github.com/openplayerjs/openplayerjs/compare/master...openplayerjs:greenkeeper%2Fstyle-loader-1.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

style-loader is a d

[2019-12-17 23:16] #108 closed

[2019-12-17 23:16] #107 closed

[2019-12-18 15:06] nickcuper opened #109 "macOS Safari - autoplay not working properly"
macOS Catalina 10.15.2

Autoplay not working in Safari browser, i have tested for few different providers (akamai, ngenix)

`
Unhandled Promise Rejection: NotAllowedError: The request is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.
(anonymous function)
rejectPromise
play
value — hls.js:1:215689
(anonymous function) — hls.js:1:31

[2019-12-18 15:47] rafa8626 commented on #109
Thanks for bringing this to my attention @nickcuper I'll take a look at it and get you back. Can you star the project to show your support, please?

[2019-12-18 15:59] nickcuper commented on #109
@rafa8626 thanks, of course, np
Im not sure 100% but problem might be with video element
looks like you delete current media element and create new one

existing tag
`
 <video id="video" autoplay muted playsinline class="op-player__media op-levels__option"></video>
`

After player initialisation it looks
`
<video muted="" playsinline="" class="op-player__media op-levels__option" src="blob:https://

[2019-12-18 19:37] rafa8626 commented on #109
@nickcuper please test the master branch and let me know if it works for you. If so, this will be part of the next release. Thanks

[2019-12-19 09:00] nickcuper commented on #109
@rafa8626 i have tried it for v1.14.3 and v1.14.2 and it not working

[2019-12-19 10:58] rafa8626 commented on #109
Download the master branch and test it with it since I haven’t released the fix yet

[2019-12-19 12:42] nickcuper commented on #109
@rafa8626 ok, will try that

[2019-12-19 13:20] nickcuper commented on #109
well, i have checked master https://github.com/openplayerjs/openplayerjs/commit/60a0a73c9773b04c8713155475bc17ddb4ac30da

autoplay for safari still not working

good news, you have fixed unnecessary load hls.js - well done, perfect

and looks like i figure out how to fix for safari/ios
it works for me, i have tested for macOS, iOS (10,11,12,13), iPad (12, 11)

[code]

[2019-12-19 13:37] rafa8626 commented on #109
How did you figure out the fix? I see the code but I can’t figure out where is the change

[2019-12-19 14:23] rafa8626 commented on #109
Oh I see it now. Let me change this so you can test it once more

[2019-12-19 14:26] rafa8626 commented on #109
@nickcuper ready; please download the latest version of master and test once more. Thanks for the catch on the autoplay method

[2019-12-21 12:27] nickcuper commented on #109
@rafa8626 i have tested latest version, it works for iOS devices (in normal mode)

Also i found the same issue for old Android 4.4 (native browser) Android 5 (samsung browser)
All iOS devices (in low power mode) are affected by this bug also.

So, that mean our solution is not so good it covers just some range of devices.

I digged more deeply in logic `isAutoplaySupported` and found interesting t

[2019-12-21 15:44] rafa8626 commented on #109
@nickcuper thanks for your help, once you submit the PR I'll review it

[2019-12-23 14:19] rafa8626 commented on #109
@nickcuper what’s missing is to enclose this callback into a try/catch block correct?

[2019-12-23 18:33] rafa8626 commented on #109
@nickcuper I added one more piece that included try/catch across that method to try to execute the `catch` parts. Please test the master brach and let me know if it worked for you

[2019-12-26 20:38] rafa8626 commented on #109
@nickcuper any updates on this? Have you had a chance to test the new update in master?

[2019-12-27 10:09] nickcuper commented on #109
hello @rafa8626
sorry for long response
checking ur fix

[2019-12-27 21:08] rafa8626 commented on #109
thanks @nickcuper keep me posted

[2019-12-27 21:51] nickcuper commented on #109
checked, it not working

[2019-12-27 21:53] rafa8626 commented on #109
can you indicate me how did you fix this on your end, please? I may be able to update it on my side in a little bit

[2019-12-28 02:06] nickcuper commented on #109
https://github.com/openplayerjs/openplayerjs/pull/110

[2019-12-28 02:29] rafa8626 commented on #109
@nickcuper thanks I’ll review it shortly; are you gonna include the Ads fix in this PR? Or should I wait for another PR?

[2019-12-28 04:50] rafa8626 commented on #109
Thanks @nickcuper I added my comments on the PR

[2019-12-29 00:39] rafa8626 commented on #109
Fixed by #110

[2020-01-26 22:38] rafa8626 commented on #109
@nickcuper quick question: have you experienced issues with your fix using Ads? I've seen some inconsistencies but I wanted to confirm if it plays Ads, and then automatically starts the media

[2020-01-28 10:16] nickcuper commented on #109
@rafa8626 Hi, i didnt
But i can check later on

[2020-01-28 11:26] rafa8626 commented on #109
@nickcuper yes please I’d appreciate it if you could help me with that. Keep me posted about it

[2020-02-05 19:36] rafa8626 commented on #109
@nickcuper any updates about this?

[2020-02-08 12:02] nickcuper commented on #109
@rafa8626 hey, I have checked it’s work for me
But I noticed problem with Adblock extension, if user enable Adblock - ads not working
Could you provide please more info for me, thanks

[2020-02-08 12:35] rafa8626 commented on #109
@nickcuper the issue that I described above is related to mobile devices not in desktop; can you verify that as well please? As per the Ads blocker it is expected since it overrides URLs based on patterns that Ads use. Let me know if you found issues on mobile

[2020-02-13 11:53] bhmtech opened #116 "hls quality switch and rewind ,forward button"

[2020-02-14 09:55] ampersand83 opened #117 "Configurable progressbar for live audio streams"
**Is your feature request related to a problem? Please describe.**
I am locking for a way to make the progressbar appear for live hls audio streams.
Looking at the code of the setInitialProgress method in openplayer.js I see that the progressbar is set to aria-hidden=true, when a livestream is detected. In our case we have hls livestreams of radio stations that allow to jump back in time for two h

[2020-02-14 13:17] rafa8626 commented on #109
@nickcuper I confirm that there are issues when using mobile; I tried opening the OpenPlayerJS website in an iPhone 8. I tried to play the video, and first, the Ads play, but then it doesn't switch to the video. Can you look at that please? This seemed to start happening after the fix for this issue got introduced

[2020-02-15 15:01] rafa8626 commented on #117
@ampersand83 thanks for the suggestion; I'll include this configuration item soon so it is released in the oncoming release. Please star the project to show your support

[2020-02-15 15:03] rafa8626 commented on #116
@bhmtech the quality switch is already available using the `levels` option in the `controls` settings. As per the other 2 buttons they could be included as part of the core player, but you have the option to create them as well. For more information, take a look at the README file in the project

[2020-02-15 15:03] #116 closed

[2020-02-15 17:00] rafa8626 commented on #109
@nickcuper I found out that the error I saw came from an earlier release so it has nothing to do with the fix you implemented. Thanks anyway

[2020-02-15 17:00] #109 closed

[2020-02-15 17:05] rafa8626 opened #118 "Ads not playing media after they end"
**Describe the bug**
Ads are not playing media once they end in mobile; also, Ads are not playing midroll and postroll in desktop

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://openplayerjs.com
2. Click on Play button for video in iPhone 8

**Expected behavior**
Ads should be played and after that, media should automatically play (mobile); if preroll plays, midroll and postrol

[2020-02-15 18:23] #118 closed

[2020-02-16 16:26] rafa8626 commented on #117
@ampersand83 could you provide me a URL for one of your streams so I can test the implementation of this please?

[2020-02-16 16:44] ampersand83 commented on #117
Hi @rafa8626, thank you for your really quick response. I am afraid, that I won't be able to send you that url until monday morning CET. Unfortunately my company is really strict in their security policy so that I don't have access to our internal git repo and hence can't figure out that url.

[2020-02-16 16:45] rafa8626 commented on #117
@ampersand83 no worries; if you cannot I'll ask to test the master branch on your side. I'll let you know when I have the implementation ready

[2020-02-17 08:06] ampersand83 commented on #117
One livestream url to test is https://hlsyoufm-i.akamaihd.net/hls/live/1002759/youfm/master.m3u8.

[2020-02-17 15:09] rafa8626 commented on #117
@ampersand83 please download the branch `feature/show-live-progress` and test it on your side; so far on my end worked as expected. But let me know if you find any issues or something else is missing. To activate it, set the `showLiveProgress` flag as `true` in the configuration. Thanks for the suggestion on this

[2020-02-18 05:17] meotimdihia opened #119 "Support React with Server Side Render"
Example with video.js
https://github.com/zeit/next.js/tree/canary/examples/with-videojs
I can't get openplayerjs work with next.js.

[2020-02-18 08:46] ampersand83 commented on #117
@rafa8626 , thank you for the quick implementation. It works as expected but i still found one issue.

When I start the stream, move the scrollbar in the past and after that move it back to the very right (to get back to the live broadcast), I have to wait for quite some time (5 to 10 seconds) until the stream plays again. Trying that on the hls.js demo page the stream almost immediately plays.
Ar

[2020-02-18 11:43] rafa8626 commented on #117
@ampersand83 can you indicate what url in his.js demo are you using as a reference? I saw that a couple of times in my tests but I thought it was my machine

[2020-02-18 18:17] ampersand83 commented on #117
Hi @rafa8626 its the url https://hlsyoufm-i.akamaihd.net/hls/live/1002759/youfm/master.m3u8 I mentioned in an earlier comment.

[2020-02-18 18:30] rafa8626 commented on #117
@ampersand83 gotcha. I'll take a look at it and keep you posted

[2020-02-18 20:39] rafa8626 commented on #119
@meotimdihia thanks for raising this issue; I'll check this and let you know my findings. Please star the project to show your support

[2020-02-21 03:05] rafa8626 commented on #119
@meotimdihia can you post a CodePen showing the issue please? It would be easier for me to debug the root of the issue if I can see an example of it

[2020-02-21 08:09] meotimdihia commented on #119
https://codesandbox.io/s/cranky-jepsen-uu6b5?fontsize=14&hidenavigation=1&theme=dark

Hi, Try to access the link `Openplayer` in demo. It will work when render in client. But when you refresh the browser for SSR render, you will get the error: `Unhandled Rejection (ReferenceError): window is not defined`

[2020-02-21 13:11] rafa8626 commented on #119
@meotimdihia thanks; I know now why it doesn't work. If you change your effect to mimic a `componentDidMount`:
[code]
I see it working properly in your code after i did that change. According to Next.js:

[2020-02-21 13:28] meotimdihia commented on #119
Hi, can you share the code link on how to make it works? I don't get this part.

[2020-02-21 13:56] rafa8626 commented on #119
@meotimdihia I used your same CodeSanbox and it's working for me as is

[2020-02-21 14:13] meotimdihia commented on #119
@rafa8626 : I post a video for this bug again in the case you mistake it:
![2020-02-21_21-11-58](https://user-images.githubusercontent.com/300961/75041285-dc1c1900-54ee-11ea-8208-ba85135089fc.gif)

[2020-02-21 14:32] rafa8626 commented on #119
@meotimdihia thanks, I'll check this in a bit

[2020-02-26 02:37] rafa8626 commented on #117
@ampersand83 sorry for the delay on this; I may have a chance to complete this early next week. Just FYI

[2020-02-27 09:44] ampersand83 commented on #117
Ok, Thank you. No worries. Take your time.

[2020-02-28 03:02] rafa8626 commented on #119
@meotimdihia I finally figured out the issues; check this https://codesandbox.io/s/vigorous-almeida-71gln

[2020-02-29 20:02] rafa8626 commented on #117
@ampersand83 I think I have this sorted out; please test the branch once more and let me know if it's all good on your end

[2020-02-29 20:03] rafa8626 commented on #117
@ampersand83 once you confirm this is good to go, I'll merge this and send the release. So I'll wait for your feedback. Thanks

[2020-03-01 08:04] meotimdihia commented on #119
Hi, I am waiting the new release 👍 .

[2020-03-01 12:41] rafa8626 commented on #119
@meotimdihia I’m just waiting to have a feature approved and then I’ll release maybe next week

[2020-03-03 10:52] ampersand83 commented on #117
@rafa8626 Hi,
I checked it again, but unfortunately nothing seems to have changed. When initially pressing the playbutton the stream starts to play immediately. Moving the progressbar to a moment in the past the stream also plays immediately. But if I move the progressbar back to live the stream won't play for quite some time. In Chrome the following error is displayed in the console when I try to

[2020-03-03 12:38] rafa8626 commented on #117
@ampersand83 I'll re check this since I tried to emulate what the native player does: store the last current time before it was moved to a different position. As far as I tested it was working, but let me check and I'll get back to you

[2020-03-03 20:40] rafa8626 commented on #117
@ampersand83 ok I fixed the issue with the slider; you should see a smoother transition in the audio when sliding the progress bar. Check the branch and let me know

[2020-03-04 15:32] #117 closed

[2020-03-04 15:33] ampersand83 commented on #117
Hi @rafa8626  now everything works as expected. You can merge it in the master.
Thanks for your quick response and your great work.

[2020-03-04 15:41] rafa8626 commented on #117
@ampersand83 Thanks for the suggestion to make this player better. I'll release today

[2020-03-10 13:24] KajKas opened #123 "Ad loop"
Would it be possible to add an option to loop the VAST ad so that it plays in repeat without any other videos?

[2020-03-12 17:38] rafa8626 commented on #123
@KajKas please download the branch **feature/infinite-ad** and let me know if it works for you. I tested in iOS and desktop and all seems to be working as expected. Read the documentation to know how to activate the loop in Ads

[2020-03-12 20:48] KajKas commented on #123
@rafa8626 Works great, thanks a lot!

[2020-03-12 20:54] rafa8626 commented on #123
Thanks @KajKas it has been merged into master; I’ll release it tomorrow

[2020-03-12 20:54] #123 closed

[2020-03-14 20:15] meotimdihia opened #125 "Progress bar flash when enabling levels control"
Progress bar flash when enabling levels control:
Code link: https://codesandbox.io/s/cranky-jepsen-uu6b5
**Screenshots**
![2020-03-15_02-58-12](https://user-images.githubusercontent.com/300961/76689505-18174980-6669-11ea-83ca-8525c39ee13b.gif)

[code]

[2020-03-14 21:54] rafa8626 commented on #125
@meotimdihia thanks I’ll check this and keep you posted

[2020-03-15 14:02] rafa8626 commented on #125
@meotimdihia please test the PR I created and let me know if it's good to go. Thanks

[2020-03-15 17:35] #125 closed

[2020-03-15 17:44] rafa8626 commented on #125
@meotimdihia thanks for your feedback

[2020-03-24 14:27] meotimdihia opened #127 "Javascript link was broken on the homepage"
Javascript link was broken on the homepage
https://www.openplayerjs.com/

[2020-03-24 15:05] rafa8626 commented on #127
Thanks for noticing this; something in the package.json wasn't transferred correctly and I have to send a new release. I'll do it as soon as I can

[2020-03-25 01:32] rafa8626 commented on #127
New version has been released and has dist files now

[2020-03-25 01:32] #127 closed

[2020-03-30 12:13] bcorvino opened #129 "How to manually insert AdBreaks?"
Hi,

IVe' been using openplayerjs for my new project and it's fantastic.  One issue though: I'd like to be able to manually trigger ad breaks using the same tag at intervals responding to the HTML5 timeupdate event.

I believe in IMA SDK this is accomplished by setting:
adsLoader.getSettings().setAutoPlayAdBreaks(false);

and then adding a custom listener (see below)
https://developers.google.com/

[2020-03-30 12:18] rafa8626 commented on #129
@bcorvino the only method I have to access the Ads is `getAd`, but since the method is private you can actually set a PR to turn it public; that way more users could benefit of that approach

[2020-03-30 13:50] bcorvino commented on #129
Thank you for the quick response, rafa. Happy to do the PR for the project.

[2020-03-31 15:11] bcorvino commented on #129
Hi Rafa,

Pull request sent.

Bill

[2020-03-31 15:18] rafa8626 commented on #129
@bcorvino thanks; I was just checking it. Can you remove the `dist` files since it complicates the review of it please?

[2020-03-31 15:20] bcorvino commented on #129
oops will do. Do I need to make a new pull request after, or will it be reflected when master is updated?

[2020-03-31 15:21] rafa8626 commented on #129
better create a new pull request

[2020-03-31 15:23] bcorvino commented on #129
last thing: better to remove the files or just pull down the ones from your master so they match on the PR?

[2020-03-31 15:25] rafa8626 commented on #129
which files, the `dist` ones?

[2020-03-31 15:27] bcorvino commented on #129
yes, the dist ones.

[2020-03-31 15:28] rafa8626 commented on #129
just pull down the ones from master; at the end of the day I just need to review your `demo` and `src` folders' changes

[2020-03-31 15:29] bcorvino commented on #129
Thats' what I figured.  Coming up, thanks!

[2020-03-31 15:38] bcorvino commented on #129
New PR sent

[2020-03-31 15:48] rafa8626 commented on #129
Review back to you

[2020-03-31 20:49] #129 closed

[2020-03-31 20:56] rafa8626 commented on #129
@bcorvino thanks for the PR; this is now part of the new version of the player

[2020-03-31 21:36] bcorvino commented on #129
Happy to have contributed!

[2020-04-13 14:23] frequeradio opened #134 "preload="none" doesn't work anymore"
**Describe the bug**
With the last version, with the following code ` <audio class="op-player op-player__media" controls preload="none">` the user has to click twice on the button play to start the stream.

The issue did not occur with my version currently in production 1.9.0

Thanks !

[2020-04-13 15:29] rafa8626 commented on #134
@frequeradio can you create a quick CodePen that shows this issue, so I can look at it later, please?

[2020-04-13 17:00] frequeradio commented on #134
Thanks !

https://codepen.io/frequeradio/pen/XWmbGYL   --> with the 1.16.3 and the issue
https://codepen.io/frequeradio/pen/abvOMab  --> with the 1.9.0, without the issue

[2020-04-15 23:53] aldevit opened #135 "IMA SDK: set numRedirects"
hi,
how can i edit numRedirects for IMA SDK?

currently default is 4 I have to set maxredirects 6.

Thanks,
Al

[2020-04-16 00:10] rafa8626 commented on #135
@aldevit currently, there's no way right now to change that but let me work on it and I'll get back to you

[2020-04-16 00:18] aldevit commented on #135
thank you so much

[2020-04-16 00:41] rafa8626 commented on #135
@aldevit you are welcome, a quick favor: can you star the project to show your support, please? If you have any friends on GitHub, please ask them to do as well. The more popularity, the better the player will turn

[2020-04-16 00:54] rafa8626 commented on #134
@frequeradio please download the master branch and test; this fix will go in the oncoming release

[2020-04-16 00:55] rafa8626 commented on #135
@aldevit please download the master branch and test the new `numRedirect` parameter inside of the `ads` config element. Read https://github.com/openplayerjs/openplayerjs#usage-with-javascript for more info. Thanks and let me know so this can go in the oncoming release

[2020-04-16 06:27] aldevit commented on #135
@rafa8626 I have download new file js with numRedirects and deployed on website, but it isn't changed the numRedirects is still settengis on 4

![ima_numRedirects](https://user-images.githubusercontent.com/63758206/79421928-2637ed00-7fbc-11ea-8fef-12df4d4bc42f.PNG)

[2020-04-16 09:44] rafa8626 commented on #135
@aldevit I’ll check this and ping you back

[2020-04-16 11:48] rafa8626 commented on #135
@aldevit I checked this and it works; once the loading of the Ads starts, it sets the numRedirects correctly

[2020-04-16 14:11] frequeradio commented on #134
It works :)

thanks !

[2020-04-16 14:12] #134 closed

[2020-04-17 09:46] aldevit commented on #135
@rafa8626  thank you for everything you did!

[2020-04-17 09:50] rafa8626 commented on #135
@aldevit you are welcome! I’ll release later today. Thanks for suggesting this feature

[2020-04-17 09:50] #135 closed

[2020-04-19 15:22] rahulrsingh09 commented on #116
@rafa8626 Can you please help with a small snippet here i was trying in this codepen but was unable to get the quality picker
https://codepen.io/rafa8626/pen/QZWEVy

[2020-04-22 10:44] frequeradio opened #136 "Uncaught TypeError: Cannot read property 'labels' of null"
There is a new error in the console with the version 1.16.4 and the player does not load correctly

https://codepen.io/frequeradio/pen/eYpBxaq

Is there a change to do in the configuration ?

[2020-04-22 11:07] rafa8626 commented on #136
@frequeradio interesting; I’ll check your Pen and get back to you

[2020-04-22 12:59] rafa8626 commented on #136
@frequeradio please download the master branch and let me know if it works for you, so I can release this as soon as possible

[2020-04-22 13:07] frequeradio commented on #136
Hi Rafa

The issue is fixed.
FYI when I slide the volume bar i have this error in the console

`Uncaught TypeError: Cannot set property 'volume' of undefined
    at Media.set (openplayer.js:7430)
    at Volume.updateVolume (openplayer.js:7073)`

I don't know if it's related or if i should open another ticket

[2020-04-22 13:11] rafa8626 commented on #136
@frequeradio I'll check it as part of this ticket as well

[2020-04-22 13:47] rafa8626 commented on #136
@frequeradio please download it again and let me know if that issue is also fixed, please

[2020-04-22 13:55] frequeradio commented on #136
@rafa8626 all good :)

[2020-04-22 13:56] rafa8626 commented on #136
@frequeradio thanks for catching this. Closing ticket and sending new release

[2020-04-22 13:56] #136 closed

[2020-04-25 14:19] rafa8626 commented on #116
@rahulrsingh09 I noticed that your media doesn’t play correctly; maybe it’s a n issue with CORS and that’s why it doesn’t parse the manifest correctly

[2020-04-25 15:59] rahulrsingh09 commented on #116
@rafa8626 but it's an open test hls url i doubt it will have cors

[2020-04-25 18:40] rafa8626 commented on #116
@rahulrsingh09 interesting; the source doesn't play in iOS, just FYI; I'll check on desktop your issue

[2020-04-25 18:44] rafa8626 commented on #116
@rahulrsingh09 I know why: `levels` control is not set by default; you have to manually activate it. If you add in your config:
[code]
you will see the quality levels coming up.

As a big favor, please star the project to show your support.

[2020-05-26 01:13] rafa8626 commented on #117
@ampersand83 do you happen to have a sample URL where I can showcase this feature again please? I checked the URL you provided on this ticket and it doesn't work anymore. Also, I'm working on a feature to autodetect if the streaming is a DVR or not, and that automatically toggles to visibility of the progress bar without any configuration, but I can't find workin samples online

[2020-05-26 07:18] ampersand83 commented on #117
Hi @rafa8626, oh yeah that url is now outdated. The new one is https://hlsyoufm.akamaized.net/hls/live/2016538/youfm/master.m3u8.

[2020-05-26 10:33] rafa8626 commented on #117
@ampersand83 awesome! Thanks!

[2020-05-26 22:17] agsdot opened #137 "Recommended AWS Cloudfront settings for hls and m3u8 files"
Can there be some documentation for best practice/recommended S3 and Cloudfront settings when hosting m3u8 files?

I can occasionally get S3 m3u8 files to be served up. But for Cloudfront, "*.m3u8' from origin 'https://website URL' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."

Console Developer Tools
![Screen Shot 2020-05-26 at 3 1

[2020-05-27 01:03] rafa8626 commented on #137
@agsdot sure; let me prepare a space for it, so it is documented in the project as well. Thanks for raising the concern about that part. Please start the project to show your support

[2020-05-27 02:32] agsdot commented on #137
@rafa8626 Thanks! Super appreciate your help. Been on StackOverflow and Googling for solutions the week and more or so.

Already using OpenPlayer.js for mp4 files (the above S3/Cloudfront settings seem to work ok with mp4 files), but would really like to transition to using m3u8/*.ts files. Easier for locations that might be on lower bandwidth or further from the Amazon Edge site.

[2020-05-27 03:41] rafa8626 commented on #137
That’s good; can you give the project a star so we can help it to become more popular please?

[2020-05-27 04:01] agsdot commented on #137
👍 , just put in a star.

[2020-05-27 14:56] rafa8626 commented on #137
@agsdot thanks! Can you check if any of these answers help you in your scenario: https://stackoverflow.com/questions/33858072/aws-s3-cloudfront-gives-cors-errors-when-serving-images-from-browser-cache?

[2020-05-27 18:28] agsdot commented on #137
@rafa8626 , I saw that SO article the other day. However, I proceeded to try the curl diagnostics from the second post. Screenshots are documented of configs for both S3 and Cloudfront, as well as the curl outputs. I'm still encountering the same issue in the browser console.

![Screen Shot 2020-05-27 at 11 17 56 AM](https://user-images.githubusercontent.com/1510449/83058280-f9401680-a00c-11ea-997

[2020-05-27 20:33] rafa8626 commented on #137
@agsdot IDK if it helps as well, but placing a crossdomain.xml at your root folder file was an old practice, I don't know if that will also help. I generally had relied on more specialized people to set this up

[2020-05-27 22:56] agsdot commented on #137
`<cross-domain-policy>
<allow-access-from domain="*" />
</cross-domain-policy>`

and

`<cross-domain-policy>
<allow-access-from domain="*" secure="false"/>
</cross-domain-policy>`

(from https://foliovision.com/player/video-hosting/hls#cors-in-amazon-s3 and https://github.com/Tinywan/html5-dash-hls-rtmp/blob/master/crossdomain.xml)
were tested out. The same issue occurred.

P.s. Are crossdomain.xm

[2020-05-27 23:14] rafa8626 commented on #137
Could be used for both; since this is more related to your setup than to the project, if you need more specialized help we can talk about it. It’s hard to know what’s failing on your side without having access to it in so capacity

[2020-05-28 00:39] rafa8626 opened #138 "Check workflow for Ads Blocker"
Currently, OpenPlayerJS is not very intuitive when the user has an Ads Blocker enabled.

Explore the possibilities of providing an error from the player to indicate this scenario

[2020-05-28 00:39] rafa8626 opened #139 "Create multi-language docs"
In current website, enable initially English and Spanish, to expand demography of project

[2020-05-28 00:42] rafa8626 opened #140 "Explore fully responsive player"
Currently, player has some sort of responsiveness associated with its styles; however, full responsiveness should be enabled using the approaches described at https://stackoverflow.com/questions/19796799/fully-responsive-html5-video

[2020-05-28 00:43] rafa8626 opened #141 "Support for playlist"
A `playlist` configuration element will allow to play multiple sources of any kind

[2020-05-28 00:44] rafa8626 opened #142 "Support for M3U playlists"
After #141 is in place, add the ability to parse M3U playlists by using all the elements described at https://siptv.eu/howto/playlist.html, and fill/expand the `playlist` configuration element

[2020-05-28 00:45] rafa8626 opened #143 "Simplify README"
There is a lot of information on the README file; consider condensing the information to be cleaner and straight to the points users may find more useful.

Other topics such as API, events, etc., can live in their own files

[2020-05-28 00:46] rafa8626 opened #144 "Fix lint issues"
Give one pass to the code and fix any potential issues in the `src` folder to be 100% free of lint issues

[2020-05-28 00:46] rafa8626 opened #145 "Review interfaces"
- Remove unnecessary documentation
- Enable `readonly` properties

[2020-05-28 00:48] rafa8626 opened #146 "Enable DVR mode"
If a stream has the ability to go backward in time, player must be smart enough to enable the progress bar and allow the manipulation of the media in DVR mode.

Example to use: https://hlsyoufm.akamaized.net/hls/live/2016538/youfm/master.m3u8

[2020-05-28 00:50] rafa8626 opened #147 "Simplify player settings"
Currently, the player supports 4 parameters: `ID`, `ads`, `fullscreen` and `options`.

Reduce the parameters to support only 2: `ID` and `options`, and merge `ads` and `fullscreen` into `options`

`fullscreen` must be converted to a new `mode` parameter

[2020-05-28 00:52] #147 closed

[2020-05-28 00:54] rafa8626 commented on #146
@ampersand83 can you test this using the `2.0.0` branch in this project and let me know if it works for you, even removing the `showLiveProgress` config element, please?

[2020-05-28 00:56] #145 closed

[2020-05-28 00:56] #144 closed

[2020-05-28 06:38] ampersand83 commented on #146
Hi @rafa8626, I would really like to test it, but I can't figure out how to build the 2.0.0 branch. At first I am on a windows 10 machine that doesn't know unix shell commands. That's why I can't run the build script. I removed the "[ -d ./dist ] && rm -R ./dist;" part and deleted the dist directory manually, but know when running "npm run build" the error message "TS18002: The 'files' list in con

[2020-05-28 10:44] rafa8626 commented on #146
@ampersand83 I’ll check what happened and bundle the dist files so you can use them for testing

[2020-05-28 12:02] rafa8626 commented on #146
@ampersand83 it is ready now; just download the dist files from the 2.0.0 branch and let me know if it worked for you as expected

[2020-05-28 14:01] ampersand83 commented on #146
@rafa8626 everything seems to work fine. But I'm not sure why you put the hls Livestream in a video element. It is an audio only livestream and hence should be loaded as an audio element I think. Apart from that the progressbar recognizes the livestream with a dvr window without me specifying  the showLiveProgress option.

[2020-05-28 14:23] rafa8626 commented on #146
@ampersand83 lol my bad; I was testing it quickly that I just threw it in the video area. But yes, we should be using it as part of the audio tag.

I'm glad that you didn't need the option and kept working as expected. I really thank you for your help on this. Closing this issue

[2020-05-28 14:23] #146 closed

[2020-05-28 20:37] agsdot commented on #137
@rafa8626 , you're correct, it was more of an AWS setup question (and recommended best practice) more so than about the openplayer project.

Fortunately after several weeks+ of googling for solutions and sifting through SO articles, I came across something new that worked.

I was contemplating yesterday after your last comment about perhaps trying GCP's setup vs AWS and how to configure their equi

[2020-05-28 20:37] agsdot commented on #137
Just to document the CORs setup that worked for me:

`
<?xml version="1.0" encoding="UTF-8"?>
<CORSConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
<CORSRule>
    <AllowedOrigin>*</AllowedOrigin>
    <AllowedMethod>GET</AllowedMethod>
    <AllowedMethod>PUT</AllowedMethod>
    <AllowedMethod>HEAD</AllowedMethod>
    <AllowedMethod>POST</AllowedMethod>
    <AllowedMethod>DELETE</Allow

[2020-05-28 20:39] rafa8626 commented on #137
@agsdot thanks so much for giving me a heads up about this! in the next version I'll try to include the documentation or links for this at least. Please invite other users to star the project to give it more popularity.

[2020-05-28 20:39] #137 closed

[2020-05-28 20:41] agsdot commented on #137
CORS setup referenced in the gist: https://gist.github.com/rwaldron/4cf573222da7a6131e26dfccb51f6cfa. Just putting some copy pasta in case that gist get's removed, and/or it makes it easier for other people to find CORS setting when they want to setup openplayerjs

AWS S3 CORS
[code]

GCP
[code]

[2020-05-28 20:42] agsdot commented on #137
For sure, no problem @rafa8626 . Thanks once again for making an awesome media player. Much appreciated.

[2020-06-11 02:56] rafa8626 commented on #143
In progress

[2020-06-11 02:56] rafa8626 commented on #142
In progress

[2020-06-18 06:01] Sh1d0w commented on #118
This is still happening for me. What was the solution?

[2020-06-18 06:14] Sh1d0w opened #148 "Ads not playing media after they end"
**Describe the bug**
Ads are not playing media once they end on mobile

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://openplayerjs.com
2. Put ads url
3. Click on Play button for audio in iPhone 11

**Expected behavior**
Ads should be played and after that, media should automatically play (mobile)

Device: iPhone 11
OS: iOS 13.5.1
Browser Safari
Version 13.1

[2020-06-18 11:59] rafa8626 commented on #148
@Sh1d0w let me check this and get back to you; please give us a star to support the project

[2020-06-18 12:00] Sh1d0w commented on #148
Thanks for the quick response @rafa8626 . I've already starred it when I've discovered the project. Been using it since then, great job 👍

[2020-06-18 12:04] rafa8626 commented on #148
@Sh1d0w thanks for your support! I’ll keep you posted on my findings

[2020-06-19 13:11] Sh1d0w opened #149 "Progress bar on Android phones problem"
**Describe the bug**
Hi, there seems to be a problem when trying to change the current position with the progress bar on Android phones (with the audio player). If you try to move the handle it aways goes to the middle of the audio.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'openplayerjs.com'
2. Switch to audio player
3. Click play and try to change the progress manually
4. See t

[2020-06-21 22:07] rafa8626 commented on #149
@Sh1d0w thanks for reporting this; I’ll try to reproduce it as soon as I have an Android phone at reach since it’s only isolated to that OS

[2020-06-22 12:59] rafa8626 commented on #148
@Sh1d0w after checking in depth some of the rules for Ads, the problem with the main website is that the duration of the media was less than the amount of Ads the source I set could play. So media tried to play all of them but couldn't because there was no middle roll time to execute them, so that caused some weird behaviors in the player. I changed the source to a longer one where the player coul

[2020-06-22 13:16] Sh1d0w commented on #148
Thanks for looking into this @rafa8626 .

In this case I am not sure this is the problem. The audio file itself is with 3 min length, so I don't think it is too short.

Let me give you some more info how to reproduce. On https://www.openplayerjs.com

- Use this for source of audio https://d21ha4knzzqzxd.cloudfront.net/0c0046ba-0c83-4fbe-93d4-5c6270d2f7b2.mp3
- Use this for ads https://pubads.g.dou

[2020-06-22 13:21] Sh1d0w commented on #148
Also just to clarify again that this problem appears only on iPhone, but works fine on Android.

[2020-06-22 13:27] rafa8626 commented on #148
@Sh1d0w gotcha. Ok let me check more and get back to you

[2020-06-23 00:50] rafa8626 commented on #148
@Sh1d0w I think I got this sorted out; please download the master  branch and let me know if it works for you. I tried the sources you indicated above and they seemed to be working as expected

[2020-06-23 01:17] rafa8626 commented on #149
@Sh1d0w I think this is sorted out now; please download the master branch and let me know if it worked for you. Thanks!

[2020-06-23 05:58] Sh1d0w commented on #148
Hi again @rafa8626 . Thanks for the quick fix, working like a charm now!

[2020-06-23 06:02] Sh1d0w commented on #149
Hey @rafa8626 . Thanks all working fine now!

[2020-06-23 06:02] #149 closed

[2020-06-23 13:58] Sh1d0w commented on #148
Hey again @rafa8626 . This seems to be fixed when we have an audio player, but seems still to not work if we have a video player. After the ad at the beginning finishes the video never starts.

I saw your commit https://github.com/openplayerjs/openplayerjs/commit/097f6127c5d52bf2207913fb07d45023f280cf04#diff-5237133821c414288086616f803f7455R759

There you target only the audio player, would it wor

[2020-06-23 14:02] rafa8626 commented on #148
@Sh1d0w I’ll check that. I tested it but maybe I missed something

[2020-06-23 14:36] rafa8626 commented on #148
@Sh1d0w I fixed it, and it should be fine for both video and audio; please download master branch and test once more

[2020-06-23 16:57] Sh1d0w commented on #148
Works for both audio and video now! Thanks !

[2020-06-23 17:00] rafa8626 commented on #148
@Sh1d0w great! Thanks for letting me know!

[2020-06-30 14:41] jamesmorrisapps opened #150 "Video player playing with sound when video element has muted attribute"
**Describe the bug**
I have a muted video element that I'm having OpenPlayer.js play. However, while the video autoplays, the muted attribute of the video element is not respected and the video player plays with sound.

**To Reproduce**
Run the included code below in a web browser. You can run it here: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_basic_headings

**Expected behavior**

[2020-07-01 01:45] rafa8626 commented on #150
@jamesmorrisapps please download the master branch and let me know if it's fixed for you. Once you confirm, I'll deploy the release

[2020-07-01 02:56] jamesmorrisapps commented on #150
Thank you so much! I’ll check in a bit.

   Cheers,

      James

On Tue, Jun 30, 2020 at 6:46 PM Rafael Miranda <notifications@github.com>
wrote:

[2020-07-01 05:07] jamesmorrisapps commented on #150
Hey Rafael,

This works perfectly! Thank you!

   Cheers,

      James

[2020-07-01 12:38] rafa8626 commented on #150
@jamesmorrisapps thanks! New release is now out there with this fix

[2020-07-01 12:38] #150 closed

[2020-07-03 03:53] #143 closed

[2020-07-03 03:53] #138 closed

[2020-07-03 03:53] #139 closed

[2020-07-03 03:53] #142 closed

[2020-07-03 10:53] #140 closed

[2020-07-06 08:39] Sh1d0w commented on #148
@rafa8626 sorry to bother you again but seems like the fix caused a side effect bug. Now if we get the error vast document is empty the player won’t start playing only on iOS, works fine on other platforms / browsers. I tried to narrow it down and seems like it is caused by not calling the admanager destroy function on the lines you’ve changed so the old events don’t get cleared. Since you are mor

[2020-07-06 10:43] rafa8626 commented on #148
@Sh1d0w sure, do you have a CodePen that reproduces this error?

[2020-07-06 10:52] Sh1d0w commented on #148
@rafa8626 Thank you very much for your time! Here is a codepen https://codepen.io/GDPR/pen/vYLdPeq

In order to reproduce you need to open it on iOS device, I am currently testing with iPhone 11 on latest version of iOS.

[2020-07-06 11:20] rafa8626 commented on #148
@Sh1d0w I’ll take a look and let you know my findings

[2020-07-06 13:28] rafa8626 commented on #148
@Sh1d0w I think the code was right before I set up the fix; I think the issue you saw before is related to the XML itself or how the Ad is being served. I see the same error happening with other sample tags from IMA SDK. I'll check this during the week.

[2020-07-07 03:27] rafa8626 commented on #148
@Sh1d0w please download the master branch and let me know if it works now, please test the Ads in your CodePen and the one you shared in this issue, since they are both different, and seems like I nailed down the behavior finally, but please confirm before I send this for a small release. Thanks for catching this

[2020-07-07 05:54] Sh1d0w commented on #148
Hey @rafa8626 that was really quick! Just took a look and the original issue is now resolved! The player now starts correctly  on all platforms including iOS!

However I've noticed another bug I am not sure if it is related to your changes. It again happens only on iOS.

Using the master branch with your last commit, on iOS only if I try to change the position of the progress bar after the ad play

[2020-07-07 10:52] rafa8626 commented on #148
@Sh1d0w gotcha. Let me check that and get back to you

[2020-07-07 14:25] rafa8626 commented on #148
@Sh1d0w download once more the master branch and let me know if it works now for you; I found out that a setting in IMA SDK messed with the internal timer of the video, so by doing it in a different way, I was able to click anywhere in the progress bar. Let me know if all is good so I can prepare the release today. Thanks

[2020-07-07 14:42] Sh1d0w commented on #148
@rafa8626 Seems like you've nailed it! Thanks for the quick fix and the great work.

Btw is there a way I can support the project sending a few bucks? I see you haven't enabled GitHub sponsors.

[2020-07-07 15:43] rafa8626 commented on #148
@Sh1d0w no I'm not part of the GitHub sponsors yet, but if you send me your email I can send you my PayPal link through email. I really appreciate the willingness to contribute to the project and that you find it useful!

The more stars, the more exposure the project will have, so if you can also help me with that I'd appreciate it ;)

[2020-07-07 16:06] rafa8626 commented on #148
@Sh1d0w FYI, I released the 1.16.8 version with this fix, so you are good to use the CDN in a bit

[2020-07-07 16:06] #148 closed

[2020-07-07 16:14] rafa8626 commented on #148
@Sh1d0w I forgot I had my PayPal link public: https://paypal.me/rafa8626?locale.x=en_US. Thanks for your help and for reporting issues like this

[2020-07-07 16:17] Sh1d0w commented on #148
Thanks, bought you a bunch of coffees!

[2020-07-07 16:20] rafa8626 commented on #148
Thank you!

[2020-07-14 14:20] Cremz commented on #119
@rafa8626 I'm having the same issue when trying to use your player on a nextjs application with server rendering.
Followed the example with useEffect, but it seems the error starts already when importing the openplayerjs file, code inside the useEffect doesn't even run in my case. Any tips?

[2020-07-14 14:23] rafa8626 commented on #119
@Cremz I’ll need to see this issue in a CodePen. There’s a link in the README that contains the implementation with NextJS. Start with that and then if it doesn’t work create one where you replicate the issue

[2020-07-14 15:16] Cremz commented on #119
After a whole lot of time spent on this i discovered that nextjs offers a dynamic loader that let me include a component only when there's no server side rendering. so issue was related to nextjs, not openplayer

[2020-07-14 15:22] rafa8626 commented on #119
@Cremz great, thanks for the heads up. Can you help me starring the project to show your support please?

[2020-08-06 12:53] Cremz opened #152 "Play button disappearing"
**Describe the bug**
When loading the player, the play button shows up, as well as the progress bar. Then after a couple of seconds they disappear. And don't show up even on hover, just see a black screen

**To Reproduce**
it happens even in the example videos on codepen

**Expected behavior**
The play button should always be visible if the video is not playing.

**Desktop (please complete the fol

[2020-08-06 19:01] rafa8626 commented on #152
Thanks @Cremz I'll check this soon

[2020-08-19 12:10] rafa8626 commented on #152
@Cremz sorry for the delay. Please check the master branch and let me know if it's fixed on your end. Thanks

[2020-08-24 04:08] rafa8626 opened #153 "Add event to extract metadata"
Create a `readmetadata` event to access ID3 tags from HTML5 and HLS

[2020-08-24 04:08] rafa8626 opened #154 "Live broadcast can show progress bar without showing progress"

[2020-08-24 04:09] rafa8626 opened #155 "Add `controlsAlwaysVisible` configuration"
Add this to `controls` and add new element to indicate positions of control items

[2020-08-24 04:09] rafa8626 opened #156 "New control layers"
Add capability to add bottom/center/bottom layers. in controls for more flexibility

[2020-08-24 04:11] rafa8626 opened #157 "Use SVG icons instead of font"
Currently, player uses font to add icons; replace that by using a more standard approach: SVG as icons with `currentColor` as default color, so we can manipulate colors as we please

[2020-08-24 04:12] #153 closed

[2020-08-24 04:13] #155 closed

[2020-08-24 04:13] #154 closed

[2020-08-24 11:04] Jaikant opened #158 "Unable to access the hls object."
Firstly thanks for the awesome project.

I am using HLs with multiple audio streams. I need to access the audio streams, more specifically the
`hls.audioTrack` for the current track, `hls.audioTracks` for all the tracks, and then I need to set the track based on user input. For this purpose, I need access to the hls object. How to get a reference to it?

Below some sample code, I was using directl

[2020-08-24 11:31] rafa8626 commented on #158
@Jaikant thanks for raising this issue; currently I haven’t integrated a way to access hls within the player but let me take a look and get back to you as soon as I can. Thanks and please star the project to show your support

[2020-08-24 11:55] Jaikant commented on #158
@rafa8626 Thanks! Let me know if it is a trivial change in the library, I could do the PR. If you give me some pointers.

[2020-08-25 14:59] rafa8626 commented on #158
@Jaikant I think the easiest way is to create a method to access the player instance you are dealing with; something like
[code]
this has to be a common method from `native.ts`. If you wanna raise a PR, I'd be happy to review it.

Let me know your thoughts

[2020-08-27 02:07] rafa8626 commented on #158
@Jaikant can you check the master branch and let me know if it works for you? The way to use it is:
[code]

[2020-08-27 04:58] Jaikant commented on #158
@rafa8626 awesome thank you so much!
PS: I had starred the project before you asked me to :) because it is awesome.

[2020-08-27 11:31] rafa8626 commented on #158
@Jaikant nice! I’m going to try to simplify the approach so you can use getMedia() only. I’ll keep you posted about it

[2020-09-14 05:25] #141 closed

[2020-09-14 05:25] #156 closed

[2020-09-16 01:42] #158 closed

[2020-09-18 01:26] #157 closed

[2020-09-18 07:17] abdes opened #159 "Please provide an example of how are we supposed to use the module in typescript"
**Is your feature request related to a problem? Please describe.**
As you are providing types only as a namespace in the type declaration file within the npm module, it's not clear how we can import the module in a typescript file without errors.

Doing:
import OpenPlayer from 'openplayerjs';

Results in:
TypeScript error in src/views/MainPanel.tsx(3,24):
File '...../node_modules/openplayerjs/open

[2020-09-18 10:59] rafa8626 commented on #159
@abdes thanks for posting this issue. I’ll check this and get back to you as soon as I can. Meanwhile, please give the project a star to show your support

[2020-09-18 11:30] abdes commented on #159
Done.

[2020-09-20 03:31] rafa8626 commented on #159
@abdes please download the master branch and let me know if the issue is gone. I had to update quite a bit the approach I was using and as far as I could see, it is working as expected but let me know so this fix goes into the next release

[2020-09-22 01:16] rafa8626 commented on #159
@abdes let me know if it worked for you so I can put for the big release coming soon. Thanks for reporting this

[2020-09-22 10:08] abdes commented on #159
The new types declaration files are complete now.
Thanks for the update.

[2020-09-23 11:48] abdes opened #160 "Cannot change live HLS source unless player is destroyed"
**Describe the bug**
If a player is already initialized with a HLS live source (.m3u), and the `player.src` is changed, the player continues to request the previous streams in the previous src value while requesting the new ones as well.

In order to switch the live HLS stream to a different source, the current player instance needs to be destroyed and recreated with the new source.

Is there a wa

[2020-09-23 11:58] #159 closed

[2020-09-23 12:06] rafa8626 commented on #160
@abdes thanks for reporting this. Let me check what could be the issue since it shouldn't be doing that already. Can you send me a couple of live streaming URLs I can use to test this please?

[2020-09-23 18:03] abdes commented on #160
@rafa8626 Unfortunately all streams I have require a username and password and cannot be shared.

[2020-09-24 02:52] rafa8626 commented on #160
@abdes I checked this and I’m unable to replicate it. I used 2 different live streams in my demo file and all worked as expected. Without a sample from your end it’s hard for me to say what’s the issue

[2020-09-24 06:46] abdes commented on #160
Can you please share the code you used to switch streams without destroying the player?

I will test it on my side using the same code.

[2020-09-24 13:42] rafa8626 commented on #160
@abdes if you check the `demo.js` file inside the `demo` folder in this project, look for the loadMedia (https://github.com/openplayerjs/openplayerjs/blob/f7dcecd61683e348fa142149cc2c2285010ca2a7/demo/demo.js#L21) that's how I'm doing it, and that's based even in how HLS.js does it

[2020-09-26 10:20] tigitz opened #161 "Uncaught TypeError: n(...).default is not a constructor, using TypeScript"
**Describe the bug**
Uncaught TypeError: n(...).default is not a constructor

**To Reproduce**
I'll provide a reproducer if bug cannot be solved easily but basically, I'm using the player in a `contentscript.ts` used in web extension development.

the tsconfig.json
[code]
.babelrc
[code]
Code generating the error. I'm using the master branch.
[code]

**Expected behavior**
To not error.

**Screensh

[2020-09-26 11:49] tigitz commented on #161
Solved by importing this way:

[code]

Probably my lack of understanding of CommonJS vs ES2015 modules. README could help in that sense with different examples.

[2020-09-26 12:30] rafa8626 commented on #161
@tigitz I’m glad you figured out, and yes, I’ll include an example in the docs once I release the new 2.0 version. Can you star the project to show your support to it, please?

[2020-09-26 12:30] tigitz commented on #161
already done :wink: :

[2020-09-26 12:39] rafa8626 commented on #161
Thanks. Much appreciated. By the way did you have this issue downloading directly the master branch, or using npm? The reason I’m asking it’s because I fixed a problem recently but hasn’t been released yet

[2020-09-26 13:22] rafa8626 commented on #161
Either way, if you can give me a CodePen or similar when you can show me this issue, I’d appreciate it, just in case I may have missed something for the next release. Thanks

[2020-09-26 14:24] tigitz commented on #161
I used

[2020-09-26 14:27] rafa8626 commented on #161
Gotcha; if you have a way to show me that error in a CodePen or something similar let me know so I can take a look at it and determine how to use it in the format I have indicated in the docs

[2020-09-26 14:29] tigitz commented on #161
OK, I'm on it !

[2020-09-26 14:41] tigitz opened #162 "VMAP with mid-roll is buggy"
**Describe the bug**
Tried to used an example in the list of IMA sample tags here: https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/tags

that fits my needs and I picked : `VMAP Pre-, Mid-, and Post-rolls, Single Ads` as I want mid roll ads but it has a weird behavior.

**To Reproduce**
https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.goog

[2020-09-26 14:52] tigitz commented on #161
@rafa8626 Here it is
https://codesandbox.io/s/open-player-default-constructor-issue-3grz3

I definitely think it has something to do with the tsconfig

[2020-09-26 15:27] rafa8626 commented on #162
@tigitz thanks I’ll check this and get back to you

[2020-09-26 15:33] rafa8626 commented on #161
@tigitz gotcha. Would you like to create a PR  where you include this config to confirm this solves your issue?

[2020-09-26 16:03] tigitz commented on #161
Sure but to clarify first you mean a PR including an integration test ? or a demo ? or just a doc ?

[2020-09-26 16:08] tigitz commented on #162
I've update the bug description. I realised mid roll ad not playing in the middle of the video is expected since it's defined this way: `AdBreak timeOffset="00:00:15.000" breakType="linear" breakId="midroll-1"`

[2020-09-26 16:32] rafa8626 commented on #161
We could add just docs but I wonder if I do need to setup that in the project’s tsconfig file

[2020-09-26 19:49] rafa8626 commented on #161
@tigitz I have added the configuration in the project itself and seems that it did the trick as you said. You should be able now to use
[code]
if you test the master branch. Let me know if it worked for you now.

[2020-09-28 01:47] rafa8626 commented on #162
@tigitz can you test the master branch and let me know if worked for you? There was an event in Ads that was causing this but in my tests all came positive

[2020-09-29 00:41] rafa8626 commented on #161
@tigitz let me know if this one is good to go so it's part of v2

[2020-09-29 00:41] rafa8626 commented on #162
@tigitz let me know if this one is good to go so it's part of v2

[2020-10-03 14:49] foadabdollahi opened #163 "next button in pause and end"
Next button in pause and end of video like YouTube player. and  auto click on next button after X sec.

![Capture](https://user-images.githubusercontent.com/13816403/94994487-c999b000-05a4-11eb-9046-e587b6ea3a98.PNG)

[2020-10-04 06:42] foadabdollahi opened #164 "Auto rotate on fullscreen"
Auto rotate 90 degree on full-screen mode on mobile device

[2020-10-04 14:07] rafa8626 commented on #164
@foadabdollahi thanks for the suggestion; I'll look at this this week before the big release

[2020-10-04 21:00] tigitz commented on #161
Hey @rafa8626 , I tried with the latest master again and it didn't work.

I took some time to dig a little bit the "module" subject and the `"esModuleInterop": true` modification on the OpenPlayer's tsconfig side will not change anything for projects consuming it.

What will change the way other projects will import your library is actually the `modules: ` property.

Actually it's setup to `module

[2020-10-04 21:33] rafa8626 commented on #161
@tigitz thanks for all this information; I'll check all of it and come back to you to see if the multiple version approach worked for you

[2020-10-04 21:46] tigitz commented on #162
Yep it's all good with the last version :+1:

Congrats and many thanks !

[2020-10-05 00:13] #162 closed

[2020-10-05 01:10] rafa8626 commented on #163
@foadabdollahi this is more likely to be a separate plugin, since that is completely tied to a playlist, and not built into the current player's capabilities. In v2 I'll provide ways to create this in an easier manner

[2020-10-05 01:10] #163 closed

[2020-10-05 22:44] rafa8626 commented on #160
Closing hubs since it seems to be related to a custom implementation than an issue with the code. If you need this to be reopened, let me know

[2020-10-05 22:44] #160 closed

[2020-10-08 01:40] rafa8626 commented on #161
@tigitz can you check the 2.0.0 branch and see if the new files in dist will help you with this issue, please? I ended up adding those ESM files and the main module reference in the package.json in that branch. Let me know if this worked for you

[2020-10-08 02:41] rafa8626 commented on #164
@foadabdollahi can you check the 2.0.0 branch and let me know if it works what I implemented, please? I don't have Android devices with me, and in iOS there's no way to lock the screen since it's a constrain

[2020-10-08 11:14] rafa8626 commented on #164
@foadabdollahi I forgot to update the bundles but it should be fine now; please let me know if it worked for you

[2020-10-08 15:09] vlouppe opened #165 "Advertising and multiple players is buggy"
**Describe the bug**
Multiple players can not play ads in the same time.

**To Reproduce**
Demo here : https://codepen.io/vlouppe/pen/eYzmYxd

**Expected behavior**
The adsContainer id should no be hard coded "op-ads" https://github.com/openplayerjs/openplayerjs/blob/925b075c03ef50fee3676f8c0918d9102c468260/src/js/media/ads.ts#L333

[2020-10-08 15:18] rafa8626 commented on #165
@vlouppe thanks for logging this in. I’ll take a look later today. Meanwhile, please star the project to show your support

[2020-10-08 15:24] vlouppe opened #166 "How to manually insert an ad break on a playing video ?"
**Is your feature request related to a problem? Please describe.**
I'm searching a way to insert fresh ads on a playing video. The goal is to insert periodically new ads coming from header bidding request. I think it's not possible right now.

**Describe the solution you'd like**
A new method on Ads class or an extra ads param on load method may be fine.

[2020-10-08 15:25] vlouppe commented on #165
I have already star this projet ;)

[2020-10-08 19:28] tigitz commented on #161
It worked ! Hopefully we both learned from this experience :)

Thanks for your commitment.

[2020-10-08 19:33] tigitz commented on #166
Had the same need to manually start a midroll ads and relied on: https://github.com/openplayerjs/openplayerjs/pull/131

This me be helpful to you.

If you feel grateful don't hesitate to contribute a codepen exemple in the README :wink:

[2020-10-08 19:52] tigitz opened #167 "Guide or best practice for customisation ?"
Hey @rafa8626 , is there any guidance or exemple to showcase how far we can go with the player look customization ?

My first thought is obviously overriding css classes, but what if I need to change the dom elements position ?

My goal is to achieve this player look:
![image](https://user-images.githubusercontent.com/1524501/95506785-a90c9400-09b0-11eb-9711-7f96112b8e78.png)

Which I built static

[2020-10-08 20:21] rafa8626 commented on #167
@tigitz If you check 2.0.0 I added a new set of layers so you can configure elements in a more flexible way, and then apply more CSS on your side. I don't know if that works for you, but that's what I've envisioned for the player in the next version. Let me know your thoughts

[2020-10-08 20:24] rafa8626 commented on #161
Thanks for the valuable info you provided :)

[2020-10-08 20:24] #161 closed

[2020-10-08 23:13] rafa8626 commented on #165
@vlouppe so, I fixed the ID issue in the 2.0.0 branch. However, the default behavior in the player as a whole is not to allow multiple player instances to play at the same time. It will only allow one to play and when the other one is attempted to play, it will pause the other one

[2020-10-09 06:54] foadabdollahi commented on #164
@rafa8626 Great! this work correct 👍

[2020-10-09 10:23] rafa8626 commented on #164
Thanks @foadabdollahi for the confirmation. Closing this issue

[2020-10-09 10:23] #164 closed

[2020-10-14 08:14] foadabdollahi opened #168 "new option for addControl"
Hi,
some idea:

can you add
 svg option to add control and if icon option is undefined load svg option:

[code]

also if any option that can be add this control also in center of video side of play icon

[2020-10-14 08:32] rafa8626 commented on #168
@foadabdollahi I’ll check that in the 2.x version and integrate that there. My plan is to release the new version by the end of this week, so I’ll keep you posted once I get this ready in that branch

[2020-10-15 00:13] rafa8626 commented on #168
@foadabdollahi please check the 2.0.0 branch and test this; there's no need to add a new element: we can reuse the icon for this purpose. Let me know if it worked for you. Thanks

[2020-10-15 06:36] foadabdollahi commented on #168
@rafa8626 i check it. if i use svg as link it work by if i wanna use inline svg it not work

like this:
[code]

[2020-10-15 10:50] rafa8626 commented on #168
I’ll check that today and see why it doesn’t work since I followed pretty much what you did on your PR

[2020-10-15 12:41] rafa8626 commented on #168
ok @foadabdollahi try again. I added a missing workflow to add button correctly, and once I did I can see the code you posted above doing this:

<img width="727" alt="Screen Shot 2020-10-15 at 8 41 43 AM" src="https://user-images.githubusercontent.com/910829/96126974-43de0480-0ec2-11eb-8a10-a1a29449b5f1.png">

[2020-10-16 08:16] foadabdollahi commented on #168
great, it's ok.

[2020-10-16 08:20] foadabdollahi commented on #168
do you have any config for add control to main deck

![Captures](https://user-images.githubusercontent.com/13816403/96234044-c390cf80-0fa5-11eb-9f6c-726cbb593fc5.PNG)

[2020-10-16 09:06] foadabdollahi commented on #168
and one question. Can i order added control ? for example a wanna add control before volume

[2020-10-16 09:18] rafa8626 commented on #168
@foadabdollahi if you set the position to main, you will be adding the control where the big play button is; as per the order, you have now more layers so it will take the order in which you configure each one of them. Check the docs for more info

[2020-10-17 09:24] foadabdollahi opened #170 "Localization for ads"
customize ads display like Localization text:

https://developers.google.com/interactive-media-ads/docs/sdks/android/client-side/localization

[2020-10-17 10:57] rafa8626 commented on #168
@foadabdollahi is this issue good to be closed now ?

[2020-10-17 11:00] foadabdollahi commented on #168
yes thanks

[2020-10-17 11:00] #168 closed

[2020-10-17 11:06] foadabdollahi opened #171 "Main video play event"
maybe it's use full add an event for on initial main play (not ads video).

[code]

[2020-10-17 11:28] foadabdollahi opened #172 "levels not work in v2.0"
in version 2.0 levels not work.

[2020-10-17 11:29] rafa8626 commented on #172
@foadabdollahi can you give me a URL where I can check this please?

[2020-10-17 12:21] rafa8626 commented on #171
@foadabdollahi can you give me a use case for this?

[2020-10-17 12:46] foadabdollahi commented on #172
check it please:
https://nashrin.com/v/fc56

[2020-10-17 12:48] foadabdollahi commented on #171
for example i wanna add control after ad ended or skiped  and main video started

[2020-10-17 13:15] rafa8626 commented on #171
@foadabdollahi if that’s what you need I’d suggest you to use the ads event and dispatch that action once the ad is skipped or completed; check the docs for more info on them

[2020-10-17 13:20] foadabdollahi commented on #171
i only wanna addcontrol to main video not ads video

![IMG_20201017_164954](https://user-images.githubusercontent.com/13816403/96338118-dc2de200-1098-11eb-9e6a-392aaf4094fd.jpg)

maybe it's bug for addcontrol.

[2020-10-17 13:22] rafa8626 commented on #171
If anything, you should try to hide it once the adstarted event is dispatched, and show it when adscompleted or adsskipped are dispatched

[2020-10-17 16:10] rafa8626 commented on #170
@foadabdollahi Test the 2.0.0 branch and let me know if it works for you; you only need to pass the language in the ads configuration. Check the usage.md file for more details

[2020-10-17 21:44] rafa8626 commented on #172
@foadabdollahi it doesn't work because the structure for controls has changed, as indicated in the migration section. If you use this, it should work:
[code]

[2020-10-17 21:58] rafa8626 commented on #166
@tigitz this is a CodePen that will be included in the list for 2.0.0: https://codepen.io/rafa8626/pen/abZNgoY
@vlouppe FYI

[2020-10-17 21:58] #166 closed

[2020-10-17 22:39] rafa8626 commented on #167
@tigitz I have added in README new links to show how to customize a player in the 2.0.0 branch. That should give you all you need going forward

[2020-10-17 22:39] #167 closed

[2020-10-18 05:43] foadabdollahi commented on #172
yes, mistake is mine. thanks

[2020-10-18 05:43] #172 closed

[2020-10-18 05:52] foadabdollahi commented on #170
it's work fine. thanks

[2020-10-18 05:52] #170 closed

[2020-10-18 06:04] foadabdollahi commented on #171
i think this hidden by css must be act by default to all exist or added control during ads plays.

![12222222222](https://user-images.githubusercontent.com/13816403/96359939-f6ad9d00-1124-11eb-94f8-20e72a4152b1.PNG)

[2020-10-18 07:52] foadabdollahi opened #173 "cors vtt request"
load vtt from other source has error 'Unsafe attempt to load URL' also vtt file has cors header

https://nashrin.com/v/5ops
https://vdn15.nashrin.com/5ops/en.vtt

[2020-10-18 12:53] rafa8626 commented on #171
@foadabdollahi it can be achieved only for custom controls; the ones by default cannot because those can control certain things that are required by the Ads, such as play/pause, volume and fullscreen

[2020-10-18 12:57] #165 closed

[2020-10-18 13:16] foadabdollahi commented on #171
ok, if you think it's ok so it must be ok.

[2020-10-18 13:16] #171 closed

[2020-10-18 14:28] rafa8626 commented on #171
I can add one element to determine if it will be hidden in ads and that should help you

[2020-10-18 15:57] rafa8626 commented on #171
@foadabdollahi I added one last option when you add a control: `showInAds`. If you set it to false, it won't be displayed by the time Ads are active. Let me know if that worked for you

[2020-10-18 16:03] rafa8626 commented on #173
@foadabdollahi this is a configuration problem with your VTT files, not with the player. It's very clear what the message indicates:
```Unsafe attempt to load URL https://vdn15.nashrin.com/5ops/fa.vtt from frame with URL https://nashrin.com/v/5ops. Domains, protocols and ports must match.```

One quick thing you can do as far as I know is to set the `crossorigin` attribute in the video tag to `ano

[2020-10-18 16:03] #173 closed

[2020-10-19 05:59] foadabdollahi opened #174 "select quality base of connection"
Quality selector ('auto') can base of connection type, like 720p in 4G and 360p for 3G mobile network.

https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API

[2020-10-24 15:22] rafa8626 commented on #174
@foadabdollahi I'm working on this. I'll keep you posted once I have this ready to be tested

[2020-10-28 08:14] foadabdollahi commented on #174
Hi, i can't find any change.

[2020-10-28 08:18] foadabdollahi opened #175 "Live rmtp"
enable integrate with flv,js for play rmtp live video

https://github.com/bilibili/flv.js

[2020-10-28 10:44] rafa8626 commented on #174
@foadabdollahi I’ve been busy this week; let me see if by the end of the week I have this ready

[2020-10-30 02:09] rafa8626 commented on #175
@foadabdollahi please download the master branch and test if this is working for you

[2020-10-30 02:10] rafa8626 commented on #174
@foadabdollahi please download the master branch and test if this is working for you

[2020-10-31 12:43] foadabdollahi commented on #175
hi, do you have any document or some help?

[2020-10-31 12:47] foadabdollahi commented on #174
Thanks

[2020-10-31 12:47] #174 closed

[2020-10-31 12:47] rafa8626 commented on #175
Just set the fly file as a source like any other source the player handles, and to add fly.js configuration elements, use the flv object, like the existing hls or dash objects. I’ll add the docs about this during these next couple of days

[2020-11-01 20:48] rafa8626 commented on #175
@foadabdollahi check https://github.com/openplayerjs/openplayerjs/blob/master/docs/usage.md#javascript, there's an FLV element to configure it. Other than that, unless you can provide a URL with FLV (either static or live) that I can use to create a CodePen, that's all I can offer as an example

[2020-11-04 12:28] rafa8626 commented on #175
@foadabdollahi is this good to go? I want to release the next version between today and tomorrow

[2020-11-05 06:41] komato3huk opened #176 "Loop AD playback"
Good afternoon.
If you use 2 sources of tag. Then only the first advertising source will be in the loop.
If you disable the Loop mode, it plays 2 advertising sources and then starts displaying the content.

[2020-11-05 13:10] foadabdollahi commented on #175
@rafa8626 Excuse me, I'm busy this week. i try it tomorrow.

[2020-11-05 13:45] rafa8626 commented on #176
@komato3huk thanks for reporting this I’ll check it out as soon as I can. Please star the project to show your support

[2020-11-05 15:38] rafa8626 commented on #176
@komato3huk this is now fixed; please download the master branch and check this is working for you.

[2020-11-05 15:39] komato3huk commented on #176
Nice.
Thanks. Very fast.

[2020-11-05 15:40] rafa8626 commented on #176
you are welcome.
Please consider give a star to the project to show your support to this package :)

[2020-11-05 19:38] komato3huk opened #177 "Player Size in the configuration"
Hi
Please add to man thats need to resize player

[2020-11-05 20:56] rafa8626 commented on #177
Hi @komato3huk can you explain more what is what you need from the player in terms of size, please?

[2020-11-05 21:04] komato3huk commented on #177
not convenient if you need to insert the player on different sites. Then you need to create a lot of parameters. it would be more convenient to specify the width and height of the player in the parameters.

[2020-11-05 21:06] rafa8626 commented on #177
If you use CSS to set width/height you can target the class that each player has since it is common for each one of them, so it’s even less code than setting the params in the configuration, does it make sense?

[2020-11-05 21:20] rafa8626 commented on #177
I assume that to set it in different sites you are using HTML and JS, so is it more convenient to use a <styles> tag within the HTML to achieve this?

[2020-11-06 05:16] komato3huk commented on #177
very convenient to specify in the player parameters. similar to loop debug.

[2020-11-06 06:01] foadabdollahi commented on #175
hi, it try it and work great.

for suggest you can add live label in control bar by default. I added by addcontrol attribute.  but maybe it can be useful default feature

[2020-11-06 09:28] foadabdollahi commented on #175
and how can disable(remove) pause/play button in center in live stream?

[2020-11-06 12:53] rafa8626 commented on #175
@foadabdollahi I’m glad to hear that; as per the label, the params in the player allow you to show the Live label. Check the documentation

[2020-11-06 12:54] rafa8626 commented on #175
And to disable the play/pause you can hide it with CSS for now. I wasn’t planning on toggling it via the params but I can consider it for a latter release

[2020-11-06 13:18] rafa8626 commented on #177
This can be a new feature, so I’ll let you know when I have something you can test

[2020-11-06 13:21] rafa8626 commented on #175
Check here and let me know if that helps: https://github.com/openplayerjs/openplayerjs/blob/master/docs/usage.md#javascript

[2020-11-07 06:46] komato3huk opened #178 "iframe attributes"
iframe.setAttribute('allow', 'fullscreen'); // must be 1st
iframe.setAttribute('allowFullScreen', '');
please add this in repo

[2020-11-07 08:54] foadabdollahi opened #179 "Uncaught TypeError: connection is undefined"
i use  dist folder js file. and have this error :
Uncaught TypeError: connection is undefined

![jsssssssssss](https://user-images.githubusercontent.com/13816403/98436911-246a7e00-20f4-11eb-8dab-695b5590f584.PNG)

and i find this error in firefox only

[2020-11-07 09:29] komato3huk commented on #178
this neen to normal working ads

[2020-11-07 13:03] rafa8626 commented on #179
@foadabdollahi I’ll check this. Thanks for reporting it

[2020-11-07 13:04] rafa8626 commented on #178
@komato3huk this change is for the OpenPlayerJS website correct?

[2020-11-07 13:19] rafa8626 commented on #178
@komato3huk where is this needed exactly? I can’t find the reference in the code

[2020-11-07 19:50] rafa8626 commented on #179
@foadabdollahi this should be fixed now; let me know

[2020-11-07 20:20] rafa8626 commented on #175
@foadabdollahi do you have a URL that I can use to create a CodePen showing how to use the player with flv?

[2020-11-08 07:33] komato3huk commented on #178
Hi.
This need to initialization iframe ads.

[2020-11-08 13:18] rafa8626 commented on #178
The iframe is created by the IMA SDK library not by OpenPlayerJS per se. If anything this is something it should be requested to that team.

[2020-11-08 13:21] rafa8626 commented on #178
If I read the docs correctly you don’t need that since they have a command to resize the ads or play it full screen correctly and that was integrated in OpenPlayerJS. Is there an issue by not adding those values in the iframe?

[2020-11-08 13:34] rafa8626 commented on #178
This what the docs say:

That’s why they don’t include that attribute as far as I can see

[2020-11-08 14:21] komato3huk commented on #178
![image](https://user-images.githubusercontent.com/22004977/98467516-cf5b6480-21e6-11eb-9b8b-b8fa8948455e.png)

[2020-11-08 15:41] rafa8626 commented on #178
Let me see what I can do to remove the warning

[2020-11-08 16:45] rafa8626 commented on #178
@komato3huk I tested this with the latest version of the player, and if I add those lines, the warning comes up, but if I don't do anything, the warning disappears. Is there anything special on your setup I may not be aware of? Also, my version of Chrome is 86.0.4240.183

[2020-11-09 06:21] foadabdollahi commented on #175
@rafa8626
Hi,
you can use this:
http://flv.bdplay.nodemedia.cn/live/bbb.flv

[2020-11-09 12:07] rafa8626 commented on #179
@foadabdollahi is this one good to be closed? It’s in the latest changes of master

[2020-11-10 02:15] rafa8626 commented on #175
@foadabdollahi thanks I'll include a CodePen in the oncoming release using this URL

[2020-11-10 02:15] #175 closed

[2020-11-11 13:31] #179 closed

[2020-11-22 22:25] tigitz opened #181 "top-* or bottom-* control layers customization throw error"
**Describe the bug**
Got an error when tryp top-* or bottom-* control layers

[code]

**To Reproduce**
[code]

[2020-11-22 23:26] rafa8626 commented on #181
@tigitz thanks for reporting this; I’ll check it and get back to you as soon as I can

[2020-11-24 12:19] nejcsever opened #182 "Wrong documentation for first quartile and third quartile ad events"
[Api/Events documentation](https://github.com/openplayerjs/openplayerjs/blob/master/docs/api.md#events) defines first and third quartile ad events as `adsfirstquartile` and `adsthirdquartile` which doesn't trigger event handlers. Events handler is triggered when using `adsfirstQuartile` and `adsthirdQuartile` though (upper-cased `quartile`).

I think it's just a matter of updating this section of

[2020-11-24 12:21] rafa8626 commented on #182
@nejcsever thanks for noticing this; I’ll update it during the course of the day. Please give the project a star to show your support

[2020-11-24 12:22] nejcsever commented on #182
🚀 What a response time. Starred. Thanks! ⭐

[2020-11-24 12:28] rafa8626 commented on #182
@nejcsever the change is now in master; once I fix one issue I’ll release this. Thanks again for reporting it and for the star 😀

[2020-11-24 12:28] #182 closed

[2020-11-24 13:20] #181 closed

[2020-11-24 13:21] rafa8626 commented on #181
@tigitz the fix in now in master; please download it and test it on your end. If you give me thumbs up, I'll release the fix today. Thanks and hope to hear from you soon

[2020-11-25 16:19] rafa8626 commented on #178
@komato3huk closing this issue since there are no more details about it and I haven't been able to reproduce it. If you still experience issues,  please provide a CodePen where I can check the issue and I'll reopen this issue

[2020-11-25 16:19] #178 closed

[2020-11-25 19:01] nejcsever opened #183 "Ads are not scaling when video's size change"
**Description**
Ads are not scaling when video's size change. Video is scaling normally though it's just ads that are stuck on the same size as they were initially loaded.

**Steps to reproduce the behavior:**
1. Open [Ads Codepen example](https://codepen.io/rafa8626/pen/vVYKav).
2. Click play to start the video.
3. Resize video/window.
4. You can see that ad size stays fixed and is not scaling wi

[2020-11-25 19:45] rafa8626 commented on #183
@nejcsever thanks for reporting this; I’ll take a look and keep you posted

[2020-11-25 21:05] nejcsever opened #184 "Add option to 'contain' video when in fill display mode"
**Description**
I would like to be able to use 'fill' mode but without scaling and cropping the video but instead **containing** it. This way video would be filled vertically or horizontally depending on site's aspect ratio and video aspect ratio.
Imagine it's the same scaling as in fullscreen mode but not scaled to an actual screen but to the website (like 'fill').

**Describe alternatives you've

[2020-11-25 22:10] rafa8626 commented on #184
@nejcsever that is an interesting suggestion; if you want to prepare a PR for this, I could certainly review it and include it as part of the next release. If not, I’ll take a look when I have a chance

[2020-11-25 22:30] #183 closed

[2020-11-25 22:31] rafa8626 commented on #183
@nejcsever I have fixed this; please download the master branch and let me know if it worked for you. If so, I'll release this patch

[2020-11-25 23:10] nejcsever commented on #183
Seems to be working. Thank you!

[2020-11-26 00:59] rafa8626 commented on #183
you are welcome; releasing the patch

[2020-11-26 02:39] rafa8626 commented on #184
@nejcsever I created the `player-sizing` branch for this; you can use the `fit` mode. Let me know if that works fine for you

[2020-11-26 02:41] rafa8626 commented on #177
@komato3huk  I created the `player-sizing` branch for this; you can use the `width` and `height` elements in the player configuration. Please test it and let me know if that works fine for you. Sorry it took me some time to get around this

[2020-11-26 08:46] nejcsever commented on #184
🙌 Works as I imagined it. Thank you very much!

[2020-11-26 12:38] rafa8626 commented on #184
You are welcome, I’ll try to release this by the end of the week if possible. Thanks for the suggestion

[2020-11-26 12:38] #184 closed

[2020-11-26 12:40] rafa8626 commented on #177
@komato3huk I’m planning to release this by the end of the week; if you can confirm this works as expected in the next couple of days  I’d appreciate it

[2020-11-28 17:20] #177 closed

[2020-11-29 20:32] Rubioli opened #186 "Non linear VAST Compatibility"
First of all, such a great player!

I was wondering if currently is possible for having Non-linear VAST and if not is there a feature that is in the plan :)?

Thanks

[2020-11-29 20:54] rafa8626 commented on #186
@Rubioli if you have a URL where I can check the non-linear VAST I can see how the player can support it.

If you can also star the project to show your support I’d appreciate it

[2020-11-30 09:10] nejcsever commented on #184
Hey @rafa8626

Looks like 'fit' mode only works in 2.2.0 and is broken in 2.2.1.

[2020-11-30 11:43] rafa8626 commented on #184
I checked it in 2.2.1 and it seemed fine; can you point an example or CodePen where it is not working for you?

[2020-11-30 12:07] nejcsever commented on #184
You can see that in the actual 'fit' codepen: https://codepen.io/rafa8626/pen/abmboKV

If you change Pen settings of openplayer cdn link from:
`https://cdn.jsdelivr.net/npm/openplayerjs@2.2.1/dist/openplayer.min.js`
to
`https://cdn.jsdelivr.net/npm/openplayerjs@2.2.0/dist/openplayer.min.js`

there you can see that the video doesn't fit the whole screen anymore.

[2020-11-30 12:32] rafa8626 commented on #184
@nejcsever can you check the CodePen once more and confirm that is what you expect please? The idea of fit is that it will fit the parent container, so if what you see is correct, then I need to add a few styles

[2020-11-30 12:43] Rubioli commented on #186
@rafa8626 Thanks for your reply

You can use this VAST code for non-linear test: https://pubads.g.doubleclick.net/gampad/ads?sz=480x70&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dnonlinear&correlator=

Google has a bunch of VAST and VPAID sample as well here: https://developer

[2020-11-30 13:02] rafa8626 commented on #186
@Rubioli Thanks for the info; I'll test the first source and check if it plays. If not, I'll adapt the code to play non-linear ads. As per the ability to run both linear and non-linear, I need to check how IMA SDK does this, since that's the library I'm using for ads

[2020-11-30 13:07] nejcsever commented on #184
Oh, I thought that it would be the same as 'fill' so basically fill the whole window, but the sizing of video would be fit/cover instead of scale/crop. Basically I imagined the behaviour to be exactly like it is in version 2.2.0 😄 (it fill the whole page but doesn't crop the video content)

[2020-11-30 13:13] rafa8626 commented on #184
Gotcha; in 2.2.0 I noticed that the player was not wrapped properly but it caught the body's position, and that made it look like  it was going to take the whole screen, but in 2.2.1 I caught that and fixed it. At the end of the day, the fit will adapt to the dimensions of the parent container, so if you set the dimensions properly in the parent, it will work as expected

[2020-11-30 17:25] nejcsever commented on #184
Oh, ok I see. I was just a bit confused because `2.2.1` release had different behaviour than the version on `player-sizing` branch. But I understand. That works too. 🙂 Thanks for explanation. 🙏

Just one more side question if I may. Currently video is not fitting if the size of video's custom container, for example:
[code]
You can see here that `custom-video-wrapper` div is wrapping the video elem

[2020-11-30 17:33] rafa8626 commented on #184
if anything, by default, it must have the width/height set for the wrapper; I don't know if it's better to use percentage or vh/vw

[2020-12-01 00:56] rafa8626 commented on #184
@nejcsever  after checking this some more, I decided to use percentages; I modified the CodePen to reflect the change, so I'll add the styles and they will be part of the oncoming release, once I complete the non-linear Ads feature, but in the mean time you can use it like the CodePen shows

[2020-12-01 19:54] MarshmelloSUCKS opened #187 "(Feature request) Ability to disable the seekbar?"
**Is your feature request related to a problem? Please describe.**
I plan on using OpenPlayerJS as a replacement to the HTML5 player for my IceCast stream. Because it's live, I have no need for the seekbar.

**Describe the solution you'd like**
I'd like to be able to disable the seekbar.

**Describe alternatives you've considered**
I'm not aware of any.

**Additional context**
I'm currently using

[2020-12-01 20:35] rafa8626 commented on #187
@MarshmelloSUCKS I think what you are looking for is achieve via the controls configuration, like this
[code]
if you wanna truly disable it, because there's no flag to just hide it, and since your intention is not to use it at all, then this will satisfy your need.

Let me know if that works and please star the project to show your support. Thanks!

[2020-12-01 20:38] MarshmelloSUCKS commented on #187
Would I place that in a `<script>` block?

[2020-12-01 20:43] rafa8626 commented on #187
@MarshmelloSUCKS you will need to remove first the `op-player` and add an ID from the audio tag, and then, after the openplayer.js, you will add a script tag as follows:
[code]
and that should do it

[2020-12-01 20:54] MarshmelloSUCKS commented on #187
Having a bit of an issue doing that. I added in the script:
[code]

[2020-12-01 20:58] rafa8626 commented on #187
@MarshmelloSUCKS I see this in your snippet: `id=kmsx` and it should be `id="kmsx"`; also, the div is not closed so after the `audio` closing tag,  add the closing tag for the div; that should work for you

[2020-12-01 21:03] MarshmelloSUCKS commented on #187
That div element is there to restrict the width of the player and the title text below it. Here's a full snippet of it:
[code]
Updated and still getting the default player.

[2020-12-01 21:05] rafa8626 commented on #187
you removed the `op-player__media` class from the audio tag; that's why it's not setting anything
[code]

[2020-12-01 21:07] MarshmelloSUCKS commented on #187
Oh. It works now, thanks!

[2020-12-01 21:07] #187 closed

[2020-12-01 21:08] rafa8626 commented on #187
You are welcome; if you could star the project to show your support, I'd appreciate it. Thanks!

[2020-12-02 06:37] foadabdollahi opened #188 "PageSpeed Insights Errors"
hi,
i check my pages with PageSpeed Insights. and see some item with new version 2.2.1

![image](https://user-images.githubusercontent.com/13816403/100837169-f1fb3900-3485-11eb-8a40-203bc7620449.png)
![image](https://user-images.githubusercontent.com/13816403/100837206-04757280-3486-11eb-9715-8fcce82735a1.png)
![image](https://user-images.githubusercontent.com/13816403/100837621-2d960300-3486-11eb

[2020-12-02 11:19] rafa8626 commented on #188
@foadabdollahi you didn’t see these ones in 2.0.0 or 2.2.0?

[2020-12-02 15:31] foadabdollahi commented on #188
i have not 'avoid serving lagacy ...' in  2.0.0
but passive listerner i see later

[2020-12-03 02:32] rafa8626 commented on #186
@Rubioli please download the master branch and let me know if you can see the non-linear ads; if you have a sample where you combine linear with non-linear to see if it will work. Let me know.

[2020-12-03 02:33] rafa8626 commented on #186
could you give the project a star to show your support please?

[2020-12-05 13:50] rafa8626 commented on #188
Ok I’ll check it and see what can be done to remove most of the warnings you are showing me

[2020-12-05 16:55] rafa8626 commented on #188
@foadabdollahi please download the master branch and test it once more. The only warning I cannot get rid of is the `Remove unused Javascript`, since that contains code for other features that you may not be using, so that's expected. The legacy code and the passive listeners should be fixed now

[2020-12-05 17:52] rafa8626 commented on #188
Once you confirm this, I'll release these changes

[2020-12-06 05:59] foadabdollahi commented on #188
yes it has not error yet.
thanks

[2020-12-06 13:07] rafa8626 commented on #188
Thanks @foadabdollahi I’ll release this today

[2020-12-06 13:07] #188 closed

[2020-12-06 13:08] rafa8626 commented on #186
@Rubioli since we support non-linear ads I’ll close this and release this today. Thanks for submitting this request

[2020-12-06 13:08] #186 closed

[2020-12-08 07:27] foadabdollahi opened #190 "run ads with other sdk"
Hi,
it's a question : can you add new ad sdk (not imasdk.googleapis). and reason it i have my cdn and all of my js load from my domain and i can use imasdk.googleapis locally and must load google servers.

some things like :
https://github.com/dailymotion/vast-client-js
https://github.com/fluid-player/fluid-player/blob/master/src/modules/vpaid.js
https://github.com/fluid-player/fluid-player/blob/m

[2020-12-08 12:30] rafa8626 commented on #190
@foadabdollahi this player’s code uses only IMA SDK and right now it can’t use another ads library because each library requires specific code. The only thing you can do is to set where IMA SDK is

[2020-12-08 19:51] #190 closed

[2020-12-16 17:37] nejcsever opened #191 "Not able to preload ads and start video via API"
This is not a bug per-se, but just an issue that I'm currently having.

What I would like to achieve is to "preload" the ads and when this is done, starting the video player via `player.play()` to start playing.

For some reason I can't get this to work in any combination using `player` API calls.

@rafa8626 do you have any suggestions of how I could achieve something like that?

The flow in the s

[2020-12-16 23:27] rafa8626 commented on #191
@nejcsever if what you are looking for meets this: https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/preload I can add the necessary code to make it  work like that. Let me know if it makes sense and that’s what you are looking for; otherwise it may be more difficult to implement

[2020-12-17 00:22] nejcsever commented on #191
Maybe this would also solve this issue, but I think the problem lays somewhere else and I think the logic is already implemented, but just running somehow in different execution stage. Let me try to explain what I mean in more details with some code samples :)

If we forget about loading ads for a second, the first thing that I would like to achieve is to start playing video with `player.play()` A

[2020-12-17 02:16] rafa8626 commented on #191
@nejcsever thanks for the thorough explanation; let me see what I can do to help you with this, but it may take some time. So as soon as I’m not as busy as I am right now I’ll get to this

[2020-12-18 16:00] rafa8626 commented on #191
@nejcsever I think I got it; download the master branch and use the following snippet to solve your problem:
[code]

Let me know if it works as expected; otherwise I'll reopen the ticket

[2020-12-18 17:23] nejcsever commented on #191
@rafa8626 I think it's almost there, but there's still a slight issue. I've tried your snippet, but now player starts playing ad on `player.init()` automatically. Or is that happening only to me?

So here's the snippet without `adsloaded` event listener from your example:
[code]

This for me still starts playing ad.

If this snippet would just load ads and not start start playing the ad, that woul

[2020-12-18 17:27] rafa8626 commented on #191
@nejcsever you are right; let me see what happened there and get back to you

[2020-12-18 19:42] rafa8626 commented on #191
@nejcsever I figured it out; please download the master branch one more and test the snippet I sent you. I forgot to add a couple of conditionals to ensure the loading of ads happen initially but until you dispatch a Play event everything will run. Let me know if it works for you now

[2020-12-18 20:28] nejcsever commented on #191
Works like a charm, perfect! Thank you very much! 🙏

[2020-12-18 20:29] rafa8626 commented on #191
@nejcsever thanks for confirming this; I'll set the release tonight with this change

[2020-12-18 20:29] #191 closed

[2020-12-18 23:18] nejcsever commented on #191
@rafa8626 sorry, just an additional question, not sure if this feature caused this issue or not, but after this snippet is executed:
[code]

If you click pause when ad starts playing and then try to play it again (by clicking play button or calling `player.play()`) it doesn't continue playing it, ad stays paused 😬

[2020-12-19 00:04] rafa8626 commented on #191
@nejcsever I think it's fixed; please download the master branch once more and let me know if it works correctly

[2020-12-19 00:34] nejcsever commented on #191
Seems to be working now, yes 🙂

[2020-12-19 16:04] foadabdollahi opened #192 "Unable to preventDefault inside passive event listener invocation."
when i update new release. this issue appeared.
when ad play i puase it and after play again not work and this error logged in console
![image](https://user-images.githubusercontent.com/13816403/102693631-40078f00-4231-11eb-96e0-f718caa55eec.png)

[2020-12-19 16:52] rafa8626 commented on #192
@foadabdollahi I have fix for it, although the warning is something I'll address later today

[2020-12-19 16:56] rafa8626 commented on #192
can you check if the master branch works for you please?

[2020-12-19 17:38] rafa8626 commented on #192
@foadabdollahi I may need to change the approach to fix the passive event error a little bit; I’ll let you know when it’s ready to be tested

[2020-12-19 18:18] #192 closed

[2020-12-19 18:18] rafa8626 commented on #191
@nejcsever can you test one more time and let me know if all is working as expected, please?

[2020-12-19 18:19] rafa8626 commented on #192
@foadabdollahi fix is ready; please check one more time and let me know if it works; once you confirm I'll release the patch

[2020-12-19 18:59] nejcsever commented on #191
Checked again and everything works as expected.

[2020-12-19 19:23] rafa8626 commented on #191
Thansk

[2020-12-29 08:40] zgomotos opened #193 "Preroll runs with sound even though video is muted"
**Describe the bug**
Hello, Rafael!

Thank you for making this project possible. It seems that after the last update, the preroll ads are playing with sound, even though the player is muted. Media plays as expected -> muted.

**To Reproduce**
I have included a fiddle with the player code and the Google Ad Manager preroll code: https://jsfiddle.net/z7d0j5hc/1/
Using v2.2.2 doesn't have this issue.

[2020-12-29 14:48] rafa8626 commented on #193
@zgomotos thanks for reporting this; I’ll take a look and let you know. Please give the project a star to support the project

[2020-12-29 15:10] Rubioli opened #194 "Catching onAdError Event"
In `IMA SDK` I can see that it has `onAdError` function/event, but I can't seem to find it as an event in the player. I have tried a few different ways, but it doesn't seem to work.

Is there any event in order to *catch* the **AdError** currently? If so, I would appreciate any help or suggesting.

The Event would be useful for adding fallback or doing other things in case VAST is empty.

*PS: I c

[2020-12-29 18:07] rafa8626 commented on #194
@Rubioli you can use the `playererror` event, and to detect if it was related to the Ads, check the e.detail.type to match the proper error type and then detail.data will give you all the information you need:
[code]
Let me know if that works for you; otherwise, I can add a `adsonerror` event for you if needed

[2020-12-29 18:23] Rubioli commented on #194
Thanks a lot @rafa8626 Works like a charm.

Thanks for your help 💯 🥇

[2020-12-29 18:23] #194 closed

[2020-12-29 19:59] #193 closed

[2020-12-29 19:59] rafa8626 commented on #193
@zgomotos please download the master branch and check if it works correctly for you. If so, I'll release this patch as soon as possible. Thanks again :)

[2020-12-30 09:27] foadabdollahi opened #195 "Multi subtrack issue"
Hi,
i know when i have multi track link like this:
[code]
only first track work. and if i use "default" attribute for load default

`            <track kind="subtitles" src="/path/to/fa.vtt" srclang="fa" label="Farsi" **default**>`

not loaded

[2020-12-30 09:29] foadabdollahi opened #196 "save last quality selected"
Hi again.
when I change quality from auto to 360p. in next page or refresh quality change to auto again. can you save selected quality in some where like localstorage ?

[2020-12-30 12:40] rafa8626 commented on #195
@foadabdollahi thanks for reporting this; I’ll check it and let you know when fixed

[2020-12-30 12:53] rafa8626 commented on #196
@foadabdollahi I will add a levelchanged event so you can create the workflow yourself to save the selected level in local storage; and with the current configuration you can preselect the desired level

[2020-12-30 13:02] rafa8626 commented on #193
@zgomotos let me know if it works for you, or I can reopen the issue if not

[2020-12-30 18:00] rafa8626 commented on #195
@foadabdollahi I checked this and I didn't see any issues; the only thing I noticed is that the CC button is not highlighted and that I need to fix, but other than that I was able to play the captions correctly. If you are using URLs make sure the protocols coincide with your website and CORS are not an issue; other than that, unless you gave me a CodePen where I can see the issue, there's not muc

[2020-12-30 19:29] foadabdollahi commented on #195
thanks for your check

no, it's not for cors. last player i use before openplayer it work true
i create an live sample for test and tell you  tomorrow.

[2020-12-30 19:32] foadabdollahi commented on #196
can you help me for find related document?

[2020-12-30 20:42] rafa8626 commented on #196
@foadabdollahi there’s no documentation yet; once I have the 2 items ready for you I’ll let you know

[2020-12-31 09:55] foadabdollahi commented on #195
please check it:
https://codepen.io/foadabdollahi/pen/dypddBa

[2020-12-31 13:57] rafa8626 commented on #195
Ok I’ll check it; do the captions can play correctly using localhost? Just because in the past CodePen has had problems reading captions from a different domain and I think this is not the exception

[2020-12-31 14:32] foadabdollahi commented on #195
yes in local work but this icon not work.
[index.zip](https://github.com/openplayerjs/openplayerjs/files/5757478/index.zip)
![image](https://user-images.githubusercontent.com/13816403/103414205-387da980-4b92-11eb-9c26-7cafe2b05cda.png)

[2020-12-31 15:00] rafa8626 commented on #195
@foadabdollahi yes that’s what I saw yesterday. The captions work but not the button correctly; that’s what I’ll be looking at and let you know when fixed

[2021-01-02 01:07] rafa8626 commented on #195
@foadabdollahi this should be fixed now; I checked your zipped file and then added default to the last track and worked as expected. Please download the master branch and check if this works as expected since I found a fix for the captions button

[2021-01-02 01:08] rafa8626 commented on #196
@foadabdollahi please download the master branch and check the changes for the levels element and see if that works for you

[2021-01-02 08:01] foadabdollahi commented on #195
thank's,
I check it and default work but 'Off' have check icon yet.
![image](https://user-images.githubusercontent.com/13816403/103453316-f7021100-4ced-11eb-8251-217e6e744bab.png)

[2021-01-02 08:06] foadabdollahi commented on #196
thanks, i see "levelchanged" event document. but i can find how can set one level in initial config.

[2021-01-02 13:22] rafa8626 commented on #196
@foadabdollahi use the defaultLevel configuration, and that should be a number not a label

[2021-01-02 13:23] rafa8626 commented on #195
@foadabdollahi let me check that and get back to you; I didn’t notice it before

[2021-01-02 16:04] rafa8626 commented on #195
@foadabdollahi I couldn't replicate it with the current master branch
<img width="472" alt="Screen Shot 2021-01-02 at 11 04 05 AM" src="https://user-images.githubusercontent.com/910829/103461170-53633180-4cea-11eb-9999-03ac3533576d.png">

[2021-01-02 16:24] rafa8626 commented on #196
@foadabdollahi I updated the documentation; check the last commit on the master branch. If you are ok with the approach, I'll close this

[2021-01-03 09:10] foadabdollahi commented on #196
thanks

[2021-01-03 11:16] foadabdollahi commented on #196
i check again and have error. if i set defaultLevel more than 0 it work true. but when 0 index set that not set 0 and set -1. and i think problem is here:

`"".concat(this.player.getOptions().defaultLevel || this.player.getMedia().level)`

[code]

[2021-01-03 12:12] rafa8626 commented on #196
@foadabdollahi great catch; I’ll fix that and let you know

[2021-01-03 15:32] rafa8626 commented on #196
@rafa8626 ok change pushed; please download the master and let me know if it's fixed

[2021-01-03 15:32] rafa8626 commented on #195
@foadabdollahi is this one good to be closed now?

[2021-01-03 17:26] foadabdollahi commented on #195
yes thanks.

[2021-01-03 17:44] #195 closed

[2021-01-05 03:08] rafa8626 commented on #196
@foadabdollahi is this good to be closed? I need to release an important fix and I want to release this tomorrow as well

[2021-01-05 06:31] foadabdollahi commented on #196
Hi,
no problem not solved, when i set defaultLevel that set but in UI auto always checked.

[2021-01-05 06:31] foadabdollahi commented on #196
if have some hot fix you can solve it after release

[2021-01-05 09:43] foadabdollahi commented on #196
and i have a problem with hls. can I have level in hls ? do you have any sample?

[2021-01-05 12:32] rafa8626 commented on #196
@foadabdollahi ok I’ll check the UI issue; shouldn’t be something difficult to fix. As per the HLS I have a sample but I haven’t tried this feature in it. I’ll take a look at you CodePen and let you know

[2021-01-05 12:38] foadabdollahi commented on #196
maybe it can be helpfull
https://github.com/video-dev/hls.js/blob/master/docs/API.md#quality-switch-control-api

[2021-01-05 12:48] rafa8626 commented on #196
Yeah I’ve used that when I was working with levels, but I need to check if there’s something else I omitted. I’ll keep you posted. Thanks for bringing that up

[2021-01-05 22:48] rafa8626 commented on #196
@foadabdollahi can you post a sample for the regular levels (not using HLS) so I can test my solution please?

[2021-01-06 02:32] rafa8626 commented on #196
@foadabdollahi I think I got it finally. Please download the master branch and test this again; it should work for HLS as well without anything out of the ordinary, but you need to indicate the `levels` item in your control configuration to make it work with HLS and HTML5

[2021-01-06 05:38] foadabdollahi commented on #196
Prefect. it work.
thanks.

[2021-01-06 08:49] foadabdollahi opened #198 "TypeError: Cannot read property 'setVolume' of null"
when vast xml is empty(no have any ad for show) in change volume error:

[code]

Uncaught TypeError: Cannot read property 'setVolume' of null

![Untitled](https://user-images.githubusercontent.com/13816403/103748464-698a2e00-5019-11eb-92f1-4dda1d185765.jpg)

[2021-01-06 11:38] foadabdollahi commented on #196
I found new issue. when i use hls always volume is mute. but in mp4 work correctly.

[2021-01-06 11:44] rafa8626 commented on #196
@foadabdollahi I’ll check that as well; thanks for testing it

[2021-01-06 12:56] rafa8626 commented on #196
@foadabdollahi I checked the HLS using your source and the snippet I posted above and I couldn't replicate the muted issue; do you have another sample I need to check?

[2021-01-06 13:15] foadabdollahi commented on #196
please check it : https://nashrin.com/v/jwxa

[2021-01-06 13:24] foadabdollahi commented on #198
and also loading always show

[2021-01-06 13:26] rafa8626 commented on #198
Do you have a URL I can use to test my fix please?

[2021-01-06 14:37] rafa8626 commented on #196
@foadabdollahi it doesn't have it often and this has to do mostly with the browser policies. It doesn't matter if it's HLS or HTML5, the player checks if the browser can auto play with/without volume. See https://developers.google.com/web/updates/2017/09/autoplay-policy-changes#new-behaviors

[2021-01-06 14:41] rafa8626 commented on #198
@foadabdollahi please download the master branch again and let me know if it works as expected

[2021-01-06 17:19] foadabdollahi commented on #196
no i know browser policy.

if you check this page: https://nashrin.com/v/6xxd (source mp4)

and compare with https://nashrin.com/v/jwxa (source hls)

hls default is mute but mp4 is not

[2021-01-06 17:22] foadabdollahi commented on #198
i think proble not solved
please check it
https://nashrin.com/v/581n

when ad not load seek bar not work

[2021-01-06 22:10] rafa8626 commented on #198
@foadabdollahi I checked your page and I cannot see the issue with the seek bar. I can move to any position

[2021-01-06 22:12] rafa8626 commented on #196
@foadabdollahi I see the same happening with MP4; it is driven by the browser's policies with autoplay. See the attached screenshots:
<img width="931" alt="Screen Shot 2021-01-06 at 5 11 40 PM" src="https://user-images.githubusercontent.com/910829/103824666-648da480-5042-11eb-91be-b35d25865b63.png">
<img width="930" alt="Screen Shot 2021-01-06 at 5 11 51 PM" src="https://user-images.githubusercont

[2021-01-07 08:04] foadabdollahi commented on #196
in my phone (android 6 chrome last version) in mp4 and HLS have difference behavior

[2021-01-07 08:11] foadabdollahi commented on #198
I check again and sure have any problem with empty vast xml. and when I comment ads option it work again.

![image](https://user-images.githubusercontent.com/13816403/103867797-33ae7d80-50dd-11eb-8dcf-322707cd4f96.png)

[2021-01-07 09:36] foadabdollahi commented on #196
in hls "allow sound" permitting not get but in mp4 after first click get Allow sound for ever but only in mp4 resource not hls

![photo_2021-01-07_12-57-43](https://user-images.githubusercontent.com/13816403/103876171-935e5600-50e8-11eb-96bb-6bf2b05e2e5b.jpg)
![photo_2021-01-07_12-57-30](https://user-images.githubusercontent.com/13816403/103876515-f94add80-50e8-11eb-92c8-b3ae66e100a4.jpg)

[2021-01-07 11:47] rafa8626 commented on #198
@foadabdollahi got it; let me check what’s broken because I didn’t see any errors coming up from IMA SDK

[2021-01-07 11:52] rafa8626 commented on #196
@foadabdollahi good points; I don’t have an android phone but I can say that If the browser can support HLS it will use a native approach, not HLS.js so I need to check that; that’s part of the problem here

[2021-01-07 13:02] rafa8626 commented on #198
@foadabdollahi please download the master branch and test this again; I figured out your problem finally

[2021-01-07 13:16] foadabdollahi commented on #198
Yes, it's fixed.
thanks

[2021-01-07 13:22] #198 closed

[2021-01-07 13:22] rafa8626 commented on #198
you are welcome

[2021-01-07 13:37] foadabdollahi commented on #198
excuse me. but i check again in my mobile and see not fixed 😥

[2021-01-07 13:43] rafa8626 commented on #198
I tried on my emulator and I see it playing correctly and I can use the slider without issues

[2021-01-07 13:57] foadabdollahi commented on #198
maybe can be help

https://user-images.githubusercontent.com/13816403/103900819-83a53880-510d-11eb-9756-af5cc845b077.mp4

[2021-01-07 14:05] rafa8626 commented on #198
nothing comes up in the video

[2021-01-07 14:21] foadabdollahi commented on #198
@rafa8626 can you check it?
https://github.com/openplayerjs/openplayerjs/files/5782040/output.zip

[2021-01-07 18:47] rafa8626 commented on #198
@foadabdollahi it's weird because if I use this:
[code]
It works fine in desktop and mobile, but your link doesn't. Makes me wonder if something is not updated on your side

[2021-01-07 20:17] foadabdollahi commented on #198
i can't find any difference.
but i  check remote debugging my mobile chrome and see an error that not see in desktop

![image](https://user-images.githubusercontent.com/13816403/103940522-b0c00e00-5142-11eb-8c1e-14701296306b.png)

[2021-01-07 20:48] rafa8626 commented on #198
@foadabdollahi I finally got it; it was a conditional that shouldn't be there. I'll push the fix in a bit

[2021-01-07 20:53] rafa8626 commented on #198
@foadabdollahi please download the master branch and test this one more time, and let me know if it works

[2021-01-07 21:12] #196 closed

[2021-01-07 21:14] rafa8626 commented on #196
@foadabdollahi Please download the master branch and test the feature again; you will be able to see the levels now in mobile as expected. As far as the unmute feature, I haven't been able to replicate this. Even I tried Browserstack and I see the same behavior consistently for mp4/m3u8 files. See attached screenshots
<img width="440" alt="Screen Shot 2021-01-07 at 4 05 33 PM" src="https://user-im

[2021-01-08 07:08] foadabdollahi commented on #198
thanks, it;'s fixed

[2021-01-08 07:10] foadabdollahi commented on #196
thanks, levels in mobile fixed but I have problem mute in Hls yet.  for now in hls i have "Allow sound" but need to tap to unmute.

[2021-01-08 07:14] foadabdollahi opened #200 "modular final file"
for reduce final size you can split file to many module and if anyone wanna use some future use that.
for example:

openplayerjs.main,js
openplayerjs.hls.js
openplayerjs.ads.js
openplayerjs.dash,js
openplayerjs.flv.js

and if I wanna use hls only:
use openplayerjs.main,js and openplayerjs.hls.js

[2021-01-08 11:27] rafa8626 commented on #196
Yeah I’ll continue researching about it but I don’t think I can do much about it since that relies on browser policies; my only advise will be to remove auto play and after init() you put play(), although I don’t know how it will behave for mobile

[2021-01-08 11:33] rafa8626 commented on #200
Maybe if can reduce the size but it will increase the number of http requests depending on the media to support so it’s a trade-off.

[2021-01-08 13:47] #200 closed

[2021-01-08 17:24] foadabdollahi commented on #200
ok
when you splite by module in use i some module and combine any module i need.and combined file small that full package and both of them load by one request.

[2021-01-08 17:29] rafa8626 commented on #200
I’ll check this for a future version but this will require serious refactor because the file types definition and instantiation happen in a very specific way inside a common file and to achieve what you want need to think how to do it without altering the current bundle since now many people use it without thinking about adding more files to load their media

[2021-01-08 17:34] foadabdollahi commented on #200
ok, i think this is good idea for next versions
and you can add bundle file for some people that you say

[2021-01-19 10:32] foadabdollahi opened #201 "after fullscreen in vertical Video"
Hi,
If set in option mode :'fit'  and a video with rate 1:1 for example or height>width after one time click fullscreen and un-fullscreen vidoe  video go to full but contaner still fill
![image](https://user-images.githubusercontent.com/13816403/105022281-d2809580-5a5e-11eb-8f9f-b7a98c4d4eea.png)
![image](https://user-images.githubusercontent.com/13816403/105022310-dc09fd80-5a5e-11eb-8954-dd249f0e

[2021-01-19 12:16] rafa8626 commented on #201
@foadabdollahi can you provide me a Code Pen so I can check this issue please?

[2021-01-19 13:04] foadabdollahi commented on #201
ok i do it in next hour
bu you can see it in this page
first click fullscrean and then unfullscreen
https://nashrin.com/v/djxx
half of page is show

[2021-01-21 03:52] #201 closed

[2021-01-21 03:52] rafa8626 commented on #201
@foadabdollahi please download the master branch and let me know if this is fixed

[2021-01-22 04:18] rafa8626 commented on #201
@foadabdollahi all good with this or does it need to be reopened?

[2021-01-22 09:56] foadabdollahi commented on #201
@rafa8626  excuse me i have busy days but i check it now and it is fixed
thanks

[2021-01-22 10:13] rafa8626 commented on #201
@foadabdollahi no problem; glad it’s fixed

[2021-02-01 11:42] nejcsever opened #205 "Error handler doesn't fire for particular VAST error code"
**Description**
Error handler function doesn't catch `VIDEO_PLAY_ERROR`/`400 VAST Error` ad error when autoplay is disabled (for example no-browser interaction). `onError` function or `playererror` event listener should catch errors from IMA SDK, but in some cases (e.g. autoplay) errors are not caught.

**To Reproduce**
Try to not interact with browser (for me this is Google Chrome) while page exe

[2021-02-02 00:39] rafa8626 commented on #205
@nejcsever im the code I set up a distinction between warnings and errors in the Ads, since the errors must destroy the Ads manager but not the warnings. I can definitely check that and dispatch the error player even if they are warnings

[2021-02-02 03:03] rafa8626 commented on #205
@nejcsever I reviewed some more your code and my first question is: why do you add enablePreloading and then play? I think the conflict comes from there, but I tried to look more into the IMA docs and this error for some reason is not triggered as part of its error event; I don’t know how to catch this one, but I’ll keep looking

[2021-02-02 08:25] nejcsever commented on #205
@rafa8626 Yeah I tried catching it too but couldn't do it. I saw one example using AdEvent.LOG which might be able to catch non-fatals (haven't tried it).

https://ads-developers.googleblog.com/2016/09/fatal-versus-non-fatal-errors-in-ima.html

That post is from 2016, but probably still applies. Maybe LOG AdEvent should also propagate through player from IMA SDK?

Regarding autoplay trigger. I did

[2021-02-02 10:26] rafa8626 commented on #205
@nejcsever I’ll check that link and see what I can do; in terms of auto play, you can add the autoplay attribute in the video tag and that should do it since that’s an HTML5 standard

[2021-02-02 11:15] gabrieletassoni opened #206 "Add sub items for custom control"
**Is your feature request related to a problem? Please describe.**
I'm trying to create a multi language control for Live streaming, having rtmp inputs for different languages, I'd like to have a control menu with links to different languages set as sources for the video element, in order to be able to switch from languages at will.

**Describe the solution you'd like**
Clicking on a custom contro

[2021-02-03 02:58] rafa8626 commented on #206
@gabrieletassoni hi, currently the subtitles menu appears of you set up the detachMenu option in the player; however, if you need to have a different experience and you want to use the addControl method, I’ll need to enhance that to support subitems and its operations. If the first option doesn’t work for you, let me know and I’ll schedule the work for the second option then. Thanks for suggesting

[2021-02-03 07:55] gabrieletassoni commented on #206
@rafa8626 thanks for consideration, to me it remains important because is to implement a functionality that's actually non existent: mimicking different audio languages, maybe I wasn't clear in the description of the feature, but it's scope is not the subtitles (for which I probably can just use the already present functionality), in my case is to fake the presence of different languages. I try to

[2021-02-03 12:58] rafa8626 commented on #206
@gabrieletassoni thanks for the detailed explanation; I think I can make the adjustments in the next few days. The only thing I'd ask is for a couple of samples I can use to explore what you are looking for. That way I can spend the time dealing with the enhancements rather than researching for samples.

[2021-02-04 03:29] #205 closed

[2021-02-04 03:29] rafa8626 commented on #205
@nejcsever I added the LOG event (among others) now; even though I added them, it didn't make a difference. But using the following snippet, your player will work as expected (it won't go to error unless there's a serious bug):
[code]

Please download the master branch to test what I implemented. Let me know if it worked for you

[2021-02-04 05:04] #206 closed

[2021-02-04 05:04] rafa8626 commented on #206
@gabrieletassoni Ignore my comment above; please download the master branch and test my approach using the following sample:
[code]
Let me know if it needs something else, and thanks again for your suggestion

[2021-02-04 07:38] gabrieletassoni commented on #206
Wow! Thank you very much! I was in the process of producing test videos, but it's plain great this super fast feedback! I start to test it in few minutes and let you know, thank you very much again!

[2021-02-04 07:51] gabrieletassoni commented on #206
Wow! That's beautiful! It works really good to me. Thank you very much! also the plus of having icons in submenu items is really handsome! ^_^

[2021-02-04 11:46] rafa8626 commented on #206
@gabrieletassoni you are welcome! I’m glad this worked for you. Please invite others to star the project so the project gains more popularity. This will be released in the next few days :)

[2021-02-12 02:19] gabrieletassoni opened #207 "Remove custom control after init"
**Is your feature request related to a problem? Please describe.**
By using player.addControl(..) I can add a custom control on the player interface also after init(), I would like to remove custom controls at will, I tried by splicing the object representation like so `player.controls.items.right.splice(0, 1);`, but it has no effect, the Custom control stays in place.

Maybe I'm missing something

[2021-02-12 02:30] rafa8626 commented on #207
@gabrieletassoni yes that doesn’t exist yet. But I can work on it during these next days. I’ll keep you posted about it

[2021-02-12 10:01] gabrieletassoni commented on #207
Really really super! Thank you again.

[2021-02-13 06:12] foadabdollahi opened #208 "Set video duration manually"
some time for delay in receive video player show 00:00 for video duration. if I can set this duration manually (in configuration) it can be better experience for user . until video load

![image](https://user-images.githubusercontent.com/13816403/107843322-756acc00-6ddf-11eb-99c2-99f066f07afa.png)

[2021-02-13 10:41] foadabdollahi opened #209 "Tooltip align"
tooltip alignment set in CSS,
I think it should better calculate from clicked button and set dynamically.

![image](https://user-images.githubusercontent.com/13816403/107847943-15871c00-6e05-11eb-884e-6c933fa9b920.png)

[2021-02-13 11:54] rafa8626 commented on #208
@foadabdollahi many video players actually won’t show any duration at all until is detected; would that work for you?

[2021-02-13 11:55] rafa8626 commented on #209
@foadabdollahi I’ll take a look at this. Thanks for reporting it

[2021-02-13 15:00] foadabdollahi commented on #208
yes i want set duration until  detected (before detect) for show better user experience. it can be an optional configuration

[2021-02-15 01:32] rafa8626 commented on #207
@gabrieletassoni please download the master branch and let me know if it works for you; you just need to use
[code]

[2021-02-15 01:41] rafa8626 commented on #209
@foadabdollahi can you give me a sample URL where I can see the issue please?

[2021-02-15 01:47] rafa8626 commented on #208
@foadabdollahi please download the master and let me know if it works; the way to use it is like this:
[code]

[2021-02-15 02:30] rafa8626 commented on #209
@foadabdollahi disregard my comment above; please download the master branch and test if it works for you now. The CSS position should be right now. There's no need to use JS for these type of endeavors since the browser run smoother calculations and I found out a better way to set the position for the menu. Let me know so I can release this tomorrow if possible

[2021-02-15 08:03] foadabdollahi commented on #209
great, it fixed.

[2021-02-15 08:14] foadabdollahi commented on #208
Thanks. it work as i need

[2021-02-15 12:53] #209 closed

[2021-02-15 12:53] #208 closed

[2021-02-15 16:39] gabrieletassoni commented on #207
@rafa8626 Hi, thanks for the effort, it works ok on predefined controls like play (as per your suggestion for testing), but not for custom controls, I used it for a custom control I created using the custom crontrols `player.removeControl('languages-selector')`, languages-selector is the id of the customControl.

[2021-02-15 16:42] rafa8626 commented on #207
@gabrieletassoni can you provide me a CodePen where I can check your issue please?

[2021-02-15 16:44] rafa8626 commented on #207
@gabrieletassoni nevermind, I see the issue already. I'll fix it shortly

[2021-02-15 16:50] rafa8626 commented on #207
@gabrieletassoni please download the master branch again and let me know if it works now for you

[2021-02-16 09:34] gabrieletassoni commented on #207
@rafa8626 Tested and it works like a charm! Thank you very much!

[2021-02-16 12:09] #207 closed

[2021-02-17 23:40] samsends opened #210 "Guidance on extending OpenPlayerJS with spritesheet thumbnail previews"
**Is your feature request related to a problem? Please describe.**

It would be nice to display thumbnail previews depending on the position of the seek bar. For the end user this function helps with seeking especially given that continuous watch times are going down in favor of shorter skipping behavior to seek to the interesting areas of a video.

To my knowledge, this is not possible with OpenP