[2021-02-18 02:57] rafa8626 commented on #210
@samsends thanks for choosing OP as part of your project. IMO, this feature may be best suited by using a custom control, to which you can find documentation [here](https://github.com/openplayerjs/openplayerjs/blob/master/docs/customize.md#add-control). This feature looks like an secondary progress bar, so it should be easy to create; however, the only thing I don't have integrated yet for custom

[2021-03-03 03:51] rafa8626 commented on #210
@samsends sorry for the delay (I've been really busy lately); please download the master branch and let me know if it works for you; I have added 5 new common events that are supported with custom controls to enhance the experience with them

[2021-03-05 03:16] samsends commented on #210
Hey @rafa8626, thank you for adding the additional events. Does this also include touch events? I have noticed some weird behavior when seeking video position on mobile devices. Another question I have is whether it is possible to send the video into full screen mode on mobile, but not desktop?

My work email is sam@glass.xyz. If you don't mind shooting me an email I would like to discuss potentia

[2021-03-05 10:59] rafa8626 commented on #210
@samsends thanks for the star :) no I didn’t add a touch event but I can add it quickly today; as per the full screen effect, only Android can do that but not iOS since that’s more restrictive. I haven’t checked if it’s currently possible but I’ll check. I’ll shoot you an email to discuss sponsorship

[2021-03-07 02:44] tigitz opened #213 "Ad: Cannot read property 'getVolume' of null"
**Describe the bug**
When loading an ad I get this:

[code]

**To Reproduce**
https://codesandbox.io/s/epic-meitner-tzdyh?file=/src/index.ts:169-409

[2021-03-07 02:48] tigitz opened #214 "Trigger Ad manually Demo doesn't work"
**Describe the bug**
Ad plays at the start when it shouldn't and Play ad button that supposed to start the ad manually doesn't work either

**To Reproduce**
https://codepen.io/rafa8626/pen/abZNgoY

[2021-03-07 03:16] tigitz opened #215 "Player freeze in iOS < 14"
**Describe the bug**
Might be related to https://github.com/openplayerjs/openplayerjs/issues/213 but on iOS before version 14, the player freeze when clicking on play button.

**To Reproduce**
https://codesandbox.io/s/epic-meitner-tzdyh?file=/package.json:291-297

https://user-images.githubusercontent.com/1524501/110227744-cf047900-7efb-11eb-9531-92439376558d.mp4

https://user-images.githubusercon

[2021-03-07 03:37] rafa8626 commented on #214
@tigitz thanks for reporting this; I'll look at it and let you know when I have the fix ready

[2021-03-07 03:45] #213 closed

[2021-03-07 03:45] rafa8626 commented on #213
@tigitz please download the master branch and let me know if it's solved for you. I tested with the CodePen your provided and also #214 was fixed with this

[2021-03-07 03:46] rafa8626 commented on #214
@tigitz Please download the master branch; it should be fixed with #213

[2021-03-07 03:49] rafa8626 commented on #215
@tigitz Can you download the master branch and confirm this is fixed, please? If not, I'll ask you to share your account to troubleshoot this. I'm almost confident that the fix I just put in place will help but I wanna make sure you are not seeing another issue in those environments

[2021-03-07 03:53] rafa8626 commented on #210
@samsends I checked about the touch events, but they seem to agree that having click is the same as touchstart, also because mobile devices dispatch click after the touch events. See https://developer.mozilla.org/en-US/docs/Web/API/Touch_events/Supporting_both_TouchEvent_and_MouseEvent#event_order

[2021-03-07 18:53] tigitz commented on #215
Hey @rafa8626 ! thanks.

Tried `master` branch but doesnt seem to fix this particular issue: https://codesandbox.io/s/loving-ramanujan-q0i2f?file=/index.html

I'll share the simulator credentials on your gmail email if that's ok to assist you.

[2021-03-07 19:00] tigitz commented on #214
@rafa8626 Thanks !

It seems though that the `Play Ad` button still doesn't work

https://codepen.io/tigitz/pen/yLVxWEy (it uses master)

[2021-03-08 03:21] rafa8626 commented on #214
@tigitz the only thing missing with the button is:
[code]

[2021-03-08 03:44] rafa8626 commented on #215
@tigitz I checked in Browserstack, because when I tried to use LambdaTest I just had access to iOS 14; so I tried in iOS 13 and all was fine. This is my recording

https://user-images.githubusercontent.com/910829/110271805-ba28f380-7f96-11eb-814b-3d1608aa2327.mp4

[2021-03-08 09:16] tigitz commented on #215
Indeed, I guess it comes down to LambdaTest using Simulator while BrowserStack is using real hardware / VM

Sorry for the bother

[2021-03-08 09:16] #215 closed

[2021-03-08 11:39] rafa8626 commented on #215
No worries. Glad it is not a bug

[2021-03-08 11:39] #214 closed

[2021-03-08 17:20] mikheilangel commented on #214
Excuse me, in this code generator, "Your media URL" and "Ads URL" can also work with only .mp3 audio files? I tried but it only listens to the first link. Thank you.
![media-settings](https://user-images.githubusercontent.com/65021747/110354340-56ef9d80-8038-11eb-86f5-df888769e02b.png)

[2021-03-08 17:22] rafa8626 commented on #214
@mikheilangel it works with MP3, MP4, M3U8 and MPD files

[2021-03-09 00:42] rafa8626 commented on #214
@mikheilangel yes, it works. Just set the URL and then check the audio one and hit Load.
<img width="1170" alt="Screen Shot 2021-03-08 at 7 40 59 PM" src="https://user-images.githubusercontent.com/910829/110400813-5a8a2100-8046-11eb-9473-d2af2f8f6669.png">

[2021-03-09 03:26] mikheilangel commented on #214
"Your media URL" works, but "Ads URL" doesn't start.
I would like that when you click play, you must first listen to the mp3 link contained in "Ads URL" and then the mp3 link contained in "Your media URL" in sequence.

[2021-03-11 11:48] rafa8626 commented on #214
@mikheilangel  ok I’ll check it and keep you posted

[2021-03-12 00:49] JustinWebDev opened #216 "ambiguity for JS example"
**Describe the bug**
Some of the configuration information is not clear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/openplayerjs/openplayerjs/blob/master/docs/usage.md#javascript
2.  look at config info:
[code]
What is "`levels`?  It is not mentioned elsewhere?  Is it supposed to be 'layers'?
What is "`main`"?  How is it used (syntax)?  It is not explained anywh

[2021-03-12 00:56] JustinWebDev opened #217 "low or mute volume speaker image changes height of player"
**Describe the bug**
When the volume icon changes due to lower volume level or mute, the position of the controls moves vertically.  The control element should not move because of volume level change.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/rafa8626/pen/WaNxNB
2. Click on the audio player speaker to mute it or change the volume level <50% to force the speaker

[2021-03-12 00:59] rafa8626 commented on #217
@JustinWebDev thanks for reporting this; I’ll take a look and I’ll keep you posted. Please star the project to show your support

[2021-03-12 01:08] JustinWebDev opened #218 "codepen example doesn't honor 'live' config param showProgress"
**Describe the bug**
The fully-customized codepen example player shows "Live Broadcast" but the 'live' config param is not even used, and if you add the param and set showProgress = true, the progress bar does not show.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/rafa8626/pen/ExPLVRE
2. insert the following in the configuration for player 'audio':
`live: {

[2021-03-12 02:04] JustinWebDev opened #219 "controls-layers configuration parameters are not honored"
**Describe the bug**
Setting the controls - layers config params does not correctly alter the player.

**To Reproduce**
Steps to reproduce the behavior:
1. for a simple audio player, configure a vertical stack of controls, something like:
HTML
`<audio id="player" class="op-player__media">
...`

JS
`const player = new OpenPlayerJS('player', {
          controls: {
                  layers: {

[2021-03-12 03:18] JustinWebDev opened #220 "API property to get currently playing source"
**Is your feature request related to a problem? Please describe.**
I need a way to get the currently playing source.  My audio tag has two sources.  I can't find a way to discover which source is playing or active (set to play).

**Additional context**
There is the getMedia object, the src property, and the media.src property (which is not documented), but they just give a list of sources.

[2021-03-12 04:14] rafa8626 commented on #216
@JustinWebDev thanks for noticing this; I made some changes in the docs based on your suggestions. Let me know if it's clear now

[2021-03-13 01:32] JustinWebDev commented on #216
This is better.  It would be good to clarify that _detachMenus_ is a Boolean and defaulted to false.
I couldn't get _progress - duration_ to do anything, so might need to be more verbose on what it does or what to expect.
Thanks.

[2021-03-13 01:46] JustinWebDev opened #221 "incorrect behavior when instantiating multiple players in foreach loop"
**Describe the bug**
When instantiating multiple players in a .foreach() loop, the players do not respond correctly to some configuration settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/rafa8626/pen/ExxXvZx
2. add the following to the player configuration
`startTime: 10,
    startVolume: .5,`
3. observe the new players - the first one has the correct start

[2021-03-13 03:16] #217 closed

[2021-03-13 03:17] rafa8626 commented on #217
@JustinWebDev this has been fixed in the master branch; it was related to the size of the mute button compared to other states.

[2021-03-13 03:18] #216 closed

[2021-03-13 03:19] rafa8626 commented on #216
@JustinWebDev thanks for the last feedback; I have added it and should be more descriptive now in terms of what these items are supposed to do

[2021-03-13 19:17] #219 closed

[2021-03-13 19:18] rafa8626 commented on #219
@JustinWebDev this should be fixed; please download the master branch and confirm it. If it's not fixed, let me know so I can reopen this issue. Thanks for reporting this

[2021-03-13 19:51] rafa8626 commented on #214
@mikheilangel I checked this and it worked as expected; I used `https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3Dskippablelinear&correlator=` as an example with the audio and I see the ad playing first and then the audio after

[2021-03-13 22:40] JustinWebDev commented on #217
Thanks much!

[2021-03-13 22:48] JustinWebDev commented on #216
for _detachMenus_:  "geerally speaking"  oops!

Thanks for the updates.

[2021-03-13 23:09] JustinWebDev commented on #219
@rafa8626 I'm not seeing any difference.

[2021-03-13 23:54] rafa8626 commented on #216
@JustinWebDev nice catch! I'll correct it. Thanks

[2021-03-13 23:59] rafa8626 commented on #219
@JustinWebDev I just checked again in the master branch and worked as expected. I used
[code]
to achieve this result:
<img width="725" alt="Screen Shot 2021-03-13 at 6 58 05 PM" src="https://user-images.githubusercontent.com/910829/111053007-3b1c3b00-842e-11eb-8726-3284d2a512aa.png">

[2021-03-14 00:33] JustinWebDev opened #222 "no source found behavior"
**Is your feature request related to a problem? Please describe.**
I have a live stream that is on only at certain times.  When the stream is not on, and I play the player, there is no indication that it is looking for the stream, and there is no indication that it didn't find it and timed out.  The player persists with the pause button, and the console says "All candidate resources failed to load

[2021-03-14 00:36] rafa8626 commented on #222
@JustinWebDev can you provide me with a sample of your streaming to use it to develop this feature please?

[2021-03-14 00:59] JustinWebDev opened #223 "show current time only"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to show current play time only.  I don't need the total time of the media.

**Describe the solution you'd like**
Configuration option to show only current play time.

[2021-03-14 01:05] JustinWebDev commented on #222
@rafa8626 I'm not exactly sure of what you are asking, but the live audio stream page is [here](https://berean-biblechurch.org/live-stream/).  Audio stream links are there also.  So, if you try to load the stream any other time than stated to be on, you'll get nothing because the streaming server won't even be on.

[2021-03-14 01:17] rafa8626 commented on #222
@JustinWebDev so can I use the Live Broadcast streaming URL in the link you indicated to check the behaviors you are wanting to achieve?

[2021-03-14 01:19] JustinWebDev opened #224 "mute button and volume slider don't stay connected if in right position"
**Describe the bug**
Tell us what your bug is about.

**To Reproduce**
Steps to reproduce the behavior:
1. add this to your player config, where width is not set:
`controls: {
                  layers: {
                    left: ['play'], middle: ['time'], right: ['volume']
                  }
              },`
2. observe that the mute button is right next to the time but the short volume slider

[2021-03-14 03:20] #210 closed

[2021-03-14 15:20] JustinWebDev commented on #222
@rafa8626 yes, either one, the OGG or MP3.

[2021-03-14 19:47] JustinWebDev commented on #219
@rafa8626 With audio, it doesn't look any different.  So, I tried video (it looks like that is what you tested with):
`<html>
    <head>
        <link rel="stylesheet" href="openplayer.css">
    </head>
    <body>
        <video class="op-player__media" id="player" controls playsinline>
            <source src="/path/to/video.mp4" type="video/mp4">
        </video>
        <script src="openplayer.

[2021-03-14 20:17] rafa8626 commented on #219
@JustinWebDev let me take a look at it; I'm currently finishing some adjustments for a bunch of your tickets. Then I can take a look at this so we have this sorted out :)

[2021-03-15 00:26] #218 closed

[2021-03-15 00:26] rafa8626 commented on #224
@JustinWebDev This should be fixed; please check the master branch

[2021-03-15 00:26] #224 closed

[2021-03-15 00:26] rafa8626 commented on #223
@JustinWebDev Please check the master branch; the new option should be placed under the `progress` option: `showCurrentTimeOnly`

[2021-03-15 00:26] #223 closed

[2021-03-15 00:27] rafa8626 commented on #220
@JustinWebDev now you can use `getMedia().current` to know which one is the right media. Let me know if that works for you

[2021-03-15 00:27] #220 closed

[2021-03-15 23:59] JustinWebDev commented on #224
Confirmed!

[2021-03-16 00:06] JustinWebDev commented on #223
@rafa8626 Awesome -- thanks!

[2021-03-16 00:36] JustinWebDev commented on #220
@rafa8626 This does let me see what is actually playing. Can it be extended to show what is _set to be played_ (i.e., 'queued')?  When an audio tag is rendered, there is a source that is marked to be played; I'd like to get that also.  If you look at plain HTML5, there is a _currentSrc_ property on the audio tag object that is like what I need.  I'd think it would also show currently playing sourc

[2021-03-18 00:02] JustinWebDev opened #225 "'Uncaught TypeError' with progress - showCurrentTimeOnly configured"
**Describe the bug**
If
_progress:{
          showCurrentTimeOnly: true,
          }_
is in the configuration for an audio player, Chrome console reports:
[code]
and the progress bar goes away.

Firefox does not show an error, and the progress bar continues to show.

**To Reproduce**
Steps to reproduce the behavior:
1. configure an audio player as described above
2. play the audio - see error in t

[2021-03-20 00:50] rafa8626 commented on #225
@JustinWebDev thanks I’ll check this soon, it’s been crazy this week

[2021-03-20 00:51] rafa8626 commented on #220
@JustinWebDev that’s odd because when I tested this I could retrieve the current media as an object retrieving the source and type of media. Let me check that just in case

[2021-03-21 20:04] JustinWebDev commented on #220
In case it matters in your testing, I use two source tags in the audio tag.

[2021-03-21 20:44] rafa8626 commented on #220
@JustinWebDev I tested this using
[code]
and then the JS:
[code]
and I see in the console the object including the OGG source and type: "audio/ogg"

[2021-03-21 20:55] rafa8626 commented on #225
@JustinWebDev  this should be fixed now; please download the master branch and let me know if it works

[2021-03-21 20:58] JustinWebDev commented on #220
@rafa8626 Ah, thanks for the code.  Now I see the difference.  I use `preload="none"` in the audio tag.  That's the difference.

[2021-03-21 21:07] JustinWebDev commented on #225
@rafa8626 No errors!  Looks good.

[2021-03-21 21:09] #225 closed

[2021-03-22 01:35] rafa8626 commented on #220
@JustinWebDev gotcha; glad it worked!

[2021-03-22 22:04] JustinWebDev commented on #220
@rafa8626  Well, it didn't work.  I just found the difference between your test and my test.  With preload off, the queued track is not seen.

[2021-03-22 22:09] rafa8626 commented on #220
@JustinWebDev if preload is none there’s nothing ready to be played, hence the only viable source there is to get the first source in the list; would that work for you?

[2021-03-22 22:13] JustinWebDev commented on #220
@rafa8626 I think that would be okay. That may be what HTML _currentSrc_ property on the audio tag does.

[2021-03-23 01:43] #222 closed

[2021-03-23 01:43] rafa8626 commented on #220
@JustinWebDev check the master branch; this should be possible now even with the `preload=none` attribute

[2021-03-23 01:45] rafa8626 commented on #222
@JustinWebDev please download the master branch and test this; I used the mp3 and ogg for this, and once you try to load the media, the progress bar will display an animation to indicate that is trying to download the source. After 30 secs, the animation will stop. You can use the `playererror` to perform other operations. I'd leave you the reset feature since that is more related to your scenario

[2021-03-23 21:52] JustinWebDev commented on #222
@rafa8626 Wowza - that's great!  That makes me think of enhanced config parameters  :-)

I used `playererror`.  Is error.detail.message "Media download failed part-way due to a network error" returned from the browser is that your code (string)?
Is there a way to capture the playererror object in a variable so I can access it programmatically?

BTW, the link for "Usage with Java**s**cript" on http

[2021-03-23 21:54] JustinWebDev commented on #220
@rafa8626 Awesome - thanks!

[2021-03-23 22:11] rafa8626 commented on #222
@JustinWebDev yes that’s my code. I tried to catch it using what W3C suggests but it wasn’t consistent; there’s no way to catch the error other than using the event and store the result in a variable. I’ll check the link issue, thanks for noticing it :)

[2021-03-24 22:59] rafa8626 commented on #221
@JustinWebDev it's weird because the issue is not present outside of CodePen. The only thing I can't figure out yet is the volume in HLS since it doesn't autoplay and the `loadedmetadata` messes with it; once you start playing the streaming all works as expected. With regular MP4/MP3 everything is fine.
<img width="672" alt="Screen Shot 2021-03-24 at 6 57 42 PM" src="https://user-images.githubuser

[2021-03-24 22:59] #221 closed

[2021-03-24 23:04] JustinWebDev commented on #221
@rafa8626 Glad to hear it is only in CodePen.  I'm sure you'll figure out the rest   :-)

[2021-03-28 21:33] Rubioli opened #226 "Multiple Ads sets up playererror"
In my player, I'm using multiple ads and also have set up a `addEventListener` on `playererror`. On both when skipping the first ads and also when the first ad is finished, it will fire up `playererror`, which shouldn't be fired in the first place.

This is my set up:
[code]

Also if the first ad or second doesn't have any ad/feed, the error would run also every second and gives the `console.log('

[2021-03-29 00:37] rafa8626 commented on #226
@Rubioli thanks for reporting this; please download the master branch and let me know if it works now for you. Once it tries to process both, it stops the `playererror` since there's nothing else to do.

[2021-03-29 08:34] Rubioli commented on #226
Thanks for your reply @rafa8626

I tested with the master and this is the result :)

[code]

What I saw was that the second ad never gets played now and when I do skip as well, it doesn't play. In regards to the errors, it still fires up 2 `playererror` and I tested this with all different type of VAST, but still the same :/

I tested with 2 Single Inline Linear and still the same. First ad plays,

[2021-03-29 10:34] rafa8626 commented on #226
@Rubioli perfectly explained; I’ll check why it is still triggering 2 errors instead of one

[2021-03-29 11:15] Rubioli commented on #226
@rafa8626 besides the errors, only one of the ads gets to play. I only tested with 2 ads and only the first one played

[2021-03-29 11:36] rafa8626 commented on #226
@Rubioli I need to check that because sometimes these sample tags return empty from the server; I’ve seen that before even playing just one. I don’t know why but the source is an empty XML tag

[2021-03-29 22:28] mikheilangel commented on #214
@rafa8626 first sorry for the late reply.
Yes I have tried with your link and I have heard that it works regularly, but I don't understand how I have to go to have a link like the one you used.
If I wanted to use my link where I upload my file, it can't work right?
Thanks for your patience.

[2021-03-30 00:25] rafa8626 commented on #226
@Rubioli please download the master branch and check this; the number of errors should be the right one now; and yes, this happens because the server that serves the ads returns the XML as empty, so if none of the Ads play it is because of it

[2021-03-30 00:53] rafa8626 commented on #214
@mikheilangel this will only work with an external URL, not with one with a `file://` protocol, or with a local path. So if you store your file in Dropbox, S3, etc., it should be able to reproduce it, unless there are CORS involved and the media cannot play

[2021-04-06 15:41] Rubioli commented on #226
Thanks @rafa8626 I'll run a test today.

PS: Sorry for late reply, I've been visiting family

[2021-04-16 23:03] #226 closed

[2021-04-21 16:15] gabrieletassoni opened #230 "Is there a way to have two players playing at the same time in the page? (seamless transition between two videos)"
I'm trying to create a seamless transition between two videos, to fake a multi language audio swap.

I have two m3u8 playlists, the normal behaviour is, with one player in the page, to set the src to the new m3u8 playlist when I need it, for example:

[code]

So the new source starts at the same time of where the previous source was, but the problem here is that I see a loading animation and the p

[2021-04-21 22:24] rafa8626 commented on #230
@gabrieletassoni if you can create a CodePen with what you are trying to achieve I’ll have a better idea about how to answer you; I don’t think it’s difficult but I wanna explore some options before I give you a final answer

[2021-04-22 07:50] gabrieletassoni commented on #230
Here it is:

https://codepen.io/gabrieletassoni/pen/zYNMJMr

I had to extract the general functionality from the dynamically generated page, but it's quite accurate on the problem, the only thing is that codepen has fast connection and the demo files are quite short, so it's less evident than uusing my adsl, but you can anyway see that the foreground video player, as soon as the background one is

[2021-04-24 02:20] rafa8626 commented on #230
@gabrieletassoni thanks I’ll check it out and give you my feedback as soon as I can

[2021-04-24 16:54] foadabdollahi opened #232 "on volume change"
Hi,

the volume change event not work

[code]

[2021-04-24 19:04] rafa8626 commented on #232
@foadabdollahi you need to use ply.getElement().addEventListener to make events work

[2021-04-24 19:04] #232 closed

[2021-04-26 14:31] rafa8626 commented on #230
@gabrieletassoni after I checked your CodePen, I realized that something was missing in the player itself that I should have put a long time ago. Please download the master branch to verify if the following code sample fits your needs. I did it trying to be as smooth as possible; I couldn't detect a pause event on it, but maybe your scenario is different:
[code]

[2021-04-26 15:42] gabrieletassoni commented on #230
On this sample, it looks ok, thank you, I try it on the real thing and let you know (so, there's no need for two players this way, good)

[2021-04-26 16:36] gabrieletassoni commented on #230
Mybe the webm is better than the m3u8, but in this project I'm stuck with m3u8

[2021-04-26 16:40] rafa8626 commented on #230
I’ll check it with m3u8. Do you have another source I can use to mimic the behavior more properly? In your CodePen you used the same one so I’d like to try having 2 different ones

[2021-04-26 16:45] gabrieletassoni commented on #230
Here they are, longer so you can also check if the behavior differs after minutes:

- https://stream.mux.com/XHp500iPqujBykFKCYrJwCdkL00PItGj93L4BUamK22Zg.m3u8?redundant_streams=true
- https://stream.mux.com/lzqPULGkpx8o01H97C6fqlSDbHy9GQr3rQpESqyCGErw.m3u8?redundant_streams=true

Many thanks again

[2021-04-26 20:52] rafa8626 commented on #230
@gabrieletassoni OK I think I made it work the way you expect now. Unfortunately, there's no seamless way to do it with 1 player based on what I read, so you do need 2 players. Please download again the master branch and use the following snippet. I tested multiple times and it work always consistently

[code]

[2021-04-27 07:35] gabrieletassoni commented on #230
Yes, thanks, the sample works really as needed. Now I port it into the application.

[2021-04-27 08:14] gabrieletassoni commented on #230
Ok, it works also in the real thing. Thank you very much for the changes and hints.

[2021-04-27 08:14] #230 closed

[2021-04-27 08:59] rafa8626 commented on #230
@gabrieletassoni glad it worked for you :)

[2021-04-27 09:21] gabrieletassoni commented on #230
Meanwhile, I'm trying to spread the word on how good is this project, some more stars are coming from friends! ^_^

[2021-04-27 09:24] rafa8626 commented on #230
Thanks, I truly appreciate it! :)

[2021-04-29 15:29] mkaiphant opened #233 "React rich example"
Hey mate thanks for the awesome plugin.
Would you mind to create and share an example of player in react js with external controls to control the playback like play/pause, mute, seek etc.
Thanks in advance

[2021-04-29 16:01] rafa8626 commented on #233
@mkaiphant thanks for using OpenPlayerJS! Sure I’ll work on one and share it with you. Please the project a star to show your support

[2021-05-01 16:05] mikheilangel commented on #214
@rafa8626 i also tried with 2 audio links on dropbox, but unfortunately i can't get it to work.
https://www.dropbox.com/s/qhvb6ehvlp5urnb/overture.mp3?dl=0
https://www.dropbox.com/s/9qu4t7ruxh0wnch/overture.wav?dl=0
I don't know, maybe I'm the one who's doing something wrong. Thanks anyway.

[2021-05-02 16:48] manojvarmaboppisetti commented on #233
Hey any update on my issue @rafa8626

[2021-05-03 05:28] mkaiphant commented on #233
hey @rafa8626 . any update on my issue?

[2021-05-03 07:53] gabrieletassoni opened #235 "TypeError: attempted to get private field on non-instance"
**Describe the bug**
Using the library in a Ionic/Vue application, with 2.7.2 as openplayerjs, results in that error, in console, which prevents from the player to switch to another source.
Using 2.6 version works, but I need to use the latest version for some improvements released in 2.7.2.

**To Reproduce**
Steps to reproduce the behavior:
1. In a Ionic/Vue application, create a vue component wh

[2021-05-03 08:06] gabrieletassoni commented on #235
I also tried other ways to set the src at runtime, by googling around for the error in the title of this bug report, none worked, but i expected this since I'm blind aiming at the problem:

`this.player.src = src`

`this.player["src"] = { src, type: "application/x-mpegURL"}`

`this.player["#src"] = { src, type: "application/x-mpegURL"}`

`this.player.src.set({ src, type: "application/x-mpegURL"})`

[2021-05-03 09:01] gabrieletassoni commented on #235
The *TypeError: attempted to get private field on non-instance* happens also when I try to use methods on the player instance, like:

[code]

With an error like:

[code]

[2021-05-03 11:18] rafa8626 commented on #235
@gabrieletassoni if you can prepare a CodePen or similar where I can dig more into this error I’d appreciate it

[2021-05-03 18:48] rafa8626 commented on #233
@mkaiphant I’ll try to work on it tonight. I have some work that is delaying this but I’ll see if I can get to it later tonight. I’ll keep you posted

[2021-05-03 20:32] rafa8626 commented on #233
@mkaiphant I created this CodePen; it's not a lot but it will give you the right idea about how to use OpenPlayerJS with React: https://codepen.io/rafa8626/pen/GRrVLMB. Hope it's helpful

[2021-05-03 20:32] #233 closed

[2021-05-04 04:45] mkaiphant commented on #233
@rafa8626 it gives me decent idea. thanks for your prompt response

[2021-05-04 08:25] gabrieletassoni commented on #235
Understood, maybe this can be put in documentation if someone wants to use openplayerjs in a Vue.js application:

With 2.7 releases of openplayerjs, the private methods and properties are actually more private than before, this means that, with Vue.js 3, which observes *.vue template variables, by adding [reactivity](https://v3.vuejs.org/guide/reactivity.html) to them, the variable which is used t

[2021-05-04 08:25] #235 closed

[2021-05-04 10:42] rafa8626 commented on #235
@gabrieletassoni thanks for the info; I’ll add that in the documentation and try to put a CodePen for it

[2021-05-06 22:35] rafa8626 commented on #214
@mikheilangel the problem with DropBox is that it is not a straight MP3/WAV source: it's an HTML page and that's why you can't play them directly from there

[2021-05-11 03:14] rayronvictor opened #240 "Outstream ads"
It's possible to run ads only? I'm trying to run outstream ads in my page.

[2021-05-11 20:49] rafa8626 commented on #240
@rayronvictor yes you can, but you will need a source with black background, muted and with duration of 1 sec. Something like this:
[code]
To create the video source I'm talking about, see https://stackoverflow.com/questions/46366150/create-muted-video-and-black-screen-video-with-ffmpeg

Thanks for using OpenPlayer. Please give a star to the project to show your support.

[2021-05-11 20:49] #240 closed

[2021-05-12 01:16] rafa8626 commented on #119
@rayronvictor are you seeing this in the latest version of OpenPlayerJS?

[2021-05-12 03:02] rayronvictor commented on #119
@rafa8626 yes, using Gatsby 3.5.x

[2021-05-12 11:53] armenr opened #242 "Request for documentation - How to Access HLS events & data"
**Is your feature request related to a problem? Please describe.**
I am using signed URLs via CloudFront. These urls come in the form of:

[code]

The problem is that when the m3u8 file is parsed, you get a list like this:

[code]

As a result, I need to append the `?Policy=....` string to every subsequent url that XHR is going to perform a GET on.

Currently, I have a partially-working implementa

[2021-05-12 12:45] rafa8626 commented on #242
@armenr thanks for using this library! The HLS events can be used with the prefix hls; so the events you are looking for are `hlsManifestParsed` and `hlsLevelLoaded`. I’ll document that in this oncoming release, but that should help you.

Please consider giving the project a star to show your support :)

[2021-05-12 17:02] armenr commented on #242
@rafa8626 - thank you! I was able to hook into the event, but `data` comes back undefined. Any advice? :)
[code]

[2021-05-12 17:10] armenr commented on #242
[code]

Data comes back undefined for these as well. I must be doing something stupid :)

[2021-05-12 17:57] rafa8626 commented on #242
@armenr if you check https://github.com/openplayerjs/openplayerjs/blob/master/docs/api.md#error-events you will see that `event` carries the information in the `data` object. I'm gonna document this much better to avoid confusion as well

[2021-05-12 18:29] rayronvictor commented on #119
I created a codesandbox https://codesandbox.io/s/adoring-franklin-wf8gg

To reproduce the error, run `yarn build` in a new terminal tab

[2021-05-12 19:48] armenr commented on #242
Thank you! I'll give it a try and report back. I appreciate you taking time to provide me with free customer support :)

I'm using your library in a TypeScript/Webpack5/Vue3 project.

I tried to use video.js, but ran into some weird issues with webpack and the built modules for their library.

Your library is clean, and JUST works! Thanks for all your hard efforts.

[2021-05-12 19:51] rafa8626 commented on #242
@armenr you are very welcome! If the event is structured as I thought, you either have it in data or in detail object. I’m glad the library worked like a charm for you

[2021-05-12 19:55] rafa8626 commented on #119
@rayronvictor thanks! I’ll check it and get back to you

[2021-05-12 20:45] armenr commented on #242
I'm still having trouble. Would you maybe have an example snippet I can try? I can't get access to an event or data. Not sure what I'm doing wrong. 🤔

[2021-05-12 21:45] rafa8626 commented on #242
@armenr I need to do some fix for it, because it's not catching all the data as expected. I'll keep you posted when I have a fix for it

[2021-05-12 22:44] armenr commented on #242
@rafa8626 - thank you! I'm happy to install and test from a branch or specific tag/commit hash. Let me know. I'm a cowboy and this isn't a production codebase so I'm happy to test.

Thanks again!

[2021-05-13 01:04] #119 closed

[2021-05-13 01:04] rafa8626 commented on #119
@rayronvictor please download the master branch and confirm it works now. If so, let me know so I can release this fix as soon as possible. Thanks for bringing this up

[2021-05-13 01:06] rafa8626 commented on #242
@armenr please download the master branch and let me know if it worked for you. You can use it like this:
[code]
It was not returning the data correctly in the event but now it does. Let me know so I can release this as soon as possible

[2021-05-13 02:44] armenr commented on #242
@rafa8626 - Testing now. Will report back in a few!

[2021-05-13 02:53] armenr commented on #242
Confirmed working! Thanks man, this was it!

Now...could I also bug you (since I have your attention) to ask the following:
How can I access/mutate the parsed m3u8 data to run it through a regex & append text to the very end of each of the fragment strings?

Testing:
![Screen Shot 2021-05-12 at 7 51 42 PM](https://user-images.githubusercontent.com/7662191/118070881-964da980-b35b-11eb-99f2-0b7a57f6

[2021-05-13 09:27] rafa8626 commented on #242
Great! In terms of your question check https://github.com/video-dev/hls.js/issues/2152 since it’s more oriented to hls than OpenPlayerJS.

[2021-05-13 09:29] rafa8626 commented on #242
I’ll double check the detail since it should be there

[2021-05-13 12:20] rafa8626 commented on #242
@armenr make sure the plugin is not cached. I tried this morning and I see it working as expected. I'm using this as a sample:
[code]
and this is what I see:
<img width="551" alt="Screen Shot 2021-05-13 at 8 19 48 AM" src="https://user-images.githubusercontent.com/910829/118124732-00019e00-b3c4-11eb-8c41-78eac0516feb.png">

[2021-05-13 16:43] rayronvictor commented on #119
I can confirm that solved the SSR problem. Thanks for the fast response and work!

[2021-05-13 18:15] armenr commented on #242
@rafa8626 - Got it. I'm able to see both the event, and the details/data now. Thank you! 😎

[2021-05-13 19:14] rafa8626 commented on #119
@rayronvictor you are welcome! Thanks for testing this. I’ll release the fix later today

[2021-05-13 19:15] rafa8626 commented on #242
@armenr you are welcome, and thank you for noticing this bug. I’ll release the fix later today!

[2021-05-13 19:15] #242 closed

[2021-05-21 06:42] ReArno opened #243 "Chromecast"
**Describe the solution you'd like**
Chromecast functionality.
Im not sure, but I don't find this in the examples.

[2021-05-21 09:50] rafa8626 commented on #243
@ReArno the player by itself currently doesn’t have the code to make it work with Chromecast. For that it will be needed a custom control.

 Let me know if you need more details and please give the project a star to show your support

[2021-05-25 00:23] asifmushtaqse opened #244 "Access to XMLHttpRequest at 'website-domain' from origin 'https://imasdk.googleapis.com' has been blocked by CORS policy:"
I'm using my custom vast tag and it is showing the following console error.

`Access to XMLHttpRequest at 'website-domain' from origin 'https://imasdk.googleapis.com' has been blocked by CORS policy:`

[2021-05-25 00:31] rafa8626 commented on #244
You need to make sure your VAST server is serving the file with proper CORS permissions. That why you are seeing this.

Thanks for using this player, and please give a star to the project to show your support

[2021-05-25 05:00] ReArno commented on #243
Hi, Yes if you can provide more details it will be fine.

[2021-05-26 21:42] #244 closed

[2021-05-28 05:08] ReArno commented on #243
@rafa8626  Let me know if you need more info.

[2021-05-28 07:10] trampolinstudio opened #246 "Issues with HLS"
Hello,

something is causing the audio to halt on this example:

https://codepen.io/rafa8626/pen/abbjrBW

The stream usually stops playing audio after 20/40 seconds.

It happens on multiple different streams, the same thing also happens on our setup. The error we get is "Media download failed part-way due to a network error".

All streams tested work with hls.js without this problem, which makes t

[2021-05-28 10:22] rafa8626 commented on #246
@trampolinstudio thanks for reporting this. I’ll check it and let you know

[2021-05-28 21:15] rafa8626 commented on #243
@ReArno sorry for the delay, I’ve been busy lately. So for this one it requires the addition of a custom control but also it requires a new player to make Chromecast to work.

I created a custom plugin for another player long time ago, but it still uses the proper concept to make it work: https://github.com/mediaelement/mediaelement-plugins/tree/master/src/chromecast

In order to make this work, I

[2021-05-30 21:09] rafa8626 commented on #246
@trampolinstudio I checked the CodePen you posted above; I left both audios playing for like 5 min and played smoothly. There was an issue with the first one related to not showing the poster image when playing, but I fixed that in the pen. I was not able to reproduce the original issue you posted. If you have an example of this happening somewhere else, let me know so I can take a look

[2021-05-30 21:15] trampolinstudio commented on #246
@rafa8626 thank you for checking. I just checked and it happened again :) I will send you our staging URL with a password via email, hope that is ok.

[2021-05-30 21:16] rafa8626 commented on #246
@trampolinstudio sure that works

[2021-06-05 13:49] rafa8626 commented on #246
Closing this for now since I wasn’t able to reproduce this. If you have more information about this, let me know. Thanks for choosing OpenPlayerJS!

[2021-06-05 13:49] #246 closed

[2021-06-16 12:42] rafa8626 commented on #243
@ReArno I may give it a try and create a Chromecast/Airplay plugin for it. I’ll let you know when I have some progress. Closing this for now

[2021-06-16 12:42] #243 closed

[2021-07-03 18:53] draganpetos opened #252 "Update play buttons on ad click"
Clicking on the ad does not update the play buttons, and there is an additional click needed, before being able to continue playing the ad.

Steps to reproduce:
1. Go to https://codepen.io/rafa8626/pen/vVYKav
2. Click on the linear ad example and return to player
3. Click play

Expected behavior:
When the ad is paused, the icon should be 'play', click on play should continue playing the ad.

[2021-07-03 20:39] rafa8626 commented on #252
@draganpetos thanks for reaching out; I'll take a look at it and get back to you as soon as I can. In the meantime, please provide a star to the project to show your support. Thanks!

[2021-07-05 12:47] draganpetos opened #253 "Event listeners on destroy"
Not all event listeners get removed when destroying the player.

Steps to reproduce:

1. Create the player
2. Destroy the player using destroy method
3. Check for event listeners

Expected behavior
Destroy method should remove all event listeners as described in the docs.

![PixelSnap 2021-07-04 at 18 26 33](https://user-images.githubusercontent.com/13521410/124471522-414b7400-dd9d-11eb-9d5c-68313

[2021-07-05 12:56] draganpetos opened #254 "HTML on destroy using mode: fit"
HTML doesn't fully return to its initial state on destroying when using mode: fit, and fit wrapper container 'op-player__fit--wrapper' gets left behind.

Steps to reproduce:

1. create the player w/ mode: 'fit' option
2. run destroy method
3. check the HTML

Expected behavior
Return HTML to its original state on destroy by removing wrapper container.

Calling the init / destroy multiple times:

![

[2021-07-08 14:01] #254 closed

[2021-07-08 14:02] rafa8626 commented on #254
@draganpetos this should be fixed; please download the master branch and test it. Let me know if it all works as expected now. Thanks!

[2021-07-08 14:02] rafa8626 commented on #253
@draganpetos this should be fixed; please download the master branch and test it. Let me know if it all works as expected now. Thanks!

[2021-07-08 14:02] rafa8626 commented on #252
@draganpetos this should be fixed; please download the master branch and test it. Let me know if it all works as expected now. Thanks!

[2021-07-09 18:37] draganpetos commented on #252
Hi @rafa8626, thank you for the updates. The icons update correctly however, we still need to click the play button twice to continue playing the ad.

[2021-07-09 18:38] draganpetos commented on #254
@rafa8626 this works as expected now. Thank you!

[2021-07-09 18:46] draganpetos commented on #253
@rafa8626 tested with the latest script from the master branch and still seeing this issue.

When we instantiate the player, these are the listeners that get added:
![PixelSnap 2021-07-09 at 20 26 08](https://user-images.githubusercontent.com/13521410/125122644-04151800-e0f6-11eb-895e-40178d828416.png)

and these are the ones that get left behind after destroying the player:
![PixelSnap 2021-07-09

[2021-07-09 19:05] rafa8626 commented on #253
@draganpetos thanks for the heads up; do you have the reference of where those events are left. In your first screen I saw the location but in these new ones I can’t see it. That would help me to troubleshoot more quickly this

[2021-07-09 19:06] rafa8626 commented on #252
@draganpetos I’ll check this since in my tests it was working as expected but maybe I missed something

[2021-07-09 19:38] rafa8626 commented on #253
@draganpetos This should be fixed now; please confirm by downloading the master branch

[2021-07-09 19:39] rafa8626 commented on #252
@draganpetos This should be fixed now; please confirm by downloading the master branch

[2021-07-09 19:39] #252 closed

[2021-07-10 08:34] draganpetos commented on #252
Now it works, thanks again!

[2021-07-10 17:58] trampolinstudio opened #255 "Ability to refresh VAST file (ad source) without destroying the player"
Would it be possible to have a method to refresh the ad source without destroying the player?

We are trying to switch zones on an active instance (this means switching the VAST file).

Thank you!

[2021-07-10 19:02] trampolinstudio opened #256 "Mobile video ad click area"
When mobile ad prerolls are played, there is a Learn more button on the top right corner.

Is there a possibility to enable customisation of this button?

Thank you!

[2021-07-15 12:47] #255 closed

[2021-07-15 12:48] rafa8626 commented on #256
@trampolinstudio please download the master branch and add this inside the `ads` configuration:
[code]

[2021-07-15 12:49] rafa8626 commented on #255
@trampolinstudio please download the master branch and use the new method `loadAd` like this:
[code]

[2021-07-16 09:01] trampolinstudio commented on #256
Thanks a lot!

[2021-07-16 09:01] trampolinstudio commented on #255
Thank you!

[2021-07-19 03:25] rafa8626 commented on #253
@draganpetos can you provide me a CodePen to detect all the events not destroyed please? That way I can determine why it’s not happening

[2021-07-26 10:02] Creativ1s commented on #118
Hi, ads are also not playing for me as well on any browser. I'm using a Vue implementation.

[2021-07-26 11:14] rafa8626 commented on #118
@Creativ1s If you have a CodePen where I can see the issue I’d appreciate it

[2021-07-26 12:36] Creativ1s commented on #118
Hi, @rafa8626 I've reused the vue.js code example and added the "ads" object I am using. I've attached a
 Codepen: [https://codepen.io/Creativ1s/pen/zYwpJxR](https://codepen.io/Creativ1s/pen/zYwpJxR)

The behaviour is the same as our codebase as it ignores the file that's in ads.src value.
Your assistance would be greatly appreciated.

[2021-07-27 01:43] rafa8626 commented on #118
@Creativ1s in the CodePen I see that the ad source is an mp3, and it should be an xml source. That’s why it doesn’t work

[2021-07-27 05:30] Creativ1s commented on #118
@rafa8626 Understood but I have also tried m3u8 files and I get the following error.

openplayer.min.js:1 GET https://imasdk.googleapis.com/js/sdkloader/ima3.js net::ERR_CONNECTION_RESET
(anonymous) @ VM287 openplayer.min.js:1
t.loadScript @ VM287 openplayer.min.js:1
e @ VM287 openplayer.min.js:1
value @ VM287 openplayer.min.js:1
value @ VM287 openplayer.min.js:1
mounted @ VM289 pen.js:23
callWith

[2021-07-27 06:20] Creativ1s commented on #118
Also in my example, I've used videos but we are actually using the player with audio (HLS) URLs.

[2021-07-27 11:22] rafa8626 commented on #118
@Creativ1s your confusion is that in the ads configuration part you are setting a source that is not an xml file or string (which is the format for VAST or VPAID). If you change `ads: { src: ` with a sample from https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/tags, you will see that they play just fine. The player needs a VAST/VPAID/VMAP resource to play Ads, since

[2021-07-27 17:49] rafa8626 commented on #253
@draganpetos Please download the master branch and test this again; I integrated a way to successfully remove listeners. Please let me know if it worked for you

[2021-08-03 06:52] ShawnYou1 opened #258 "Load resource when click the Play Button"
Show the play bar but do not load resource, load resource and play when clicking the play button.

It can decrease load request resources because some users do not play the audio resource.

[2021-08-03 07:31] ShawnYou1 commented on #258
use preload="none"

[2021-08-03 07:31] #258 closed

[2021-08-03 11:16] rafa8626 commented on #258
@ShawnYou1 thanks for the heads up; please consider giving the project a star to show your support :)

[2021-08-05 07:00] draganpetos commented on #253
Hi @rafa8626
I just tested with the latest released version and in our case, all of the listeners get removed properly, except for the loadedmetadata event.

![PixelSnap 2021-08-04 at 22 10 17](https://user-images.githubusercontent.com/13521410/128305509-2255d979-43a5-4b41-a383-ea1b0ff57a5e.png)

Thank you so much for this update!

[2021-08-05 07:01] draganpetos commented on #255
This works flawlessly, thank you! 🙌

[2021-08-05 07:18] draganpetos commented on #256
Hi @rafa8626
This feature does not seem to be working. I've tested on our project and on your Codepen, where the label on mobile says 'Learn more' instead of 'Click here'.

I would have another suggestion/feature request, would it be possible to add another option to pass in inline styles to the label (.videoAdUiTopBar)?

In some cases, this would be very useful to be able to control the appearanc

[2021-08-05 11:17] rafa8626 commented on #253
@draganpetos thanks for the heads up; I’ll check this and set the fix in an oncoming release

[2021-08-05 11:17] rafa8626 commented on #255
You are welcome :)

[2021-08-05 11:21] rafa8626 commented on #256
@draganpetos thanks for noticing this; the feature works when you set the source right from the beginning but this CodePen creates the Ad at any moment and something was missing; I’ll check that. In terms of styles, once the custom area is visible, you can tweak CSS as you please within your own CSS file. I’ll keep you posted about it

[2021-08-05 14:29] #253 closed

[2021-08-05 14:30] rafa8626 commented on #253
@draganpetos please download the master brach and test one more time if that event is now gone for good. Let me know if it worked for you. Thanks!

[2021-08-05 14:38] #256 closed

[2021-08-05 14:39] rafa8626 commented on #256
@draganpetos turn out that it works correctly, it had a typo in the CodePen code, and also in the documentation. Once I changed that it worked as expected. So you should be good to use it and tweak styles using CSS with the new layer enabled. Thanks

[2021-08-05 18:32] draganpetos commented on #253
Perfect! Just tested, and all the events get removed after calling destroy. 💪  😎

[2021-08-05 18:35] draganpetos commented on #256
@rafa8626 thanks for the clarification and the update. Everything works as expected, nicely done with the label rendered outside the iframe, meaning we can customize it, which is just what we need!
Thanks a lot!

[2021-08-05 18:57] rafa8626 commented on #256
You are welcome! Glad this worked as expected for you!

[2021-08-05 18:57] rafa8626 commented on #253
@draganpetos great! I may have the release ready tonight then; thanks for testing this!

[2021-08-06 11:34] draganpetos commented on #253
@rafa8626 thank you, for all the new features and on an excellent player! 🙌

[2021-08-06 11:35] rafa8626 commented on #253
@draganpetos you are welcome! If you know more people that can star the project, I’d appreciate it, so the player keeps gaining popularity

[2021-08-12 14:19] ziegenberg opened #260 "Ability to provide own hls.js and not load from jsdelivr cdn"
**Is your feature request related to a problem? Please describe.**

I'd love to use OpenPlayerJS but due to the GDPR, it is necessary for us that all resources are provided locally with the webpage and are not dynamically loaded from a CDN. As long as this requirement is not met, I cannot deploy OpenPlayerJS. Sadly OpenPlayerJS loads hls.js from jsdelivr.net (-> https://cdn.jsdelivr.net/npm/hls.js

[2021-08-12 22:49] rafa8626 commented on #260
@ziegenberg to avoid that you can install the library on your own and that way it won’t use the CDN version to be complaint with GDPR. If you have further questions let me know, and please give a star to the project to show your support.

[2021-08-12 22:49] #260 closed

[2021-08-13 09:08] ziegenberg commented on #260
Ah, that works. I tested it.
Should that info be provided in the documentation?

[2021-08-13 10:25] ziegenberg opened #261 "[Accessibility] - keyboard navigation on the player controls interferes with play/pause"
**Describe the bug**
In Firefox, when navigating to the player controls via `Tab` key (e.g. to focus the mute button) and pressing `Space` to toggle mute, the player automatically switches state from playing to pausing and vice versa. This also applies to the play button.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a player
2. Navigate to the player controls via `Tab` key to focus

[2021-08-13 10:55] ziegenberg opened #262 "Add keyboard shortcuts to operate player"
**Is your feature request related to a problem? Please describe.**
Currently, it's not easily possible to use keyboard controls to interact with the player, except start and stop the video with the `Space` key.

**Describe the solution you'd like**

Implementing keyboard shortcuts similar to the ones available in YouTube would be a nice feature. Using the same key bindings as in YouTube would give

[2021-08-13 11:13] ziegenberg opened #263 "Provide additional option ``visibleWhenStopped`` for controls"
**Is your feature request related to a problem? Please describe.**

Currently, there is the option to have the controls `alwaysVisible` or auto-hide them after a specified time.
When the video is stopped, and the controls are hidden, it can be not easy to see if the video is actually playing or not. This is especially true for live streams, when the video content does not change much or does not c

[2021-08-13 11:45] rafa8626 commented on #260
@ziegenberg yes I’ll include this in the docs for the next release

[2021-08-13 12:00] rafa8626 commented on #263
@ziegenberg thanks for the suggestion; more than anything, I think if the video is stopped (meaning, is waiting for more data or it’s stalled) the bar should be visible by default. This doesn’t need to be a configuration element but a default behavior. If you have a stream I can play with I can fix this

[2021-08-13 12:02] rafa8626 commented on #262
@ziegenberg there are some keyboard behavior already implemented as long as the focus is in the video. I didn’t considered global events since in some cases, a page can have multiple players. So I’ll add this global behaviors only if there’s one instance of the player, does that meet your requirements?

[2021-08-13 12:12] ziegenberg commented on #263
Changing the default, that's even better. I'll see, if I can provide you with a publicly accessible stream. Might take a few days, it's now the weekend :)

[2021-08-13 12:14] rafa8626 commented on #263
@ziegenberg no problem, just let me know when you have it ready. In the meantime, can you give the project a star to show your support please?

[2021-08-13 16:47] ziegenberg commented on #263
-> PM

[2021-08-13 17:19] ziegenberg commented on #262
I didn't find documentation on the keyboard behaviour. And I also tested with the [Firefox Accessibility Inspector](https://developer.mozilla.org/en-US/docs/Tools/Accessibility_inspector) and there were none listed.

I wasn't especially talking about global events, just keyboard control while the player has the focus.

But because you mentioned it, I suggest adding global behaviours only when they

[2021-08-13 19:37] rafa8626 commented on #262
@ziegenberg thanks for the heads up; I’ll check this since it should trigger keyboard events for skipping/rewinding, full screen, play/pause. But I’ll add an option to enable global bindings if needed as well

[2021-08-14 09:47] galipmedia opened #264 "Trouble getting HLS to work"
I am getting the following error... HTTP “Content-Type” of “application/vnd.apple.mpegurl” is not supported.
When trying to use an m3u8 source. I am using the npm package inside of Vue, I needed to manually add the css for some reason but thats fine. I have also imported Hls and it is present when I check the version.

[code]

[2021-08-14 10:03] rafa8626 commented on #264
@galipmedia can you provide a CodePen where this issue is reproduced so I can take a look at it please?

[2021-08-14 10:16] galipmedia commented on #264
Its really hard to reproduce in a codePen as its in a pretty mature project. Is there any other way around, could you DM me on discord bigKnightOut#0207 and I can send you the link?

[2021-08-14 10:19] rafa8626 commented on #264
@galipmedia send me the link via email please. Send it to rafa8626@gmail.com since I don’t use Discord

[2021-08-14 10:37] rafa8626 commented on #264
@galipmedia I had a thought: change the mine type to application/x-mpegURL, since that’s a more generic type for m3u8; let me know if that worked for you

[2021-08-14 10:44] galipmedia commented on #264
I just narrowed down the problem better. I am using a dynamic src in the video element.
[code]
 This is a regular data element in Vue, it gets set after an ajax request but before OpenPlayer is initialised. If I use a static src it works fine. Would setting the source via the openplayer api work? I will try to figure it out.

[2021-08-14 10:46] rafa8626 commented on #264
@galipmedia yes, when dealing with dynamic sources is better to rely on the OP API to set the dynamic source without issues. I’ll add that as part of the updates on the documentation for the next release

[2021-08-14 10:58] galipmedia commented on #264
I tried
[code]
    Now I get the following error...
```Uncaught (in promise) DOMException: The fetching process for the media resource was aborted by the user agent at the user's request.```

[2021-08-14 11:06] rafa8626 commented on #264
@galipmedia what happens if you invert the order of the operations? First you initialize and then set the source?

[2021-08-14 11:08] galipmedia commented on #264
I tried that and I get different errors.
![image](https://user-images.githubusercontent.com/1904800/129444416-2ab971a5-53c9-4042-be52-1944a30a0526.png)

[2021-08-14 11:12] rafa8626 commented on #264
@galipmedia ok let me check this, but at least I’ll need a snippet of the generated HTML to see what’s being generated, and I’ll keep you posted about it

[2021-08-14 11:13] galipmedia commented on #264
I get this error when reversed...
![image](https://user-images.githubusercontent.com/1904800/129444531-ef43d2b1-100a-4b23-8ca0-9fa3c7c14afe.png)

[2021-08-14 11:17] galipmedia commented on #264
Everything looks normal but the <video src is the m3u8 when usually when m3u8 is working it looks like a blob.

[2021-08-14 11:25] rafa8626 commented on #264
Yeah, that means that the source is not set correctly. I’ll need to dig deeper to see what’s going on, because this was working before

[2021-08-14 11:29] galipmedia commented on #264
Just to confirm it doesn't work when setting a hardcoded m3u8 so it doesn't seem to be a reactivity issue. Thanks for looking into it.

[2021-08-14 11:32] galipmedia commented on #264
Using a dynamic mp4 after init works fine.

[2021-08-15 09:31] galipmedia commented on #264
Seems to work if I use this.$player.load() after init and before play. But I wonder if I should be waiting for hls manifest passed before hitting play to be sure?

[2021-08-15 09:39] galipmedia commented on #264
I got it working like this...
[code]

[2021-08-15 10:26] galipmedia commented on #264
I finally got it working like this...
[code]

[2021-08-15 10:27] galipmedia commented on #264
I also have to destroy the player on beforeRouteChange when switching to another video, then re init.

[2021-08-15 10:32] galipmedia commented on #264
However I still get 2 console errors every time.
![image](https://user-images.githubusercontent.com/1904800/129475566-f735c7e6-1ee6-4c94-845a-e7bebe6c39fc.png)
![image](https://user-images.githubusercontent.com/1904800/129475582-5c9bf227-cd0b-4f4e-9bc8-60eaa907ec7b.png)

[2021-08-15 12:21] rafa8626 commented on #264
@galipmedia I agree that the player needs to be destroyed when changing routes (similar to what React would do), but I still see that the way to assign a dynamic source is not the right one, since I had a CodePen that did that and it’s not working now. So there was a change introduced that affected that, but I need to figure out what was it

[2021-08-15 12:23] rafa8626 commented on #264
The second error is related to the Ads, so that one you will need to verify it by checking the content of the ads; could be that the ads content is not ready when you load it, or definitely there’s something malformed in it

[2021-08-16 15:17] rafa8626 commented on #263
@ziegenberg please download the master branch and let me know if the new changes satisfy the requirements for keyboard shortcuts on your end

[2021-08-16 15:18] rafa8626 commented on #262
@ziegenberg please download the master branch and let me know if the new changes satisfy the requirements for keyboard shortcuts on your end

[2021-08-16 15:18] rafa8626 commented on #261
@ziegenberg please download the master branch and let me know if the new changes with keyboard shortcuts fixed this as well

[2021-08-16 15:41] ziegenberg commented on #263
The controls still disappear when the media is not playing.

[2021-08-16 15:53] rafa8626 commented on #263
@ziegenberg I added the display of controls when it’s in a waiting or stalled mode, but I’m not sure if there are more events that need to be considered with hls. Let me check this but if you notice them on top of your head, please let me know

[2021-08-16 15:58] ziegenberg commented on #261
I can still confirm this issue with Firefox. It catches all `Space` key inputs either when the video element has focus or when specific controls have the focus and always toggles play/pause. I'll check with Chrome tomorrow.

[2021-08-16 16:01] ziegenberg commented on #262
I quickly tested those. Works like a charm, thank you very much!
I'll thoroughly test it tomorrow and report afterwards.
Small question: What's the options key to enable global key bindings? Did not find this info in the new documentation.

[2021-08-16 16:02] ziegenberg commented on #262
PS: If you want to test yourself with the provided test stream, there the current master is deployed.

[2021-08-16 16:03] rafa8626 commented on #262
@ziegenberg Sorry I forgot to mention that after doing some research, I didn’t enable the global bindings because it could interfere with other elements. So only if the focus is in the player they will work

[2021-08-16 16:04] ziegenberg commented on #262
No problem, than I won't cover this with the tests tomorrow.

[2021-08-16 16:45] rafa8626 commented on #263
@ziegenberg while checking this on FF, I noticed that it is working for waiting and stalled, but IDK if you need this to work as well for this event logged in HLS:
[code]
If so, let me know, because that may be more an implementation on your side than on the player

[2021-08-16 18:38] #261 closed

[2021-08-16 18:41] rafa8626 commented on #264
@galipmedia please download the master branch and let me know if it works for you now; I'd definitely use something like this for your purposes:
[code]

[2021-08-16 18:41] #264 closed

[2021-08-16 18:43] rafa8626 commented on #261
@ziegenberg please download the master branch and update your URL with this new round of fixes. I tested it myself in Chrome and FF and it worked as expected. Let me know if it worked for you as well

[2021-08-17 11:49] galipmedia commented on #264
I updated to the latest code. Putting init at the end causes the video to not load at all, no errors but the m3u8 is never fetched. Keeping it where it was works but throws the same errors as before in console.

[2021-08-17 12:05] rafa8626 commented on #264
@galipmedia if you can create something that I can see public that would help me because in my tests all worked as expected

[2021-08-17 12:54] galipmedia commented on #264
It might be worth noting that I am using Vue 2. I finally got it working without any errors, by putting the src back into the html <video> tag. I removed this.player.load() and this.player.src = and put init at the end as you suggested. No errors :)

[2021-08-17 16:16] rafa8626 commented on #264
You are welcome!

[2021-08-17 16:19] ziegenberg commented on #263
I checked the current master with an mp4 video and with HLS streaming, both times the controls disappeared when the media paused or even before it started playing. I tested on Fedora 24 and Firefox/Chrome. I'll test on Windows 10 sometime later this evening.

[2021-08-17 16:21] ziegenberg commented on #262
The keyboard shortcuts [listed in the docu](https://github.com/openplayerjs/openplayerjs/blob/master/docs/api.md#keyboard-shortcuts) are working as expected/documented. Very nice work!

[2021-08-17 16:39] ziegenberg commented on #261
I tested on Fedora 34 with Chrome: it works now as expected.
I tested on Fedora 24 with Firefox: it's still broken. Toggling mute (or play) also stops/starts the player

I will test on Windows later this evening and report back with my findings.

[2021-08-17 16:41] rafa8626 commented on #263
@ziegenberg can you provide me a screen recording to see what you are seeing I’d appreciate it

[2021-08-17 20:50] rafa8626 commented on #262
Thanks @ziegenberg! This will go in the next release, probably by the end of this week

[2021-08-17 20:50] #262 closed

[2021-08-18 17:47] rafa8626 commented on #261
@ziegenberg I checked this with OSX in Chrome, FF and Safari and all worked as expected. I don’t have a way to spin a Linux instance currently. There’s one more thing I can do to mitigate this but after that it would be hard to know what’s the issue without the environment where you are experiencing this

[2021-08-18 18:37] rafa8626 commented on #263
@ziegenberg I think I figured out the issue; please download the master branch and confirm this works as expected

[2021-08-18 18:38] rafa8626 commented on #261
@ziegenberg Please download the master branch and confirm this works as expected on your side. I added a stop progration of events that should help in your scenario

[2021-08-21 11:02] mdevang10 opened #266 "VPAID errors events not emitted"
**Describe the bug**
**[ima.admanager.VpaidAdManager] Vpaid Error: Ad blocked** not thrown on "playererror" event.
I am trying to load an VPAID ad on open playe audio Instance.
The above mentioned error is thrown by ima sdk in the console when we use debug=true in the ads option.

**To Reproduce**
Use any VPAID enabled VAST XMLs

**Expected behavior**
**Ad error: AdError 901: An unexpected error o

[2021-08-21 12:19] rafa8626 commented on #266
@nejcsever thanks for reporting this; I’ll research this and keep you posted. Please give the project a star to show your support

[2021-08-21 12:43] mdevang10 commented on #266
Sure :). If you need any assistance do contact me on mdevang10@gmail.com

[2021-08-21 14:03] rafa8626 commented on #263
@ziegenberg is this one solved? I’d like to prepare the release earlier next week and include this one as part of it

[2021-08-21 14:09] ziegenberg commented on #263
I've been out of town the last few days and don't have my laptop with me. I can look at this in the middle of the coming week when I'm back.

[2021-08-21 14:10] rafa8626 commented on #263
No worries! Thanks for the heads up

[2021-08-21 15:36] rafa8626 commented on #266
@mdevang10 if the AdBlock is enabled, it won't even load IMA SDK. I added a check for that. Please download the master branch and let me know if it works for you. As far as I know, there's no documentation to grab those log events, since they are not logged in IMA as errors. I'll continue looking but this should work as well

[2021-08-21 18:22] mdevang10 commented on #266
Hello, yes if the ad blocker is on then the network call to ima ask will time out agreed. But this error is due to the VPAID settings of ads manager. The url I am trying to use, requires secure VPAID mode and since the default settings is insecure, hence the error is thrown on adsManager Ad error event which is currently not being captured. I will provide you with the sample URL, that might help y

[2021-08-23 04:27] mdevang10 commented on #266
Hello @rafa8626,
The below test cases are failing while running test suite/build on latest master branch.
![image](https://user-images.githubusercontent.com/23494961/130389240-f10d1efe-b636-4e94-8f45-98cbe5eb2fb6.png)

Also the documentation for the same can be found at below links. The error is thrown by IMA sdk and while using videojs and videojs-ima libraries the same is passed onto player's er

[2021-08-23 04:54] Xanll opened #267 "Better Documentation for React/Next.js users."
There's no documentation for adding ads or customisation for React/Next.js.

[2021-08-23 09:17] mdevang10 commented on #266
Hi @rafa8626, Just an update
The Adblocker detection is working and the error is thrown on onErr function. I have tested on your latest master branch.
Also the 2 test cases are still failing, and that VPAID issue still persists.

[2021-08-23 10:00] rafa8626 commented on #267
@Xanll if you could expand in terms of what do you want to see documented about those topics, that will help me to improve the documentation

[2021-08-23 10:01] rafa8626 commented on #267
Also, could you give the project a star to show your support please?

[2021-08-23 12:57] Xanll commented on #267
@rafa8626 Documentation about writing custom buttons like downloading a video and advertisements.

[2021-08-23 18:28] mdevang10 commented on #266
Hey @rafa8626 any updates on the issue?

[2021-08-23 18:29] rafa8626 commented on #266
@mdevang10 thanks for the hints you provided! Please download the master branch and let me know if it captures the event as you expect; it's hard for me to test this without a sample that has the issue, but I think I found out the reason why it wasn't being dispatched

[2021-08-23 18:35] mdevang10 commented on #266
Hi @rafa8626, thanks for continuous support. Ill surely test this first thing tomorrow and post that you can release the tag. I hope this also fixes the 2 failed test suites 😊

[2021-08-23 18:38] rafa8626 commented on #266
@mdevang10 the 2 failing test cases are because I’m trying to expand the test cases but I haven’t found how to make them work; nothing is wrong with the player right now

[2021-08-24 05:53] mdevang10 commented on #266
Hi @rafa8626 , this is working as expected :) I can see the below error thrown on onErr function.
AdError 901: An unexpected error occurred within the VPAID creative. Refer to the inner error for more info. Caused by: Error: Error: Ad blocked

Thank you so much for quick resolution. You are doing a great job.

[2021-08-24 05:55] mdevang10 commented on #266
Hey @rafa8626  can you please release the tag so that I can used it as a package.

[2021-08-24 10:43] rafa8626 commented on #266
@mdevang10 yes I’ll release the next version this week; I need to have the resolution on one more issue and that will be it. I’ll let you know once it’s drployed

[2021-08-24 12:52] mdevang10 commented on #266
Hey @rafa8626 I found one more bug post the latest changes which is on destroy method.

PFB Screenshoot for the error and the error message.
Error occurring when calling player.destroy() using latest master branch.

ERR MSG -
[code]

![image](https://user-images.githubusercontent.com/23494961/130619294-4c776048-3515-465c-bbe1-18e20b9ee6a1.png)

Let me know once this is resolved so that I can retes

[2021-08-24 13:42] rafa8626 commented on #266
@mdevang10 thanks for finding this; I'll fix it in a bit and let you know

[2021-08-24 13:53] #266 closed

[2021-08-24 13:54] rafa8626 commented on #266
@mdevang10 it should be fixed now; please download the master branch and let me know if it worked as expected on your side. Thanks again for all your help!

[2021-08-24 14:08] mdevang10 commented on #266
Hey @rafa8626
Everything is working now :). Please release the tag and let me know

[2021-08-24 14:47] mdevang10 commented on #266
Just wanted to ask @rafa8626  by when you will releasing the tag for the same ? so that I can plan my timelines accordingly.

[2021-08-24 14:48] rafa8626 commented on #266
@mdevang10 I estimate that by Friday this week I’ll release the next version

[2021-08-25 01:28] JustinWebDev opened #268 "Openplayer won't play on SeaMonkey browser"
**Describe the bug**
Openplayer won't play on SeaMonkey browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.openplayerjs.com/embed.html?file=https%3A%2F%2Fcommondatastorage.googleapis.com%2Fgtv-videos-bucket%2Fsample%2FTearsOfSteel.mp4&type=video
2. Click on play icon - observe the player action button changes to pause but the video never starts

Console shows:
Specifie

[2021-08-25 02:27] rafa8626 commented on #268
@JustinWebDev thanks, I’ll get it fixed soon

[2021-08-25 02:36] rafa8626 commented on #268
@JustinWebDev please test again and let me know if it’s fixed

[2021-09-02 17:40] gabrieletassoni opened #271 "Volume control: can I override it's functionality?"
In a web page, I have one main video player and some (hidden) audio players, I added a custom control on the main player to play the audio players keeping them in sync with the main Video player. Now I would like to have a control on the main video player to adjust volume and mute for the currently playing hidden audio player, ideally it would be the same volume control which openplayerjs shows on

[2021-09-02 17:43] rafa8626 commented on #271
@gabrieletassoni I think what you are looking for is driven by events; so if you wanna dispatch something custom, you could use the `volumechange` event for it. For example:
[code]

[2021-09-02 20:32] gabrieletassoni commented on #271
Hi, thanks for the answer, I'll investigate this ruote tomorrow, but at a first glance it looks that this solution does keep the two volumes somewhat chained, not allowing to have a muted video player while one of the audio players is set to the volume level set using the gauge on the videoplayer, for example, from an initial thinkering, it looks like the following flow will be impossibile (since

[2021-09-10 20:26] gabrieletassoni commented on #271
I resolved by not using the player volume, setting it to 100% and using the computer/smartphone physical buttons. ^_^

[2021-09-10 20:26] #271 closed

[2021-09-10 20:36] gabrieletassoni opened #276 "Cannot catch player.play() exceptions"
If I try to play the player before user interaction with the page it, rightfully, throws an exception I can see in the console, but I'm not able to catch the exception, I tried:

[code]

but the exception is thrown anyway and pollutes the console, but the "Catched!" string is not dumped in the console.

The exception is this:

[code]

I would like to be able to catch it to show a proper alert.

Th

[2021-09-11 00:06] rafa8626 commented on #276
@gabrieletassoni thanks for logging this one. I’ll check what needs to be added there; do you have a CodePen that I can use for testing purposes?

[2021-09-11 14:43] rafa8626 commented on #276
@gabrieletassoni please check the `unit-tests` branch in the project and test if that solves your issue; this branch will be merged soon, but I wanted to integrate that test as part of the suite I'm working on progressively to ensure proper behaviors. Let me know if it worked for you, and thanks again for reporting this.

[2021-09-11 15:58] gabrieletassoni commented on #276
Thank you very much @rafa8626 I can test it only on monday CET, but I'll surely do and report back.

[2021-09-11 15:59] rafa8626 commented on #276
Thank you! I'll wait for your feedback

[2021-09-11 16:10] rafa8626 commented on #276
I found out an error when bundling. I’ll check it and let you know when it’s fixed

[2021-09-12 21:37] rafa8626 commented on #276
@gabrieletassoni it should work now as expected. Test the `unit-tests` branch and let me know. If this works as expected, I'll try to add a couple more unit tests during this week and release on Friday, while I continue working on adding more and more unit tests

[2021-09-13 06:55] gabrieletassoni commented on #276
Ok, it works! I can catch the exception on play.

[2021-09-13 06:56] gabrieletassoni commented on #276
Thank you very much

[2021-09-13 07:10] gabrieletassoni commented on #276
Need to reopen this since also on the pause() is  throwning an uncatchable exception, when the video pauses (reached the end of the playtime), and no interaction has occurred on the page, I can see the following error:

[code]

The stranger thing, to me, is also that it looks like pause() is threated like play(), in the exception the error comes in this event manager, at the pause() call:

[code]

[2021-09-13 07:32] gabrieletassoni opened #278 "Interact with openplayerJS DOM"
Hi, I'm finding an unexepcted behaviour while trying to interact with openplayerjs manged DOM elements, by using javascript.
It looks like, if I add a class using Javascript to an element, the modification is not persisted on the rendering but only on an in-memory representation of the element.
I try to explain better, at this gist a self contianed (except for images, sorry) code (https://gist.git

[2021-09-13 10:06] rafa8626 commented on #276
@gabrieletassoni I’ll take a look at this; it’s odd because I didn’t modify the pause at all

[2021-09-13 10:07] rafa8626 commented on #278
@gabrieletassoni thanks for reporting this; I’ll use your gist to solve both issues

[2021-09-13 21:42] rafa8626 commented on #278
@gabrieletassoni Interesting, because I could see the element turning orange when I used my local machine and pretty much copied/pasted your gist. Instead of using the library as you had, I just used the paths for styles and the plugin and worked. See attached screenshot. Is that what you expected?
<img width="1015" alt="Screen Shot 2021-09-13 at 5 41 32 PM" src="https://user-images.githubusercont

[2021-09-13 22:08] rafa8626 commented on #276
@gabrieletassoni I tested this with my unit-tests branch and your gist, and I couldn't reproduce this issue. The pause worked as expected.

[2021-09-14 07:23] gabrieletassoni commented on #278
Yes, if you didn't clicked anywhere (just page load, it "selects" the first language during , that's the intended behaviour... I try to reset Chrome to factory defaults, maybe it lies there :thinking:  so strange

[2021-09-14 07:24] gabrieletassoni commented on #276
uhm! As stated in the other ticket, I try to reset chrome, maybe it's that... It feels strange anyhow.

[2021-09-14 12:37] rafa8626 commented on #278
@gabrieletassoni have you tried setting that up using the init callback in the button configuration? That option is intended to set things right from the beginning before any interaction from the user

[2021-09-14 13:57] gabrieletassoni commented on #278
I completely missed the `init: (player) => {},` callback, sorry, tomorrow i test this path

[2021-09-15 01:11] rafa8626 commented on #276
@gabrieletassoni if you have a CodePen where it can be reproduced I can take a look at it, but so far I haven’t been able to reproduce. Or try to reproduce the bug in FF

[2021-09-15 09:20] gabrieletassoni commented on #276
Resetting Chrome made the problem disappear, ok, the Promise chain for play() works as expected.
Thank you

[2021-09-15 09:20] #276 closed

[2021-09-15 14:38] gabrieletassoni commented on #278
@rafa8626 using the init callback (after placing the `player.init()` down below all the `player.addControl(..)` instructions, did the trick.

[code]

Thank you very much

[2021-09-15 14:38] #278 closed

[2021-09-15 15:31] rafa8626 commented on #278
@gabrieletassoni glad to hear it :) I'll be releasing this new version maybe by the end of this week

[2021-09-18 08:50] galipmedia opened #279 "Controls don't disappear on mobile version"
**Is your feature request related to a problem? Please describe.**
On mobile the controls do not auto disappear after video playing. Given how small the screen is the controls cover much of the video. (only tested on Android native and chrome browser)

**Describe the solution you'd like**
Auto close for mobile just as on desktop.

**Describe alternatives you've considered**
I have considered using

[2021-09-18 14:07] rafa8626 commented on #279
@galipmedia thanks for reporting this; I’ll have this fix next week; also, do you have a CodePen where I can see the issue with the poster please? I haven’t seen that before

[2021-09-18 14:36] galipmedia commented on #279
Thanks! I don't have a pen but I could send you a link by email. I tried to debug it using chrome USB debugging with my phone, the weird thing is that makes it work. And even caches the image for the next time, but mobile on its own it doesn't work.

[2021-09-18 14:51] rafa8626 commented on #279
@galipmedia yeah send me the link via email and we’ll see

[2021-09-20 13:29] timstoute opened #280 "player.play() not starting audio player on load"
Hi, thanks for your excellent work here. I'm hoping to use the api to start and stop the player, as my goal is to implement a playlist that will progress through a series of sources (with vast audio ads in between). I assume I'm doing something wrong, but I cannot script the player start event. Here's my audio only player  codepen (it includes an ad call too): https://codepen.io/timstoute/pen/jOwY

[2021-09-20 15:08] rafa8626 commented on #280
@timstoute thanks for using the project! I’ll take a look at it during the day and let you know my thoughts. If there’s anything wrong I’ll make sure it’s fixed

[2021-09-20 23:36] rafa8626 commented on #280
@timstoute the proper way to use it is like this:
[code]
however, I see an issue doing with Ads;  if you remove the Ads, it will work. I'll try to pin point what's the issue using your code and let you know

[2021-09-21 14:47] timstoute commented on #280
thanks @rafa8626, I've altered [the codepen](https://codepen.io/timstoute/pen/jOwYeJr) as you suggested, but it's still not playing on page load, even with the ad removed

`player.init();
player.src='https://file-examples-com.github.io/uploads/2017/11/file_example_MP3_700KB.mp3';
player.load();
setTimeout(() => {
      console.log("waited, now calling play()");
      player.play()
    }, 1000);
`

[2021-09-21 18:03] rafa8626 commented on #280
@timstoute try this one: https://codepen.io/rafa8626/pen/PojaKyN

Keep in mind that the size of the window matters for auto play policies, as stated here: https://developer.chrome.com/blog/autoplay/

So in a small screen you won't be able to autoplay no matter what you do

[2021-09-21 18:08] rafa8626 commented on #280
I need to take a look, because the behavior is not consistent even in larger screens. So let me take a look and I'll let you know my findings

[2021-09-22 11:25] rafa8626 commented on #280
@timstoute interesting enough, this is not an issue with video. Audio, after playing with it, it doesn't allow to be autoplayed, until the user interacts with the page in any capacity. I saw it working on my CodePen because I had used the play button in prior tests. So what I'd recommend here is to have a layer that says Start Playing, or something like that, that will dispatch the initial play; a

[2021-09-22 23:14] rafa8626 commented on #279
@galipmedia please download the `unit-tests` branch and let me know if it works for you now. I'll be merging this branch into master soon but I wanna have more unit tests in place before I do it, since I have found some bugs that are now fixed in this new branch

[2021-09-22 23:53] rafa8626 commented on #280
@timstoute sorry for a lot of back and forth. Given the dynamic nature of your example, I'd suggest you to use the following snippet and use my `unit-tests` branch to test it:
[code]
I tested this on desktop and it autoplayed, at least in my local environment. On mobile (even emulator), it is still requiring an action from the user to autoplay. The only way to make it autoplay across the board (in

[2021-09-23 11:21] timstoute commented on #280
@rafa8626 thank for you for this, very helpful - great insight on the autoplay / browser requiring user interaction before the audio can play issue.  I'll test with your branch and let you know how it goes with ads ( I'm using the npm package in an Ionic / Angular project but will install the branch).

[2021-09-23 17:01] rafa8626 commented on #280
@timstoute yes, please keep me posted because it's not often that I have the opportunity to hear from people using ads with audio only. And if that's the case, I need to know if there are features missing for it.

[2021-09-25 12:40] galipmedia commented on #279
@rafa8626 thanks! That certainly fixed the menu hiding issue in usb mobile debugging mode in Chrome. If you can merge this branch I can test live on mobile.

[2021-09-25 13:53] galipmedia commented on #279
Except now on desktop if it is the first time the page is loaded and therefore you cannot autoplay a video, the play button and menu disappear after a brief timeout and scrolling over the video doesn't reveal the play button nor does the bottom controls show up. It is not obvious to the user that they must click on the thumbnail to start the video.

[2021-09-25 14:46] rafa8626 commented on #279
So what you say is that, if the video is paused by default, or video hasn’t started, controls remain visible always, correct?

[2021-09-25 15:57] rafa8626 commented on #279
Send me a link or CodePen where I can see this, because I fixed this in a previous issue and the player never hides the controls when it hasn’t started playing

[2021-09-25 16:11] galipmedia commented on #279
Hi Rafa can I please ask you to quickly send me your email again, I didn't save it last time.

[2021-09-25 16:16] galipmedia commented on #279
What I am saying is only in the unit-tests branch that I tested by copying the contents of dist into my node-modules the controls and play button disappear on desktop after a few seconds, even if the video hasn't started playing yet.

[2021-09-25 16:25] rafa8626 commented on #279
rafa8626@gmail.com

[2021-09-25 16:25] rafa8626 commented on #279
That's odd because I tested my latest bundled code from that branch, and I can't see the controls disappear there, unless the video starts playing

[2021-09-25 16:36] galipmedia commented on #279
Email sent thanks :)

[2021-09-25 16:40] rafa8626 commented on #279
You are welcome! I'll take a look and keep you posted in the next few days

[2021-09-27 01:28] rafa8626 commented on #279
@galipmedia this issue should be fixed now in the unit-tests branch; please let me know so I can close this and prepare a release for the end of this week

[2021-09-28 12:21] galipmedia commented on #279
Everything is working as expected. Thanks again.

[2021-09-28 12:44] rafa8626 commented on #280
@timstoute any updates on your testing with the unit-tests branch? I'd recommend you to download it again and test since I fixed a couple of things in the bundle

[2021-09-28 15:00] timstoute commented on #280
hi @rafa8626 - I'm still on it, but was pulled away from this project temporarily.  In my package.json file I have` "openplayerjs": "github:openplayerjs/openplayerjs#unit-tests"` installed, but will refresh this based on your comment above. I have been seeing success with the player and inclusion of ads with my ad tag, but the ads seem to play intermittently - in other words they seem to work abou

[2021-09-28 15:15] rafa8626 commented on #280
ok sounds good; keep me posted

[2021-09-29 13:40] rafa8626 commented on #280
@timstoute I'm gonna release the changes I have so far, and I'm gonna take a good look at the intermittent issues you reported in the `v3.0.0` branch I just created. I need to refactor some stuff to make it consistent but it may take some time to get it all working. So for now, all unit-tests changes are now in master and I'll release them today

[2021-09-30 15:37] timstoute commented on #280
@rafa8626 update:
1. I'm using OpenPlayerJS 2.9.0
2. perhaps we should start a new issue since the original issue here seems resolved - i.e. audio requires interaction before the api play() method will work
3. I'm still having intermittent success with ad plays; for example in my tests I see:
player.isAd() returns true
adInstance.started()  returns  true
but the player stalls and nothing plays / n

[2021-09-30 20:17] timstoute opened #283 "unable to load and play audio ads via api"
**Describe the bug**
I'm unable to load and play ads via the OpenPlayerJS API in my audio only Angular 6 / Node project.

**To Reproduce**
See CodePen: https://codepen.io/timstoute/pen/NWgoqaQ?editors=1111

When line 49 is NOT commented out (//), and lines 52 - 72 ARE commented out, the player loads, initialises and plays when the Play button is pressed.

When line 49 is commented and lines 52-72

[2021-09-30 20:30] #280 closed

[2021-10-03 15:21] rafa8626 commented on #283
@timstoute please download the master branch and let me know if it works as expected. I'm in the middle of adding unit tests for this case to prove that will work consistently, but in the meantime, if you could do me that favor I'd appreciate it

[2021-10-03 15:21] #283 closed

[2021-10-03 18:34] timstoute commented on #283
Hi @rafa8626, with my local dev project I've verified I have the master branch installed `openplayerjs@2.9.0 (git+ssh://git@github.com/openplayerjs/openplayerjs.git#c109bb9a1a1f610fab7ecc3edf895c6d1c21cf35)` but I'm still not getting the ad to play.

When I comment out the line `this.player.loadAd('https://pubads.g...')` the player.src DOES play as expected.

When I include the line `this.player.l

[2021-10-03 18:37] rafa8626 commented on #283
@timstoute Try this:
[code]
You don't need to execute a play for Ads individually, since it is already considered in the flow for `play()`

[2021-10-03 19:38] timstoute commented on #283
Ok, thanks - I tried this but still no luck, and no errors thrown either. Notes:

1) If I comment out the this.player.loadAd() line the main src file plays properly.

2) If I leave the loadAd() in, grab a reference to the ad instance, and check the play status it shows as true:
[code]

[2021-10-03 19:40] rafa8626 commented on #283
Can you update your CodePen with the newest build from master so I can see what’s the issue? Because it passed the tests on my side

[2021-10-03 19:53] rafa8626 commented on #283
You know? I missed to tell you: use `init` as a Promise. So your whole example should use this:

[code]
That's why your example may not be working. But this is the sample I used on my side and worked perfectly fine

[2021-10-03 20:19] timstoute commented on #283
ok, thanks again for your help with this :)

Here's a code pen that I think illustrates the issue I'm still seeing:
https://codepen.io/timstoute/pen/NWgoqaQ?editors=1111

Notes:
I've commented out the .play() since that fails unless the user has interacted with the document as we previously established.
If I comment out the  this.player.loadAd() line the player.src does play properly.
I'm importin

[2021-10-04 11:27] rafa8626 commented on #283
@timstoute I checked the CodePen you sent me and I see a problem: you imported OpenPlayerJS from the CDN and then you attempted to import it from GitHub. And the import from GitHub is not being used at all, since it's being coded as plain text, and CodePen complains about it. If you wanna test it again, use the **promises** branch and try it again, but make sure you are not importing the library m

[2021-10-04 12:24] rafa8626 commented on #283
@timstoute Check this CodePen (it's using the promises branch) where I prove that the workflow I gave you works: https://codepen.io/rafa8626/pen/gORJWVz

[2021-10-04 14:38] timstoute commented on #283
yes, sorry, I mistakenly forgot to remove the 2.9.0 OpenPlayerJS import; I've corrected this now. Thank you for your example codepen, I see the sequence does work in that case.

I can only assume there is something about the Angular environment that is causing my codepen to still not play pre-roll ads; the codepen shows "AdError 1205: The browser prevented playback initiated without user interacti

[2021-10-04 14:43] rafa8626 commented on #283
@timstoute yeah, honestly, I don't know since I don't have experience with Angular. I just forked your CodePen and I see the same on mine: https://codepen.io/rafa8626/pen/RwgmpBN?editors=0010, but I really don't know how to bypass this in Angular, since in regular mode it worked as expected

[2021-10-04 14:49] rafa8626 commented on #283
I think in your case, it is very recommendable to create a div that says Start the first time the user gets to the page, and then, once the user clicks in it, remove the DIV and do the whole workflow, since at that point, the user would have interacted with the page.

[2021-10-04 18:23] rafa8626 opened #284 "Self-document code"
Right now, the code contains multiple comments (which is good, in essence), but in order to be more concise and to apply better programming patterns, we should strive to have self-documented code, and only add comments where logic or other pieces are involved, to have the full idea.

What this means is:

1. Remove comments
2. Rename variables
3. Rewrite certain comments (including references to UR

[2021-10-04 20:49] rafa8626 commented on #283
@timstoute let me know if you approve my fix so I can prepare the release in the next few days, so I can focus on 3.0.0

[2021-10-04 22:07] timstoute commented on #283
hi @rafa8626 - I approve the fix :) as the codepen you sent clearly show it working in a non Angular environment. I think the issue I'm seeing is specific to the way the ads load in the Angular;  wrt to Angular, I think I'm getting close to a breakthrough using techniques to attach the player and load ads into the DOM following the initial app init and DOM load / render. I need more time, but aim

[2021-10-05 10:44] rafa8626 commented on #283
@timstoute thanks for the thumbs up; I’ll release this today, just FYI

[2021-10-05 15:02] rafa8626 opened #285 "Update packages"
Currently, many packages used in the project are really outdated.

Update as many as possible, and in the process, update Webpack configuration to generate the same bundles we are generating

[2021-10-05 15:13] #285 closed

[2021-10-05 15:16] rafa8626 opened #286 "Add husky, lintstaged and prettier packages"
As part of the continuous work, it is recommended to install and setup these packages to ensure consistent code before pushing it to the pipelines

[2021-10-05 15:17] rafa8626 opened #287 "Protect labels from XSS attacks"
Currently, the labels configuration is wide open, and it allows the user to enter any value.

Prevent XSS attacks by using Node.textContent or similar

[2021-10-05 17:49] #286 closed

[2021-10-11 09:31] rafa8626 opened #289 "Refactor Ads code"
Refactor code so it is cleaner and easier to understand; right now, there are so many pieces involved and trying to debug it it’s complicated

[2021-10-11 09:54] rafa8626 opened #290 "Add project section at README"
Showcase different projects that use OpenPlayerJS and, if possible, give a link to show them

[2021-10-11 09:55] rafa8626 opened #291 "Revamp official website"
Website needs a fresh look, better animations and graphics, and fix some markup in the UI.

Add a new page for examples, all taken from README

[2021-10-11 09:58] rafa8626 opened #292 "Unit test coverage starting at 70%"
Add more unit tests in project to raise its coverage to at least 70%; currently, it’s 44%.

Include unit tests for new Ads user cases: multiple ads, and dynamically load more than 1 ad

[2021-10-11 10:01] rafa8626 opened #293 "Add new section for best practices when using OpenPlayerJS"
Add a new section in the documentation where it is indicated best practices in how to use OpenPlayerJS based on common user cases; this will include an explanation of why it needs to be done that way, and code to show case it (HTML or combination of HTML/JS)

[2021-10-11 10:03] rafa8626 opened #294 "Add more dash code samples"
Add more code samples with it, and document this.instance as a way to get custom player and execute custom methods related to it.

Also, check if more settings are allowed in Dash, and adapt code for it

[2021-10-13 02:07] virienko opened #295 "Ads Does't wokr VAST"
Good afternoon. Thanks for a great project.
I am very interested in using it in my projects. I looked at examples:
[https://codepen.io/rafa8626/pen/wvvxbMN](url)  - It doesn't work at all :(
[https://codepen.io/rafa8626/pen/gORJWVz](url) -This will only work if you allow the browser to autoplay video and audio

How do I prevent autoplay? How to play ads only after clicking the play button ?
How to

[2021-10-13 02:17] rafa8626 commented on #295
@virienko thanks for considering using the project! I’ll take a look and let you know what’s the issue. Do you happen to have a logo and demo URL you can share with me where you showcase the player? If so, I’d like to include it in a section I’ll be putting for version 3

[2021-10-13 02:21] rafa8626 commented on #295
And also, can I ask you to give the project a star to show your support, please?

[2021-10-13 02:35] rafa8626 commented on #295
@virienko sure let me see what I can do and I’ll share it with as soon as I can

[2021-10-13 02:46] virienko commented on #295
For example this does not work (I took video and ad from your example ):
`<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.js"></script>
</head>
<body>
<video class="op-player__media" id="video" controls playsinline>
    <source src="http:

[2021-10-13 02:48] virienko commented on #295
For example this does not work (I took video and ad from your example ):
`<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.js"></script>
</head>
<body>

<video class="op-player__media" id="video" controls playsinline>
    <source src="http

[2021-10-13 02:55] virienko commented on #295
This is where I do it in my HTML

https://codepen.io/virienko/pen/bGrdwMK - This does not work

https://codepen.io/virienko/pen/MWvwjXd - This will be blocked by any browser due to autoplay

[2021-10-13 09:13] rafa8626 commented on #295
@virienko the second one has to have the muted attribute to autoplay as expected due to browser policies; I’ll check why the first one is not working

[2021-10-13 13:55] rafa8626 commented on #295
@virienko the fix has been released now; you should be able to get the Ads working in both ways, but for the autoplay one, I'd suggest to use `muted` as attribute to make it happen correctly

[2021-10-13 17:45] rafa8626 commented on #295
@virienko I tested the CodePen and it works; make sure you don't have cache in your browser. Also, I realized that the CDN may have not refreshed the cache on its side, so setting the URL from https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.js to https://cdn.jsdelivr.net/npm/openplayerjs@2.9.2/dist/openplayer.min.js helped to fix the issue

[2021-10-13 17:45] #295 closed

[2021-10-13 19:08] timstoute opened #296 "unable to play second ad and second audio file"
Codepen:

https://codepen.io/timstoute/pen/porJLvN?editors=1111

Expected behavior:

Pressing the "Play" button in the Codepen plays i) an ad and then ii) the audio file src. <-- this works properly

Then, pressing the "Play Next" button should load and play a second ad, followed by a second audio file <-- but this does not happen. No errors are shown. Console logging indicates that the next ad is

[2021-10-21 12:39] rafa8626 commented on #296
Sounds good; I’m just checking one last thing and I’ll release this later today (if this last thing is sorted out)

[2021-10-21 13:45] #296 closed, assigned to nobody

[2021-10-22 02:22] rafa8626 commented on #296
@timstoute by the way, do you have a logo and demo URL for your project that you can share with me? I’d love to include it as part of the projects section I’m working on

[2021-11-02 14:32] #290 closed

[2021-11-09 05:53] pooryak opened #300 "Title prop for skipping ads"
Could you please provide a prop for changing the skip ads text?

[2021-11-09 11:58] rafa8626 commented on #300
@pooryak since OpenPlayerJS uses IMA SDK to play ads, there’s no way to change that label since it violates their policies and could interfere with translations.

Can you provide a star to this project to show your support to it, please?

[2021-11-09 12:01] pooryak commented on #300
sure,
thanks, I want to translate skip add to Persian so there isn't any solution for that?

[2021-11-09 12:10] rafa8626 commented on #300
If you use the ads element in the configuration, you can set the language for the ads and that should do it. See https://github.com/openplayerjs/openplayerjs/blob/master/docs/usage.md#javascript for more info

[2021-11-09 12:12] #300 closed

[2021-11-13 07:16] pooryak opened #301 "Error playing video on mobile"
when ads is active, the mobile version of player doesn't work and show this error in console :
GET blob:http://localhost:3000/1107d630-fdff-431d-84e0-e19c37cf062b net::ERR_FILE_NOT_FOUND
warning: [  0.014s] [ima.common.GptCompanionAdService] GPT companion ads service not available.
The Cross-Origin-Opener-Policy header has been ignored, because the URL's origin was untrustworthy. It was defined ei

[2021-11-14 23:03] rafa8626 commented on #301
@pooryak I wasn't able to reproduce this issue. Check this screenshot from an iPhone, using a very basic cofniguration:

[code]
<img width="324" alt="Screen Shot 2021-11-14 at 6 01 06 PM" src="https://user-images.githubusercontent.com/910829/141702226-5903bda5-0339-40e6-a006-6dbc5bcd54ea.png">

[2021-11-15 07:16] pooryak commented on #301
Thanks for answering,
Please this one
https://codesandbox.io/s/openplayerjs-nextjs-forked-eeoix?file=/pages/index.js&resolutionWidth=320&resolutionHeight=675

[2021-11-17 06:39] pooryak commented on #301
The problem is ad
whenever there is an ad( no matter which kind), on mobile after showing the ad it shows blob error and timeout for the main video
but if I comment ad it works as expected.

[2021-11-17 11:42] rafa8626 commented on #301
@pooryak sorry for the delay; I’ll try to check this as soon as I can and get back to you. It seems odd that is just on mobile but I have to dig deeper

[2021-11-17 11:45] pooryak commented on #301
thanks, I checked it with another ad and player(plyr) it happened again
in firefox I saw this Security Error: Content at http://localhost:3000/post/202111161/%D8%AA%D8%B3%D8%AA may not load data from blob:http://localhost:3000/297f0ec5-faf5-46fc-87e7-6f028e1a6f94.
I see this error on desktop too but it work on desktop anyway

[2021-11-17 11:48] rafa8626 commented on #301
So what you are saying is that this is not necessarily related to this player?

[2021-11-17 11:59] pooryak commented on #301
Yes I checked another player I have this one again

[2021-11-17 19:50] #293 closed

[2021-11-20 17:22] rafa8626 commented on #301
@pooryak the only thing I can say is that, because localhost is using http and your Ad is https, there's a conflict and it is being reported as a security error. Both protocols must match

[2021-11-21 05:51] #301 closed

[2021-11-30 12:09] galipmedia opened #302 "localstorage for volume control"
I am wondering if sound levels could be stored in a local storage item so that when a new player is initiated it plays at the level previously set by the user? I am quite certain I could implement this on my side but it could be a nice feature to have. I have seen it before as an optional setting in other player apis.

[2021-12-03 19:53] #294 closed

[2021-12-03 19:57] rafa8626 commented on #302
Hi @galipmedia; thanks for suggesting this. Currently I’m focused on getting 3.0 completed, but after that I’ll see if it’s a good candidate to be included in the package

[2021-12-06 17:49] Bosutike opened #303 "HLS Firefox Android"
**Describe the bug**
Simply, the video does not play.

**To Reproduce**
You can go to "https://nazarewaves.com/en/webcams" and check both cameras. Both do not work on Firefox Android.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information):**
 - Device: Android
 - Browser Firefox
 - Version 94.1.2

**Additional context

[2021-12-07 12:40] rafa8626 commented on #303
@Bosutike thanks for reporting this; I’ll check this out. For now, you can use the forceNative as false and see if that works

[2021-12-07 17:43] Bosutike commented on #303
@rafa8626 Thanks for your answer. I have added that config on cam 2 here: https://nazarewaves.com/en/webcams. Still doesn't work. :S

[2021-12-08 02:24] rafa8626 commented on #303
@Bosutike checking your code, I noticed that you set the source as a MP4 MIME type but you are using an HLS resource (which should be a application/x-mpegURL). See if that works

[2021-12-08 02:24] rafa8626 commented on #303
Also, could you give a star to the repo to show your support to this project, please?

[2021-12-08 08:41] Bosutike commented on #303
Thank you for your answer. I have changed the MIME type but it still does not work

[2021-12-08 11:46] rafa8626 commented on #303
Ok I’ll take a deeper look using an emulator because I don’t own an Android device. I’ll keep you posted about it

[2021-12-08 12:00] Triden opened #305 "start ads"
Hello, could you tell me what I am doing wrong? You have no information anywhere on how to start the player.

const player = new OpenPlayerJS('video1', {
    ads: {
        src: 'https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/single_ad_samples&ciu_szs=300x250&impl=s&gdfp_req=1&env=vp&output=vast&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ct%3

[2021-12-08 12:12] Bosutike commented on #303
We have done some more testing and we found out that the problem is not with the player.
We have a security implementation that validates a jwt inside a cookie, every time a video resquest is made. When we deactivate this verification, the player works. Although, It's weird that it is only breaking on Firefox Android when active.
We are working on further investigation. If you have any ideas about

[2021-12-08 12:12] #303 closed

[2021-12-08 12:21] rafa8626 commented on #303
Thanks for the heads up; although, I’ve never faced an issue like that and I can’t offer any insights about it.

[2021-12-08 13:59] rafa8626 commented on #305
@Triden you are only showing me the JS part, but I don’t see any video tag with a valid source to play the video. Maybe that’s what you are missing

[2021-12-08 13:59] rafa8626 commented on #305
Could you give the project a star to show your support please?

[2021-12-09 16:27] utilsites opened #306 "Videos without sound doubt"
I would like to know if openplayerjs has a developer option to disable sound (for videos that don't have sound), and using ForceNative = 1.
It was not clear for me after reading the documentation.
This would be good in android for example, because if a person is listening music it stops when playing the video, but maybe if it was configured with no sound, it would not stop the music.
Thanks.

[2021-12-09 16:33] utilsites opened #307 "Video Banner and logo"
Two Questions:
1 - It's possible to add a banner image to the video zone before pressing play?
(In some devices it appears a frame of the current video but others don't show, maybe has to do with forceNative flag)

2 - It's possible to add a small logo image to the top left corner of the video? (always present)

Couldn't found information about this on documentation.
Thanks

[2021-12-09 20:39] rafa8626 commented on #306
@utilsites you can use startVolume as zero to mute programmatically video; it will be also helpful to set the video tag’s muted attributed. I hope that helps you; otherwise, let me know.

Please give the project a star to show your support to this player. Thanks!

[2021-12-09 20:42] rafa8626 commented on #307
@utilsites you can add a poster image by using the poster attribute in the video tag, and use preload attribute as none in the tag as well. That solves the first point.

In regards of the second point, currently is not possible in a straight way; you can add a custom control that has an icon and, you either assign a redirection when you click it, or just pass an empty function so nothing happens.

[2021-12-09 22:34] utilsites commented on #306
Thanks for explanation. Star done.

[2021-12-09 22:34] #306 closed

[2021-12-10 22:42] naniking opened #308 "vast xml url is not working"
**Describe the bug**
hosted ast files are not working the vast.xml file which is working in fluide player but not playing in this

bellow is my xml link that working in fluidplayer library
http://commitment4u.com/Api/admin/vast2.xml

[2021-12-10 23:17] rafa8626 commented on #308
@naniking thanks for using this library. I think your problem is that the protocol is http instead of https. You can try that; otherwise, I’ll dig deeper on this.

Can you also give a star to the project to show your support, please?

[2021-12-10 23:30] naniking commented on #308
I tried that one also but no use i tried with https also but not working

Is there any other example to sift 2 automaticalli without using that
cotrole icon on the player

On Sat, 11 Dec 2021 at 4:47 AM, Rafael Miranda ***@***.***>
wrote:

[2021-12-10 23:33] naniking commented on #308
https://codepen.io/rafa8626/pen/oNXmEza

Regarding above mentioned code is it possible to atomate with time based
triggering without clicking that button?

From first player to second player and second player to first player

On Sat, 11 Dec 2021 at 5:00 AM, mr streamtech solutions <
***@***.***> wrote:

[2021-12-11 01:21] rafa8626 commented on #308
@naniking you can dispatch the change using timeupdate or ended events (depending on what you are trying to achieve), but that would be my suggestion. I’ll check the issue with Ads and let you know my findings

[2021-12-11 01:22] naniking commented on #308
Thanks a lot.

On Sat, 11 Dec 2021 at 6:51 AM, Rafael Miranda ***@***.***>
wrote:

[2021-12-14 03:00] rafa8626 commented on #308
@naniking if you could set the Ads to be https would be better, because I see that as the first error in your Ads, so in order to dig deeper I need to have both the XML and the video inside of the XML’s URLs both using https

[2021-12-25 02:06] rafa8626 commented on #305
Closing this for inactivity; if you wish to reopen this issue, provide the necessary information. Thanks for using OpenPlayerJS

[2021-12-25 02:06] #305 closed

[2021-12-25 02:08] rafa8626 commented on #308
Closing this for inactivity; if you wish to reopen this issue, provide the necessary information. Thanks for using OpenPlayerJS

[2021-12-25 02:08] #308 closed

[2022-01-13 13:07] naniking commented on #308
@rafa8626 i already tried with https usr also but not working

[2022-01-13 13:59] rafa8626 commented on #308
If you can share the link of the https resource I could take a look and let you know my findings

[2022-01-25 18:53] timstoute opened #318 "post-roll, not a bug, just a question"
This is not a bug, just a question.

Apologies if I missed this in the docs, but how can I set an ad to play post-roll, after the video / audio media completes?

[2022-01-26 01:26] rafa8626 commented on #318
Hi @timstoute all that is driven by the XML configuration; an example of that is at https://pubads.g.doubleclick.net/gampad/ads?sz=640x480&iu=/124319096/external/ad_rule_samples&ciu_szs=300x250&ad_rule=1&impl=s&gdfp_req=1&env=vp&output=vmap&unviewed_position_start=1&cust_params=deployment%3Ddevsite%26sample_ar%3Dpostonly&cmsid=496&vid=short_onecue&correlator=

That one is configured to be a postro

[2022-01-26 01:26] #318 closed

[2022-02-06 18:11] gabrieletassoni opened #324 "Volume bar not shown on android devices"
**Describe the bug**
AS per attachement: during lives on android smartphones, the volume control is not present. This way, if the video starts muted, there's no way, during live broadcasts to raise it.
![Screenshot_20220206-190542](https://user-images.githubusercontent.com/11076471/152694982-d9a05e96-256f-4119-895c-d04986c7e51d.png)

[2022-02-06 18:16] gabrieletassoni opened #325 "On Smart Devices (Android, iOS), showing the controls bar always pauses the playback"
Using PCs, with a mouse, the hover effect which raises the controls bar is ok. On Smartphones, in which there is no mouse, but anything is made by tapping the screen directly, tapping on the video to show the controls bar, just to raise volume or go fullscreen, makes the playback pause, quite annoying.
Is there a way to have a first tap on the player, which just raises the controls bar and won't p

[2022-02-06 18:53] gabrieletassoni commented on #324
Is not only during lives, also normal streaming the volume does not appear.
On PCs the volume is shown.
--
![Screenshot_20220206-194559](https://user-images.githubusercontent.com/11076471/152696763-0bbfd23d-8896-4262-b52a-082eafe88ed6.png)

[2022-02-06 19:08] rafa8626 commented on #324
@gabrieletassoni the volume control is never shown on mobile devices since it favors the native phone controls, in both Android and iOS. This is something various players follow for small devices

[2022-02-06 21:05] gabrieletassoni commented on #324
Ah, ok, understood, is there a way to force it be shown? A customer asks for it to be visible anyway. Maybe a css hack, just need to be pointed in the right direction. Otherwise, thanks anyway, always a great player 🙂

[2022-02-06 21:32] gabrieletassoni commented on #324
There's just something I'm missing in the usage, not having volume control on mobile devices, misses the part when a video is set as autoplay, in that case the video must be muted, otherwise autoplay won't work if no interaction occurred on the page. In that case, there's no way to at least unmute it and the user experience would be of just video and no audio, am I missing something?

Thank again

[2022-02-06 22:35] rafa8626 commented on #324
It should have displayed a Tap here to unmute button, but if it’s needed I can create a configuration element to show it on mobile

[2022-02-06 22:37] rafa8626 commented on #325
I could make it work that way; it may require some refinement in the layer that shows the play/pause button, but I think it’s feasible

[2022-02-07 08:29] gabrieletassoni commented on #324
Unfortunately there's no "Tap Here" button, if you need to test: https://www.alchemic.it/prova.html there is a streaming iframe which presents the problem on Android devices

[2022-02-07 12:36] rafa8626 commented on #324
I forgot to mention that the Tap here button only appears when you attempt to autoplay the video; otherwise, you won’t see it.

[2022-02-07 16:42] gabrieletassoni commented on #324
Understood, so in my case (this specific installation didn't wanted the autoplay at all), the muted video would have remained muted anyway, maybe a configuration override which always shows the unmute, in case of muted audio, would have been a lifesaver in this case.

[2022-02-07 20:31] rafa8626 commented on #324
@gabrieletassoni is there a way you can test this in the `v3.0.0` branch and let me know if it works? I've been trying to complete most of the unit tests there, but if I have a user that starts using it, I can launch the version 3 and continue working on more unit tests from that point forward. If so, please let me know so I can schedule having this and the other enhancement ready for you in that

[2022-02-08 07:55] rafa8626 commented on #325
@gabrieletassoni I’ve included this fix in the v3.0.0 branch; can you test it and let me know if it worked for you?

[2022-02-08 07:56] rafa8626 commented on #324
@gabrieletassoni To do this use the new useNativeVolume option as false in the v3.0.0 branch; let me know if it works for you

[2022-02-08 08:17] gabrieletassoni commented on #324
Yes, I can test it in the next hours, I'll let you know, thank you very much for the effort

[2022-02-08 08:18] gabrieletassoni commented on #325
Yes, I would test it in the next hours, I'll let you know, many thanks ^_^

[2022-02-11 11:31] virienko opened #326 "second ad not playing"
Hello. I already wrote to you before, I see that the problem with the second advertisement has not been resolved. When I enter something like this src: ["https://telecola-sport.com/linear/rafinad.xml", "https://telecola-sport.com/linear/rafinad.xml"]
The following happens: the first video starts, when the first ad ends, the player freezes and that's it.
I am using native XML VAST without google ad

[2022-02-11 12:07] rafa8626 commented on #326
@virienko could you post the demo site please? I need to see how are you trying to implement it and see how can I fix it

[2022-02-11 12:13] rafa8626 commented on #325
@gabrieletassoni I wanted to check if the branch worked for you; if so, I’ll prepare a release with it, but let me know

[2022-02-11 15:08] gabrieletassoni commented on #324
Hi, sorry for late reply, today I managed to test.
this is the definition I use for the player:

[code]

But I still cannot see a way to control the volume (or just the mute unmute) on a android device:

![Screenshot_20220211-160447](https://user-images.githubusercontent.com/11076471/153616217-fb1456e2-43d5-4523-814a-9c55e1239124.png)

[2022-02-11 15:12] rafa8626 commented on #324
@gabrieletassoni I may have forgotten to create the bundle for this; I’ll check that and get back to yoh

[2022-02-11 18:09] rafa8626 commented on #324
@gabrieletassoni my bad, I changed the name to something more intuitive: `useDeviceVolume`. Please test using that property

[2022-02-11 22:34] rafa8626 commented on #325
@gabrieletassoni I’ll check that because that doesn’t sound like a behavior that was there before

[2022-02-12 14:11] gabrieletassoni commented on #324
Tnx, on Monday I'll check it, now I don't have my PC with me.

[2022-02-12 14:18] gabrieletassoni commented on #325
Yes, I do it on Monday, since i don't have my dev PC with me.
By now I just can share a link to the previous behaviour: it doesn't have the tap to show controls behaviour, but I can clearly see that the controls appear above the video even when in Fullscreen: https://www.alchemic.it/vod.html
On Monday I'll post a link to another instance, with openplayerjs V3, in which the controls won't show when

[2022-02-15 18:44] rafa8626 commented on #325
@gabrieletassoni can you post the link using the v3.0.0 branch to see the issue you described there, please?

[2022-02-15 19:27] gabrieletassoni commented on #325
Hi, here it is: https://alchemic.it/vod-test.html
As soon as I tap, using my android 10 smartphone, on the fullscreen button and the player goes fullscreen, the controls are lost and tapping again on the video won't bring them up again, until I manage to exit fullscreen mode (usually by making the android back button show up and use it).

[2022-02-15 21:08] rafa8626 commented on #325
@gabrieletassoni I’ll need to figure out how to test Android since I don’t own a device or have an emulator for it

[2022-02-16 07:34] gabrieletassoni commented on #325
Some prebuilt images for Virtualbox or vmware can be found here: https://www.osboxes.org/android-x86/
I tested the https://alchemic.it/vod-test.html link on a iOS device, and there it brings up the controls for the video, but in a strange way, they are not the openplayerjs (red-colored) controls they look like native controls.
Moreover, on my iPad it disappeared the fix for which the first tap on

[2022-02-16 12:31] rafa8626 commented on #325
@gabrieletassoni in an iPhone that’s expected behavior because it uses the built-in player when you go fullscreen. So, the only issue is with iPad then?

[2022-02-16 12:32] rafa8626 commented on #324
Closing this and to be released in 3.0 version

[2022-02-16 12:32] #324 closed

[2022-02-16 13:17] rafa8626 commented on #326
@virienko can you test the `v3.0.0` branch and let me know if it worked for you, please?

[2022-02-16 14:24] virienko commented on #326
I didn't quite understand what I should do. In my example, I am using the latest version of the player via CDN. Please clarify and I will check. Thank you.

[2022-02-16 14:25] rafa8626 commented on #326
@virienko download the dist folder from the v3.0.0 branch and rather than using the openplayer.min.js file from the CDN, use the one from that folder

[2022-02-16 14:44] virienko commented on #326
Yes, it's work!!I am very grateful for the help!!

[2022-02-16 14:45] rafa8626 commented on #326
Excellent! This fix will go to the CDN once I deploy that branch. Hopefully by next week this will happen. Thanks for testing it!

[2022-02-16 14:45] #326 closed

[2022-02-16 14:46] rafa8626 commented on #326
Do you have a project URL with a logo that you could share to include it in my showcase list?

[2022-02-16 14:54] virienko commented on #326
The project is still in progress. I can finish it, install your player and contact you. Provide a link to the project with a logo. This will happen in about 2 weeks.
Where can I write to you so that you understand that it's me? Thanks again

[2022-02-16 14:58] rafa8626 commented on #326
Thanks, I appreciate it

[2022-02-16 15:05] rafa8626 commented on #325
@gabrieletassoni I fixed the issue with iPad; please check it and let me know if it worked for you

[2022-02-16 16:17] #284 closed

[2022-02-17 09:51] gabrieletassoni commented on #325
Hi, I'll check for the ipad behaviour, but here I recorded a comparison on android for the other problem (fullscreen without controls), as you can see from attached video, the version 2 of openplayerjs, while fullscreen, shows the controls by tapping the screen, with v3, this behaviour is no more there.

Thanks again ^_^

https://user-images.githubusercontent.com/11076471/154450069-dbbc7a3f-8534-4

[2022-02-17 14:35] rafa8626 commented on #325
@gabrieletassoni I'll check this; it's weird since I didn't change anything in regards of that behavior with the fullscreen in the new branch

[2022-02-17 14:42] rafa8626 commented on #325
@gabrieletassoni I think I got it, although I still don't understand how that worked in 2.0 but not in 3.0. Please download the new files under the `dist` folder in the `v3.0.0` branch and let me know if it worked for you as expected

[2022-02-17 15:17] rafa8626 commented on #325
@gabrieletassoni I may need to revert this fix, because it an iPhone, it doesn't do what it is supposed to. I'll continue investigating

[2022-02-18 02:56] rafa8626 commented on #325
@gabrieletassoni I got it; there was a small mismatch between what should have been the proper target to go fullscreen what caused this issue. It should be good now; just download the dist folder from the v3.0.0 branch and test them once more. It should be good for all devices now

[2022-02-18 02:59] rafa8626 opened #330 "Decouple media classes"
This will allow the user to use only the media types that he requires, standalone unit testing of each media type and reduction of footprint. Currently is loading all the "native" types.

[2022-02-18 12:50] gabrieletassoni commented on #325
Yes, it works all as expected

[2022-02-18 13:04] rafa8626 commented on #325
Thanks for testing this; I’ll deploy this fix next week

[2022-02-24 13:28] komato3huk opened #335 "VAST Yandex AD SDK"
I ask you to add the ability to use the VAST stream from Yandex
https://yandex.ru/dev/video-sdk/doc/dg/concepts/integration.html

[2022-02-25 02:58] rafa8626 commented on #335
@komato3huk this SDK is only supported by native iOS and Android; there’s no JavaScript SDK as far as I’ve seen, so there’s no way to integrate it

[2022-02-25 19:35] #335 closed

[2022-02-26 14:03] Rubioli commented on #165
Hello @rafa8626

Any chance you could let me know how to enable this?

[2022-02-26 15:29] rafa8626 commented on #165
@Rubioli do you have a CodePen to reproduce this issue?

[2022-02-26 18:40] Rubioli commented on #165
Thanks for your reply @rafa8626

Yes, please find it here: https://codepen.io/rubioli/pen/QWOVJjZ

Even though both players are `muted` and `autoplay` they don't play and as you already mentioned default behavior is to let one play, and if one is playing the other one will be paused. but I need to be able to play both at the same time and with ads.

Appreciate any help to solve my issue!

[2022-02-27 00:32] rafa8626 commented on #165
@Rubioli can you add to both players’ configuration the `pauseOthers` as false, and see if that helps?

[2022-03-02 14:04] Rubioli opened #336 "VAST doesn't work on mobile (both OS) (very buggy)"
Hello. Once again, great player!

For some strange reasons, only on mobil, VAST ads has been stop working. It works sometimes but buggy as over 80% time it doesn't play and gives the follwing.

`The Cross-Origin-Opener-Policy header has been ignored, because the URL's origin was untrustworthy. It was defined either in the final response or a redirect. Please deliver the response using the HTTPS pr

[2022-03-03 02:25] rafa8626 commented on #336
@Rubioli could you share a CodePen where I can see the issue, please? I’ve seen this before and the main reason is because of CORS and because of the media specified in the Ad XML is not in https protocol

[2022-03-03 10:44] Rubioli commented on #336
Thanks @rafa8626 I can't share with you the exact ad URL as it special link which I can't share public :/ But the add URL is: `https://syndication.realsrv.com/splash.php?idzone=[ZONEID]` and I can also show you the XML content:

[code]

Also, this is happening in mobile mainly :/

[2022-03-07 10:34] komato3huk opened #337 "Blocking google ads service in Russia"
Good afternoon. Is it possible to switch from google ima to another library?

[2022-03-07 11:43] rafa8626 commented on #337
Hi @komato3huk currently no; the player is only relying on IMA to render ads

[2022-03-07 11:45] komato3huk commented on #337
Bad news =(

[2022-03-07 11:47] rafa8626 commented on #337
I’m working on version 3 and I’ll explore the possibility of using IMA and potentially another service but I’m still defining how can I do thaf. I’m sorry I couldn’t help you on this

[2022-03-07 12:33] komato3huk commented on #337
Is it possible to use the local version? IMA

[2022-03-07 13:41] komato3huk commented on #337
sdkPath:
And remove in ima3_debug.js
(function() {
    if (!db(function(a) {
      return a.match(J().location.href)
    })) {
      var a = zc();
      if (null == Sa(a, function(a) {
        return db(function(c) {
          return c.match(a.src)
        })
      })) throw Error("IMA SDK is either not loaded from a google domain or is not a supported version.");
    }
  })();

[2022-03-07 19:51] #337 closed

[2022-03-12 17:52] rafa8626 commented on #336
@Rubioli sorry for my late response; if you find that any of the tags listed here: https://developers.google.com/interactive-media-ads/docs/sdks/html5/client-side/tags, are buggy on mobile, then it is the player's issue, but if not, it's something related to your Ad configuration. I tested some of those tags on mobile and all of them worked as expected.

[2022-03-29 14:06] utilsites opened #338 "Video player not working on iOS 15.3+"
**Describe the bug**
The video player stopped to work on iPhone Safari from iOS version 15.3+.
We use as video source a .m3u8 playlist with .ts files and they are served correctly on the network, and no error is shown on javascript safari console (connected using macOS), and the video player does not work (only black screen appear).
Using latest openplayerjs version, also tried with older one and

[2022-03-29 16:13] timstoute opened #339 "Question: using api how can I seek"
Using the api, I would like the change / set the progress of the media file (just as the 0 -9 keyboard keys will seek to between 0% to 90% of the media). How can I do this?

[2022-03-29 23:04] rafa8626 commented on #338
@utilsites could you provide a CodePen where you illustrate this issue so I can check what’s going on please?

[2022-03-29 23:44] utilsites commented on #338
Please check the web cam 1 here for a live test:
https://nazarewaves.com/en/webcams#headercam1

The iframe has a token in url valid for 3 min.

The problem started from iOS 15.3 at least when we noticed, I think iOS
15.0 or 15.1 worked fine and we didn't change anything, so the problem has
to due with iOS updates.

We connected the iphone iOS 15.3 to macOS to check safari console logs, but
no rela

[2022-03-30 00:59] rafa8626 commented on #338
@utilsites I’ll check it tomorrow; thanks for setting it up: yes, it may be related to the latest iOS version because I haven’t changed anything related to media sources

[2022-03-30 01:05] rafa8626 commented on #339
@timstoute you can use a player instance and then retrieve the media element and set the currentTime. So, knowing the duration, I’d do a calculation to know the corresponding percentage and then set it. So, if you key is 1, then duration * 0.1 is the value you will set with playerInstance.getMedia().currentTime.

I hope I explained this in the proper way; if not, let me know.

[2022-03-31 03:52] #336 closed

[2022-04-01 09:22] utilsites commented on #338
Hi @rafa8626, do you have any news?
Thanks

[2022-04-01 13:00] rafa8626 commented on #338
One thing is advised comes from hls.js

Keep in mind that if the intention is to support HLS on multiple platforms, beyond those compatible with HLS.js, the HLS streams need to strictly follow the specifications of RFC8216, especially if apps, smart TVs, and set-top boxes are to be supported.

[2022-04-02 21:20] timstoute commented on #339
@rafa8626 - thanks - that worked; here's a codepen: https://codepen.io/timstoute/pen/PoEORQV

[2022-04-02 21:32] timstoute opened #342 "api playlist"
I'm hoping to pass a playlist object to the player and that the player will progress sequentially though the playlist without further code intervention.

I've made a codepen here to illustrate what I'm doing, and seeing. The player inits, loads, and plays the 1st audio track it is passed, but does not proceed to play the second audio track.

https://codepen.io/timstoute/pen/WNdXJrw

I'm assigning

[2022-04-03 06:07] rafa8626 commented on #339
Glad to know it worked!

[2022-04-03 06:07] #339 closed

[2022-04-03 06:13] rafa8626 commented on #342
@timstoute the player doesn’t work like that: you have to code that on your own. You can pass multiple sources but that means that you have options to see which one will be played successfully first. What you can do is to dispatch an ended event to set the next source in your list and attempt to autoplay it

[2022-04-03 13:50] timstoute commented on #342
ok, thanks, understood

[2022-04-03 18:07] #342 closed

[2022-04-03 18:26] rafa8626 commented on #338
@utilsites there's definitely something wrong with your media. I left it for a little bit and I got this error from the phone. My advise is to check the RFC8216 specs and see if your streams are really complaint, because if it failed in 2 different players, it's a clear indication that either the server or the stream are the problem
<img width="664" alt="Screen Shot 2022-04-03 at 2 21 59 PM" src="

[2022-04-25 21:05] #338 closed

[2022-04-25 21:40] rafa8626 commented on #338
@utilsites thanks for the update

[2022-05-11 06:50] xel23 opened #346 "Ability to disable skipping/rewinding"
It would be great to add ability to disable skipping/rewinding a video. I think the most convenient place for that is `progress` configuration
[code]

[2022-05-12 02:01] rafa8626 commented on #346
@xel23 I’ll add this in the next release. Just been busy with other projects. Thanks for the recommendation

[2022-05-12 02:04] rafa8626 commented on #346
@xel23 just to be clear: disabling means avoid clicking on the progress bar and avoid using the keyboard to do that, correct?

[2022-05-12 04:53] xel23 commented on #346
Yes. Prevent user from moving progress bar

[2022-06-01 14:07] rafa8626 commented on #346
@xel23 this has been just released in the 2.11.0 version under the flags allowRewind and allowSkip. I hope that this helps you. Thanks for your suggestions!

[2022-07-25 07:38] jpike88 opened #353 "Ability to set watermark"
Would be nice to be able to set a watermark on the video element (cover the whole thing, or have a logo in a corner)

[2022-07-26 02:52] rafa8626 commented on #353
@jpike88 thanks for the suggestion; do you have an example of this to see how this could affect the controls interaction, or similar? This may end up being a separate plug-in

[2022-08-16 08:43] johnsmith10000 opened #354 "One audio music in 2 players (OpenPlayerJS), how?"
I'm sorry, I speak a little English.

I would like playing 1 audio file with 2 player in my website. First player in top and the second player in bottom.

How to?

[code]

I want different player designs, but the file is the same and the playerbar too.

[2022-08-18 12:27] rafa8626 commented on #354
@johnsmith10000 thanks for reaching out; if you want to change colors on the player, you can just add a `<styles>` tag after the main CSS styles for the player and customize it, based on the ID you assigned to the player. For example:
[code]

Also, if you want to customize the player in terms of positions of elements and such, combine what I just mentioned above with the approach indicated in this

[2022-08-18 12:27] #354 closed

[2022-08-18 20:54] matranovakifanyuvo opened #356 "The sound is a little delayed, when the hidden (second) player displayed"
Hello,

Please see this: [codepen.io](https://codepen.io/matranovakifanyuvo/pen/JjLwqKv)

1. Play.
2. Scroll down.

The footer player displayed, it works, but I have a little problem: the sound is a little delayed/jumped. Can you solve my problem?

Thanks.

[2022-08-18 21:24] matranovakifanyuvo opened #357 "Non-pausing playback (page navigation)"
Hello,

Please see this:

[code]

It works, but when I step to the other page, there will be a pause in playback. Is there a solution for this?

[2022-08-18 22:59] JustinWebDev commented on #354
For future readers, I think the tag is "style" (not plural).

[2022-08-18 23:33] rafa8626 commented on #354
My bad, I didn’t notice about that typo

[2022-08-18 23:56] rafa8626 commented on #356
@matranovakifanyuvo thanks for reaching out; I do think that your problem may be solved if you just use 1 player rather than 2 and, when scrolling, you apply a new class to a player wrapper to move its position. Let me know if that makes sense, since doing things with the playing event can create these types of issues

[2022-08-18 23:56] rafa8626 commented on #356
@matranovakifanyuvo thanks for reaching out; I do think that your problem may be solved if you just use 1 player rather than 2 and, when scrolling, you apply a new class to a player wrapper to move its position. Let me know if that makes sense, since doing things with the playing event can create these types of issues.

Also, can you give the project a star to show your support to it, please?

[2022-08-19 10:30] matranovakifanyuvo commented on #356
Starred. Thank you for your quick reply. "if you just use 1 player rather than 2 and, when scrolling, you apply a new class to a player wrapper to move its position" - can you give an example of this?

[2022-08-19 21:51] rafa8626 commented on #356
Check this CodePen: https://codepen.io/rafa8626/pen/xxWMXYz

[2022-08-19 21:51] #356 closed

[2022-08-20 12:41] rafa8626 commented on #357
@matranovakifanyuvo I think this is the way to go to solve your problem: https://stackoverflow.com/a/61117928

Let me know if it works :)

[2022-08-20 12:41] #357 closed

[2022-08-22 19:06] matranovakifanyuvo opened #358 "AddControl (<div> instead of <button>)"
Hello,

Please see this:

[code]

It works, very nice, but this code only create `<button>` element. Is this changeable? I want to use a `<div>` instead of a `<button>` element.

My dream:

[code]

😇

[2022-08-22 23:15] rafa8626 commented on #358
@matranovakifanyuvo currently there’s no way to change it but I’ll add it as an enhancement for the next version

[2022-08-23 07:50] matranovakifanyuvo opened #359 "How to change the red progress and volume bar colors?"
Hello,

<img src="https://i.imgur.com/CE70FwV.png">

How to change the red colors? Progress and volume bars.

[2022-08-23 11:12] rafa8626 commented on #359
@matranovakifanyuvo you have to override these styles’ color by using a style tag after the player’s style sheet:

`.op-controls .op-controls__progress--played` and `.op-controls .op-controls__volume--display`

Currently, both have a `f00` value for color

[2022-08-23 11:12] #359 closed

[2022-08-23 13:32] matranovakifanyuvo opened #360 "AddControl change"
Hello,

I use this:

[code]

I know change the 'Titleee':

[code]

... but how to change the click? I would like:

[code]

[2022-08-23 23:30] JustinWebDev opened #361 "Documentation issues"
**Describe the bug**
various documentation-related issues

1) Need to clarify what "levels" are, wherever it is mentioned.  It took me a while to figure out this is a media quality level.  (Oddly, I had to look in the controls config details to learn this, where it is the _only_ place it is mentioned.)  See [API](https://github.com/openplayerjs/openplayerjs/blob/master/docs/api.md)and [Usage](http

[2022-08-24 01:37] pinPH opened #362 "MySQL / ERROR 1064 (42000)"

[2022-08-24 01:40] #362 closed

[2022-08-24 02:01] rafa8626 commented on #360
@matranovakifanyuvo I’m not sure if I’m understanding your question, but based on the example you posted to change the button text, the click callback should have a event parameter, and you can use it to access the button element. For example,

[code]

Try this and let me know if it worked like that, or if I understood correctly your question.

[2022-08-24 02:05] rafa8626 commented on #361
@JustinWebDev thanks for your feedback on this; I’ll make some updates in the documentation to make the levels more clear on what they are and how to use them.

I tested the YouTube video on my phone and worked properly. Did you test it under a specific browser/device?

The NPM tag is one from a different project, and I can’t seem to obtain it without that typo 😝 I’ll try to update it in the next

[2022-08-24 06:49] matranovakifanyuvo commented on #360
Thanks, but I'm sorry, I worded it wrong. My English is not the best. What I mean:

[code]

[2022-08-24 12:40] rafa8626 commented on #360
What I would recommend is to have a separate variable with an initial value, so when you click the xyz button you toggle it and that variable can be used inside the control’s click callback to execute different operations:

[code]
Let me know if that works for you

[2022-08-24 21:59] JustinWebDev commented on #361
This is what I see on my Windows desktop using Edge:
![image](https://user-images.githubusercontent.com/40804543/186530712-7469d07b-a0e1-4b11-94e2-a8ed980aadfb.png)

If you poke the OpenPlayerJS button on the video image, nothing happens.  I you poke the play control button, it toggles to pause but the video does not play.

[2022-08-24 23:44] rafa8626 commented on #361
Ok I’ll check this on Edge since in Chrome and Safari this works for me

[2022-08-27 11:13] afkcodes opened #363 "Is it possible to use without the Player default UI"
**Describe the bug**
I am trying to use the player without the UI that player offers. I created an audio tag and  i am setting a source array to the player
but when i make a load call the player throws an error . I am using next js.

**Expected behavior**
Able to play without the default UI with player functions like play,pause,progress and other related APIs

**Screenshots**
![Screenshot 2022-08-

[2022-08-27 11:19] rafa8626 commented on #363
@afkcodes thanks for reaching out; I’ve never had a case where you wanted to just use the functionality without the UI. I haven’t ever tested the player without the UI elements so I could see why issues may arise. This could be an improvement in the future release, so if you have a CodePen where I can see exactly what you tried to do, I’d consider to check it and plan it for a future release.
Than

[2022-08-27 11:27] afkcodes commented on #363
sure, i will add a codesandbox, the reason i want the player without the UI is because that will allow me to have my own player design however i want and call the player APIs from anywhere in the entire application. I am currently using the combination of soundmanager2 and hls js that allows me to do the same. This library is far more advanced and this allows me to do the same i would be replacing

[2022-08-27 11:37] afkcodes commented on #363
Here is a minimal reproduction sandbox: https://codesandbox.io/s/dreamy-gwen-r84i8z

Kudos to you @rafa8626 and other contributors for the amazing work on this, i would also love to contribute to on the new website overhaul, i saw that issue please let me know if i can.
I have starred the repo, how could i miss that. hope this feature comes soon.
Here is my current solution (soundmanager2 + hls js

[2022-08-27 12:06] rafa8626 commented on #363
@afkcodes thanks for starting the project; I’ll be checking your sample and once I have the website in a more mature state, I’ll let you know 😁I’ll keep you posted on any progress about this

[2022-08-27 14:22] rafa8626 commented on #363
@afkcodes please download the master branch and test this again; I have a fix for your problem: turns out I did have support for what you needed but I wasn't supporting your specific user case with no source at all when starting. Please check it and let me know so I can release it as a fix

[2022-08-27 17:17] afkcodes commented on #363
@rafa8626 sure will check this and report, thanks you are amazing.

[2022-08-27 17:35] afkcodes commented on #363
@rafa8626 Yes the fix works but i have to test it more, at the initial impression what i see is wherever i am declaring the audio tag that whole element is getting removed from the dom tree, don't know whats the issue, will create a minimal reprodcution for this. I see load and play methods working fine but destroy still throws the error.

Also is there anyway to get methods for the state of the p

[2022-08-27 17:49] rafa8626 commented on #363
@afkcodes I'll check what's the issue with destroy() when you post the CodePen because I tried to replicate it without success; in order to get access to the events you want, you can do
[code]
In terms of the DOM getting removed, I'm not sure why, since nothing in my code removes DOM, only if it's a video under a specific mode to present it, but other than that, it shouldn't remove anything

[2022-08-27 18:04] afkcodes commented on #363
yes i looked into the docs and now playing with the events that openplayerjs has to offer the dom was getting removed because i was passing the wrong source type to the src. that is fine now. i was trying to create a repro but was not able to on codesandbox will create a repo and share it with you.

one more query is there a way to stop player and clear the source and add new one. currently when i

[2022-08-27 18:50] rafa8626 commented on #363
@afkcodes by just setting the source should do it without adding extra elements. Something like this should work:
[code]
You don't always need to set the type; the player is smart enough to detect it, but sometimes you can force the MIME type. Let me know if that worked

[2022-08-27 20:37] afkcodes commented on #363
got it i will try this

[2022-08-27 20:38] rafa8626 commented on #361
@JustinWebDev this seems to be a unique issue for Edge due to Privacy policies in the browser; YouTube sets trackers and those are blocked by default in newer versions of Edge. This is something I have to investigate more and see if there's any solutions on code that I can implement, since I depend on YouTube API for this. I have addressed the rest of the items you listed here, so feel free to che

[2022-08-27 20:39] #360 closed

[2022-08-28 11:29] rafa8626 commented on #363
@afkcodes thats great that you were able to integrate the player! In terms of the getMedia() issue, that’s because you haven’t set a media source yet, so you are truly starting without media and that’s expected.

I will check the destroy method today; and if the only method you are trying to expose is stop I can add it.

In terms of the audio, it is weird because the player is not muting anything

[2022-08-28 11:30] rafa8626 commented on #358
@matranovakifanyuvo this week I’ll push a change where you can use an `addElement` rather than `addControl`; that will allow you to customize the player even more. I hope that helps you :)

[2022-08-28 11:32] rafa8626 commented on #353
@jpike88 after reevaluating this, I decided to include a new method that will allow you to set a more generic element into the player. This week I’ll release that new method with a CodePen that allows you to set a watermark to test this.

Thanks for your suggestion, and please give the project a star to show your support

[2022-08-28 14:44] afkcodes commented on #363
@rafa8626  I am not muting the audio not i am doing an autoplay the  url you can see the behaviour and check it on mobile as well on your side.
here is the latest Preview URL with OpenPlayerJS: https://radio-india-git-feature-openplayer-js-afkcodes.vercel.app/

and about the getMedia() should it give me the media details once i play some audio ? or else i will not be able to set sound and other me

[2022-08-28 14:58] rafa8626 commented on #363
It should but to be safe if you can to reproduce everything you are trying to achieve in a CodePen will help me a lot, since at least I can manipulate things easier there

[2022-08-28 15:01] rafa8626 commented on #363
BTW, I can hear the audio just fine when I attempt to play it. I’m using iOS if that matters

[2022-08-28 15:04] afkcodes commented on #363
here is the github repo for the openplayer js integration: https://github.com/afkcodes/radio_india/tree/feature/openplayer-js

you can run this on local and see the issue being seen

[2022-08-28 15:06] afkcodes commented on #363
tested on iOS too, seems working fine the issue seems to happen only on Android

[2022-08-28 15:09] rafa8626 commented on #363
Interesting; I’ll need an emulator to check that since I don’t have Android devices with me; do you have a SauceLab or Browserstack account to troubleshoot this? Also, I see some issues with the way you did things. I’ll put some comments on your project based so you can correct them

[2022-08-28 15:20] afkcodes commented on #363
@rafa8626 sorry i dont have an browserstack account.
and thanks for the comments i will check them and update accordingly.

[2022-08-28 18:31] afkcodes commented on #363
The observation that i have is it only happens with hls audios in android device. @rafa8626
This: https://radio-india.vercel.app
is using hls js but it doesnt have that issue all works fine and the same logic i have tried to implement with openPlayerJS

[2022-08-28 18:34] rafa8626 commented on #363
@afkcodes gotcha; maybe it has to do with the fact that Android tries to use native rather than hls; I’ll check it but that’s my best guess based on what you described. I have comments on your branch, and I’ll post them later today. That would make the code cleaner and potentially solve your Android issue

[2022-08-28 18:43] afkcodes commented on #363
i am hopeful, thanks @rafa8626
Here is the older implementation of the hls player if you want to have a look at it: https://github.com/afkcodes/radio_india/blob/main/src/modules/player.ts

[2022-08-28 19:05] rafa8626 commented on #363
Yeah, this is using hls.js completely; I’ll give you the setup to mimic this on my comments

[2022-08-28 19:08] afkcodes commented on #363
sure thank again, this will be a great help.

[2022-08-28 19:20] afkcodes commented on #363
seems like this might be the issue, the hlsMediaAttached event is not being fired on android whereas in web its being called on the web.

[2022-08-28 19:29] rafa8626 commented on #363
Seems I can't post comments there; I can send you the modified file, but I'll need an email to send it to you. Let me know if that works for you

[2022-08-28 19:42] rafa8626 commented on #363
nvm I was able to post comments now :)

[2022-08-28 19:48] afkcodes commented on #363
have taken a latest pull from master

[2022-08-28 19:53] afkcodes commented on #363
Finally the issue got fixed, thanks @rafa8626 can you explain me what did i do wrong.

[2022-08-28 19:56] rafa8626 commented on #363
@afkcodes as I stated before, the player favors native playing; because of that, and because Android can play natively HLS, the player will try to play it as a regular source without HLS. So, in order to force HLS to play it, the `forceNative` should be set as false in the player configuration

[2022-08-28 20:01] rafa8626 commented on #363
Closing this issue now; once you have your project live, could you provide me a URL and logo to showcase it with the other projects that use OpenPlayerJS, please?

I'll release the next version next week, so you can use a proper version in your project. Thanks for your help as well :)

[2022-08-28 20:01] #363 closed

[2022-08-28 20:09] #358 closed

[2022-08-28 20:10] afkcodes commented on #363
Yeah will be more than happy to contribute in anyway i can the current project is just a prototype, i was trying multiple solutions that were not suiting my case and fortunately i found openPlayerJS this library is just superb. This needs more attention just keep the good work going and this will be the best audio utility.

will surely help you with logo and other stuff once i the project goes liv

[2022-08-28 20:10] rafa8626 commented on #353
@jpike88 here's a CodePen that showcases what you need: https://codepen.io/rafa8626/pen/JjLQNjo

I'll release the change next week and remove the unnecessary script from it

[2022-08-28 20:10] #353 closed

[2022-08-28 20:14] rafa8626 commented on #363
Yeah, the best way to help with this library is to continue testing it in different scenarios. I'm working on cleaning up code more and make it more robust and flexible, and that's where you could help me once I reach a good point to test it. I will still be working on getting better unit tests but it's always good to have a second pair of eyes on this.

If you have other friends that are on GitHu

[2022-08-28 20:22] afkcodes commented on #363
yes, sure i will surely help because what i am trying to make is going to i will come across more scenarios and will share it with you so that we can make this library a full fledged utility.

I will surely ask my friends to star the repo. And from the popularity prospect i am going to make a youtube tutorial for making a online radio website using openPlayerJS. and surely will think more ways for

[2022-08-28 20:27] rafa8626 commented on #363
I truly appreciate your help on this :) Let me know if something else comes up

[2022-08-28 20:36] afkcodes commented on #363
sure thank you again :)

[2022-08-28 20:39] afkcodes commented on #363
![Screenshot 2022-08-29 at 2 07 53 AM](https://user-images.githubusercontent.com/17390257/187093577-b86aff1b-2189-42d2-a340-598b94988bc8.png)

@rafa8626 Sometimes i get this error, do you know why this happens only the error appears but playback doesn't seems to be affected in anyway.

[2022-08-28 20:41] rafa8626 commented on #363
That seems to be an streaming error processed by HLS; I'd enclose this call within a setTimeout and give it like 200 ms before loading it and see if that helps

[2022-08-28 20:42] afkcodes commented on #363
![Screenshot 2022-08-29 at 2 11 35 AM](https://user-images.githubusercontent.com/17390257/187093705-0f77a9d5-3292-44a2-9511-dc2df7f3910e.png)

and this is more frequent but, playback is fine

[2022-08-28 20:44] afkcodes commented on #363
this is not an hls audio this is an mp3 or aac i guess

[2022-08-28 20:44] rafa8626 commented on #363
I'll check this, because it's pointing to the HTML5 media type for some reason

[2022-08-28 20:45] rafa8626 commented on #363
can you tell me which source is the one throwing this error?

[2022-08-28 20:45] afkcodes commented on #363
Here is the Source: https://funasia.streamguys1.com/live4

[2022-08-28 20:47] afkcodes commented on #363
![Screenshot 2022-08-29 at 2 16 57 AM](https://user-images.githubusercontent.com/17390257/187093885-4580e045-60f4-45e1-bc10-58f97a1f17b7.png)

This is this one in my app

[2022-08-28 21:07] rafa8626 commented on #361
@JustinWebDev I fixed the issue but due to some policies, I have to mute the video for Chrome and Edge, but that seemed to work. Thanks again for reporting this.

[2022-08-28 21:07] #361 closed

[2022-08-28 21:31] rafa8626 commented on #363
I can't replicate the error on my end; all plays as expected. The error seems to have something to do with the streaming itself

[2022-08-29 00:14] JustinWebDev commented on #361
Follow-up:
"For HTML5 elements, you MUST have at least two different sources inside the video/audio tag and each MUST include a _unique_ title, **that in turn must be unique as well**."  Redundant?

Look at this https://github.com/openplayerjs/openplayerjs/blob/master/docs/usage.md#configuration-options all jumbled up.

I don't see any diff for the image in https://github.com/openplayerjs/openplay

[2022-08-29 00:18] rafa8626 commented on #361
@JustinWebDev I didn’t change any images because in the end I made a note about the layers and how they are when we set top and bottom.
I’ll make the correction in a bit. Thanks for noticing it

[2022-08-29 00:23] rafa8626 commented on #361
@JustinWebDev just made the change for it

[2022-08-29 12:37] afkcodes commented on #363
thanks for confirming this.

[2022-08-29 22:45] JustinWebDev commented on #361
usage.md:  Is this description text correct?
![image](https://user-images.githubusercontent.com/40804543/187310591-d6d766a9-81e6-4223-b968-b9fdd8a0e872.png)

Sorry for being dunce, but how does a note about top and bottom controls explain how left-middle-right is not as shown in the diagram?  After playing with your codepen, it looks like the progress control is treated in a special way.  Maybe yo

[2022-08-30 10:08] rafa8626 commented on #361
@JustinWebDev I’ll add the note about CSS modifying the look of the progress bar but semantically it’s in the middle. I’ll add that later today

[2022-08-30 21:18] JustinWebDev commented on #361
Well, compare this:
[code]
![image](https://user-images.githubusercontent.com/40804543/187544433-863fc7a0-cce8-4b51-bbd1-4c71b2efb6e1.png)

to this:
[code]
![image](https://user-images.githubusercontent.com/40804543/187544517-db57f84a-9a66-49b9-bf90-70bed348e210.png)

The second reflects the diagram depiction (though one may argue that 'middle' should also be centered between left and right).  Sam

[2022-08-31 05:42] afkcodes opened #364 "Error Event Leaks even though the playererror event listener is attached."
**Describe the bug**
The player logs the error event though the playererror event listener is attached, ideally the player should log the errors when the error event is attached and should not leak it. The playererror events should capture all the events once its defined.

**To Reproduce**
Steps to reproduce the behavior:
attach event listener to the player and wait for the error to happen it will

[2022-08-31 10:44] rafa8626 commented on #364
@afkcodes can you provide me a CodePen where I can see this in action? I need to determine why are you seeing this

[2022-08-31 16:37] afkcodes commented on #364
sure @rafa8626 was out the whole day will try to make a repro and will update it here

[2022-08-31 19:13] rafa8626 commented on #361
@JustinWebDev I added a new section to explain this and some other details; let me know if that works

[2022-08-31 22:17] JustinWebDev commented on #361
Yep.  Thanks for the attention.

[2022-09-05 04:50] afkcodes commented on #364
@rafa8626 This is the codebase: https://github.com/afkcodes/radio_india
and this is the output: https://indiafm.vercel.app

[2022-09-07 01:29] rafa8626 commented on #364
@afkcodes is there any stream that I have to click on in particular to reproduce the issue?

[2022-09-07 03:06] afkcodes commented on #364
no just do a random click on some of the streams and see the console.

[2022-09-07 13:52] rafa8626 commented on #364
@afkcodes I can't see what you described, I can see only a playererror event
<img width="1485" alt="Screen Shot 2022-09-07 at 9 51 36 AM" src="https://user-images.githubusercontent.com/910829/188895576-ae020ce0-597d-4679-9fdc-1dd4344b4592.png">

[2022-09-12 13:59] afkcodes commented on #364
will recheck this @rafa8626

[2022-09-16 08:46] geichelberger opened #366 "ES6/AMD *.default is not a constructor"
**Describe the bug**

Since version 2.10, I get the following error `Uncaught TypeError: _openplayer.default is not a constructor`, version 2.9.4 is working fine.

**To Reproduce**
[code]
Looking at the debugger, you can see that default is undefined, which was not the case in version 2.9.4.
![grafik](https://user-images.githubusercontent.com/35195803/190593106-f593e126-95ae-4251-9289-864251ce8567

[2022-09-16 10:20] rafa8626 commented on #366
@geichelberger thanks for bringing this up; I’ll check what changed in the configuration.

Can you give the project a star to show your support please?

And if your project is live, could you provide me a url and a logo so I can showcase it in the oncoming 3.x.x versión please?

Thanks

[2022-09-16 10:31] rafa8626 commented on #366
@geichelberger I checked your screenshot again; we deprecated OpenPlayer in favor of OpenPlayerJS. Can you try that and let me know if that works for you?

[2022-09-16 10:37] geichelberger commented on #366
I tried that already. It makes no difference. Isn't that just a name you can define that will refer to the module's default export?

[2022-09-16 10:43] rafa8626 commented on #366
You are totally right. I was thinking more in terms of the global variable available in the browser. I’ll check the configurations and see what changed. Also, do you have a CodePen where I can see the issue?

[2022-09-16 15:39] geichelberger commented on #366
ES6 in codepen is working  🙈 maybe its caused by the AMD part, the ES6 syntax gets translated into an AMD syntax, thats the result:

[code]

[2022-09-16 17:22] fabiomagnoni commented on #72
Hello I'm using IMA SDK and I'm getting this kind of error only on mobile, what was the issue you faced to solve this problem?

[2022-09-17 11:31] rafa8626 commented on #366
Did you post the CodePen? I’d like to use it when I review the issue and verify it works as expected

[2022-09-20 01:41] rafa8626 commented on #366
@geichelberger I made one commit that may fix your issue; please download the latest version of master and let me know if it works for you

[2022-09-20 02:13] rafa8626 commented on #366
No, something is still not right. I need to check the Webpack configuration to determine where is it broken

[2022-09-21 02:08] #366 closed

[2022-09-21 02:10] rafa8626 commented on #366
@geichelberger please download the master branch and test it; I figured out what was the problem: the configuration changed for Webpack 5 and the name of the library was not complaint to what is expected. Once I changed the name and adapted the configuration to generate a library, the default is generated correctly. Thanks for reporting this

[2022-09-21 10:40] rafa8626 commented on #364
Closing this since more than 7 days of inactivity had passed. If this issue is still valid, we’ll reopen it. Thanks

[2022-09-21 10:40] #364 closed

[2022-09-21 14:41] afkcodes commented on #364
Thanks i was not able to reproduce at my side again will update if it happens again @rafa8626

[2022-09-22 14:13] geichelberger commented on #366
Sorry, I was busy the last few days. I can confirm it's working again. Thank you!
Our Logo is already present in the README.

[2022-09-22 14:14] rafa8626 commented on #366
Great! Thanks again for reporting this.
I’ll deploy this tomorrow

[2022-09-29 17:15] pd-pranay opened #367 "Question: How to destroy player ?"
How to delete player instance after ad is done playing ? @rafa8626

[2022-09-30 01:14] rafa8626 commented on #367
@pd-pranay you can use an event for it: `adsallAdsCompleted`. So, as an example:

[code]

That event will execute once all the ads in your XML are executed.

Thanks for using this player!

[2022-09-30 01:14] #367 closed

[2022-09-30 08:16] pd-pranay commented on #367
Thanks, also [#240](https://github.com/openplayerjs/openplayerjs/issues/240) is this the only way to handle outstream ads ?

[2022-09-30 10:28] rafa8626 commented on #367
Yes, for now. I’ll explore other alternatives in the near future

[2022-09-30 10:48] pd-pranay commented on #367
Thanks for mentioning,
I'm not able to destroy player instance, here's my code pen link [CodePen](https://codepen.io/pd_pranay/pen/rNvdvPY)
can you have a look ?

[2022-10-01 03:00] rafa8626 commented on #367
Yeah I’ll check it and get back to you

[2022-10-01 15:29] rafa8626 commented on #367
@pd-pranay the error was in how the event was defined; it should be this way
[code]
I tested it and that way the player is destroyed

[2022-10-03 07:49] pd-pranay commented on #367
My end goal is to dispose / destroy the player when adsallAdsCompleted or the video ends.

[2022-10-03 15:24] rafa8626 commented on #367
@pd-pranay I tested your CodePen in a Mac laptop (enabling and disabling the AdBlocker) and I can see it working in both scenarios
<img width="1510" alt="Screen Shot 2022-10-03 at 11 23 39 AM" src="https://user-images.githubusercontent.com/910829/193615634-e3609b4d-824f-4dcf-ae0a-1a4b1523238c.png">
<img width="1511" alt="Screen Shot 2022-10-03 at 11 23 59 AM" src="https://user-images.githubusercon

[2022-10-03 17:12] rafa8626 commented on #367
The destroy method just destroys the player instance but not the video tag itself; you need to do that on your own

[2022-10-03 18:18] pd-pranay commented on #367
oh okay, my bad thanks for the help.

[2022-10-03 18:41] pd-pranay commented on #367
by any chance do you have vpaid ad script that works well with this player ?
SImilar to [this](https://github.com/ryanthompson591/vpaidExamples/blob/master/playVideo/VpaidVideoAd.js)

[2022-10-04 01:43] rafa8626 commented on #367
I believe this is what IMA SDK uses: https://github.com/googleads/googleads-ima-html5/blob/main/vpaid/linear/VpaidVideoAd.js

[2022-10-04 09:36] pd-pranay commented on #367
Thanks very much

[2022-10-04 16:43] DamianDugan opened #368 "Playback is blocked on iOS when ads are loaded dynamically"
**Describe the bug**
If ads are both loaded and played dynamically through the loadAd / getAd.play() methods, the playback gets blocked on iOS and I get the following error :
AdError 1205: The browser prevented playback initiated without user interaction.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a media src for the player
2. When the user clicks on the play button, use the loadAd

[2022-10-04 21:18] rafa8626 commented on #368
@DamianDugan I don’t think there’s much I can do about it since the error itself it’s pretty clear: the user must perform an action before playing the ads. This goes hand in hand with the browser’s autoplay policies and that can’t be bypassed. Even autoplay is discouraged in many situations now

[2022-10-05 01:38] rafa8626 commented on #368
@DamianDugan what’s the issue with the empty xml tag, just so I can check it and determine how to handle it?

[2022-10-05 15:23] DamianDugan commented on #368
Thank you for such a quick answer.

I'm not advocating for actually autoplaying the audio, in my example the ads would be played after the user clicks on the play button.

The problem with Safari / iOS is that the getAd.play() method has no relation or context that binds it to the play button as far as i'm aware. Providing context through the WebAudio API might be a solution for playback that gets

[2022-10-07 01:40] rafa8626 commented on #368
If you can give me a CodePen where I can see your implementation to check what can I do to help, I’d appreciate it

[2022-10-08 10:56] rafa8626 commented on #368
@DamianDugan thanks for the CodePen; I’ll try to check this during the week. I’ve been busier than usual, but I’ll keep you posted

[2022-10-18 07:32] DamianDugan commented on #368
Did you have a chance to take a look at it ?

[2022-10-18 10:08] rafa8626 commented on #368
Not yet; I’ll try to check this today

[2022-10-18 20:17] rafa8626 commented on #368
@DamianDugan please download the master branch and let me know if the changes I made will work for your case

[2022-10-24 01:44] rafa8626 commented on #368
@DamianDugan sorry if I misunderstood the issue. I actually moved the code to the play button, rather than the play event. See if that works for you. Otherwise, I’ll wait for your example this week

[2022-10-24 07:14] DamianDugan commented on #368
https://codepen.io/rafa8626/pen/OJZBvYN

Is it still this codepen ? If so i still see the event listener on the "play" event rather than "click" on play button.

[2022-10-24 10:25] rafa8626 commented on #368
@DamianDugan the CDN has the previous version cached. Please download the master branch and test it on your side. The workaround is now on the button

[2022-10-25 14:10] DamianDugan commented on #368
I've tested the master branch, it seems like my idea of adding the autoplay attribute was unsuccessful, feel free to revert the changes.

I have a reproduction of the bug but it contains sensitive info that i'm not willing to share publicly. Is there any private channel I could use to reach you ?

[2022-10-25 14:11] rafa8626 commented on #368
You can email me directly: rafa8626@gmail.com. I’ll delete this comment once you reach out

[2022-11-04 16:57] #289 closed

[2022-11-08 16:18] afkcodes opened #369 "Async Playback is getting blocked on Safari and iOS"
**Describe the bug**
I am trying to fetch the audio url and then play with openplayer but it throws an error
`
Unhandled Promise Rejection: NotAllowedError: The request is not allowed by the user agent or the platform in the current context, possibly because the user denied permission.
`

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to (https://radio-india-afkcodes.vercel.app/)
2. Clic

[2022-11-13 18:51] rafa8626 commented on #369
@afkcodes the URL you provided is down. I can check the last commit but it will be more beneficial to see the issue in action

[2022-11-14 19:49] afkcodes commented on #369
hello @rafa8626 the url is working fine at my end. can you please check or attach a screenshot.

[2022-11-15 11:26] rafa8626 commented on #369
@afkcodes yes now it’s up. I’ll check it and get back to you

[2022-11-15 17:21] afkcodes commented on #369
thanks @rafa8626

[2022-11-15 19:45] rafa8626 commented on #369
@afkcodes I don't see any issues with your code and I haven't seen the issue you described in your site using iOS; the only one I've seen is related to Network errors. I would say that your code is fine, but you do need to introduce a UI element to wait for the response back before audio starts playing, because if it takes longer than expected to get the URL processed by the server, the user can t

[2022-11-15 19:45] #369 closed

[2022-11-25 16:35] EastSun5566 opened #370 "DRM Support for FairPlay"
Hi OpenPlayerjs team,

Just want to quickly ask does the player support HLS with FairPlay?

Thanks for your help!

[2022-11-25 16:56] rafa8626 commented on #370
@EastSun5566 do you have an example
To test if the player can play it?

[2022-11-25 16:57] rafa8626 commented on #368
@DamianDugan closing this for now; after your tests, if it’s still present I’ll reopen it

[2022-11-25 16:57] #368 closed

[2022-11-25 17:24] EastSun5566 commented on #370
Hi @rafa8626,

After I dig into the source code a little bit. I found out you use hls.js internally.
Unfortunately, hls.js [does not support FairPlay](https://github.com/video-dev/hls.js/#not-supported) yet.

Thanks for the quick response! I will close the issue.

[2022-11-25 17:24] #370 closed

[2022-11-26 21:39] rafa8626 commented on #370
@EastSun5566 you are welcome. Could give this project a star to show your support, please?

[2022-11-27 13:15] EastSun5566 commented on #370
@rafa8626 I already starred it 😊

[2022-11-27 13:50] rafa8626 commented on #370
Thanks :)